<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
#parse('/utils.vm')
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="/rigel-unique/crm-static/sc-sale/css/global.css" type="text/css">
<link rel="stylesheet" href="/rigel-unique/crm-static/sc-sale/css/sale.css" type="text/css">
<script type="text/javascript" src="/rigel-unique/crm-static/core/core.js"></script>
<script type="text/javascript" src="/rigel-unique/crm-static/core/ui.js"></script>
<script type="text/javascript" src="/rigel-unique/crm-static/sc-sale/js/table.js"></script>
</head>
<body>
<div class="nav"><p>当前位置：规则设置</p></div>
<div class="wrapper">
<div class="tag-zone air">
    <div class="tag-head">
	<div class="tag-head-tag current">
	    <div class="area-w"></div>
	    <div class="area-v"></div>
	    <p>规则设置</p>
	</div>
	<div class="tag-head-tag">
	    <div class="area-w"></div>
	    <div class="area-v"></div>
	    <p>
		<a href="$urlCoreWord">特定词设置</a>
	    </p>
	</div>
    </div>
    <div class="area-w"></div>
    <div class="tag-v"></div>
    <div class="tag-cont">
	#if($errorMessage)
	    <div class="mess">
	    <div class="area-w"></div>
	    <div class="area-v"></div>
	    <div class="area icon-warning fieldErr">
		$errorMessage
	    </div>
	    <div class="area-v"></div>
	    <div class="area-w"></div>
	    </div> 
	    <br/>
	#end
	<div class="mess-query">
	    <div class="area-w"></div>
	    <div class="area-v"></div>
	    <div class="area area-inner">
		<form action="$coreWordRuleModAction" method="post">
		    <table cellpadding="5">
			<tr>
			    <td>#list('coreWordRuleSel', $coreWordRuleList, "", "checkbox")</td>
			</tr>
			<tr>
			    <td><input class="btn-g" type="submit" value="确定" /></td>
			</tr>
		    </table>
		</form>
	    </div>
	    <div class="area-v"></div>
	    <div class="area-w"></div>
	</div>
    </div>
    <div class="area-v"></div>
    <div class="area-w"></div>
</div>
</div>
</body>
</html>
