<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- 非Annotation时,使用org.springframework.orm.hibernate3.LocalSessionFactoryBean,
        它注入实体类的方式是setMappingResources(),而Hibernate Annotation所用的映射方式
        不是mapping resource,而是mapping class,这就要用到LocalSessionFactoryBean的子类
        AnnotationSessionFactoryBean了.因为AnnotationSessionFactoryBean它支持实体的注入
        方式setAnnotatedClasses,即对应Hibernate中的mapping class.参见这两个类的源代码. -->
	<!--
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">	
	-->
	
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="mappingResources">
			<list>
		    	<value>com/anders/ssh/model/Area.hbm.xml</value>
		    	<value>com/anders/ssh/model/Data.hbm.xml</value>
		    	<value>com/anders/ssh/model/House.hbm.xml</value>
		    	<value>com/anders/ssh/model/RentHouse.hbm.xml</value>
		    	<value>com/anders/ssh/model/SecondHandHouse.hbm.xml</value>
		    	<value>com/anders/ssh/model/User.hbm.xml</value>
		    	<value>com/anders/ssh/model/Role.hbm.xml</value>
		    	<value>com/anders/ssh/model/UserGroup.hbm.xml</value>
		    	<value>com/anders/ssh/model/Resource.hbm.xml</value>
		    </list>
		</property>
		<!--  
		<property name="annotatedClasses">
			<list>
		    	<value>model.Tb_user</value>
		    </list>
		</property>
	    -->
	    <property name="hibernateProperties">
	    	<props>
	    		<prop key="hibernate.dialect">${dialect}</prop>
	    		<prop key="hibernate.show_sql">${show.sql}</prop>
	    		<prop key="hibernate.format_sql">${format.sql}</prop>
	    		<prop key="hibernate.hbm2ddl.auto">${hbm2ddl}</prop>
	    	</props>
	    </property>
	    <!--  
	    <property name="packagesToScan" value="model"/>
	    -->
	</bean>
	
	<bean id="txManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
	  	<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
</beans>
