	.ec-vscroll {background:#F2F8EE;width:15px;padding:15px 0px 15px 0px;font-size:1px}
	.ec-hscroll {background:#F2F8EE;height:15px;padding:0px 15px 0px 15px;font-size:1px}
	.ec-hscroll-block {background:url(img/hscroll.gif) -2px -30px repeat-x}
	.ec-vscroll-block {background:url(img/scroll.gif) 0px 0px repeat-y}
	.ec-hscroll-block-over {background:url(img/hscroll.gif) -0px -45px repeat-x}
	.ec-hscroll-block-press {background:url(img/hscroll.gif) -0px -60px repeat-x}
	.ec-vscroll-block-over {background:url(img/scroll.gif) -15px 0px repeat-y}
	.ec-vscroll-block-press {background:url(img/scroll.gif) -30px 0px repeat-y}
	.ec-vscroll-prev {background:url(img/scroll.gif) -45px -40px no-repeat;}
	.ec-vscroll-prev-over {background:url(img/scroll.gif) -75px -40px no-repeat;}
	.ec-vscroll-prev-press {background:url(img/scroll.gif) -60px -40px no-repeat;}
	.ec-vscroll-next {background:url(img/scroll.gif) -45px -55px no-repeat;}
	.ec-vscroll-next-over {background:url(img/scroll.gif) -75px -55px no-repeat;}
	.ec-vscroll-next-press {background:url(img/scroll.gif) -60px -55px no-repeat;}
	.ec-hscroll-prev {background:url(img/scroll.gif) -45px -85px no-repeat;}
	.ec-hscroll-prev-over {background:url(img/scroll.gif) -75px -85px no-repeat;}
	.ec-hscroll-prev-press {background:url(img/scroll.gif) -60px -85px no-repeat;}
	.ec-hscroll-next {background:url(img/scroll.gif) -45px -70px no-repeat;}
	.ec-hscroll-next-over {background:url(img/scroll.gif) -75px -70px no-repeat;}
	.ec-hscroll-next-press {background:url(img/scroll.gif) -60px -70px no-repeat;}

	.vsblockdtr {padding:2px 0px}
	.vsblockdtr-top {background:url(img/scroll.gif) -45px 0px no-repeat}
	.vsblockdtr-bottom {background:url(img/scroll.gif) -45px -18px no-repeat}
	.vsblockdtr-over .vsblockdtr-top {background:url(img/scroll.gif) -45px -20px no-repeat}
	.vsblockdtr-over .vsblockdtr-bottom {background:url(img/scroll.gif) -45px -38px no-repeat}
	.vsblockdtr-press .vsblockdtr-top {background:url(img/scroll.gif) -60px 0px no-repeat}
	.vsblockdtr-press .vsblockdtr-bottom {background:url(img/scroll.gif) -60px -38px no-repeat}
	.ec-panel-disabled .vsblockdtr div {display:none}

	.hsblockdtr {padding:0px 2px}
	.hsblockdtr-left {background:url(img/hscroll.gif) -60px 0px no-repeat}
	.hsblockdtr-right {background:url(img/hscroll.gif) -18px 0px no-repeat}
	.hsblockdtr-over .hsblockdtr-left {background:url(img/hscroll.gif) -40px -0px no-repeat}
	.hsblockdtr-over .hsblockdtr-right {background:url(img/hscroll.gif) -38px -0px no-repeat}
	.hsblockdtr-press .hsblockdtr-left {background:url(img/hscroll.gif) -40px -15px no-repeat}
	.hsblockdtr-press .hsblockdtr-right {background:url(img/hscroll.gif) -38px -15px no-repeat}
	.ec-panel-disabled .hsblockdtr div {display:none}


	.ec-locked-table {border:1px solid #9CD167;padding-top:23px;background-color:#DCEFD1}
	.ec-locked-table .checkbox {padding-left:0px;padding-right:0px;}
	.ec-locked-table .checkbox-item {padding-left:0px;padding-right:0px;}
	.ec-locked-table table {border-collapse:collapse;border-spacing:0px}
	.ec-locked-table-layout {background:#FFF;color:#333}
	.ec-locked-table-head{font-weight:normal;color:#326700;padding:6px 5px;padding-right:12px;background-color:#DCEFD1;line-height:15px;white-space:nowrap;border-left:1px solid #CCE9B9;border-bottom:1px solid #B2DA9D;/*height:27px;*/overflow:hidden;word-wrap:normal;word-break:keep-all}
	.ec-locked-table-item {*height:15px;line-height:15px;padding:5px 5px;padding-right:12px;border-left:1px solid #CCE9B9;word-break:break-all;white-space:normal;overflow:hidden}

	.ec-locked-table-row .od td{background-color:#FFF;}
	.ec-locked-table-row .ev td{background-color:#F2F8EE;}
	.ec-locked-table-row .od td.dk{background-color:#EAF1E2;}
	.ec-locked-table-row .ev td.dk{background-color:#DDE9D0;}
	/*.ec-locked-table-row .dk{background-color:#DDE9D0;}*/

	.ec-locked-table-row-over .ev .ec-locked-table-item,.ec-locked-table-row-over .ev td.dk,
	.ec-locked-table-row-over .od .ec-locked-table-item,.ec-locked-table-row-over .od td.dk,
	.ec-locked-table-row-focus .ev .ec-locked-table-item,.ec-locked-table-row-focus .ev td.dk,
	.ec-locked-table-row-focus .od .ec-locked-table-item,.ec-locked-table-row-focus .od td.dk,
	.ec-locked-table-row-focus .ec-locked-table-item,
	.ec-locked-table-row-over .ec-locked-table-item
	{background-color:#FFFCE2}

	/*.ec-locked-table-row .last,
	.ec-locked-table-area .last{
		border-right:0 none;
		border-left:1px solid #9CD167;
	}
	.ec-locked-table-row .scd-last,
	.ec-locked-table-area .scd-last{
		border-right:0 none;
	}*/
	.ec-locked-table-row .first,
	.ec-locked-table-area .first{
		border-left:0 none;
	}
	
	/*排序*/
	.ec-locked-table-area .sort,
	.ec-locked-table-area .sort-over,
	.ec-locked-table-area .sort-focus{
		text-align:left;
		cursor:pointer;
		background:url(img/table.gif) no-repeat 93% -33px;
	}	
	.ec-locked-table-area .sort-over{
		background-color:#F6FFB8;
	}
	.ec-locked-table-area .sort-up,
	.ec-locked-table-area .sort-down{	
		cursor:pointer;			
		text-align:right;
		background:#F6FFB8 url(img/table.gif) no-repeat 93% -33px;
	}
	

	/*.ec-locked-table-area .sort div,
	.ec-locked-table-area .sort-over div,
	.ec-locked-table-area .sort-up div,
	.ec-locked-table-area .sort-down div{
		width:9px;
		height:11px;
		background:url(img/table.gif) no-repeat -38px 0px;
		margin-left:4px;
		vertical-align:top;
		position:absolute;
		right:2px;
		top:6px;
		overflow:hidden;
	}*/
	.ec-locked-table-area .sort-up {
		background-position:93% -63px;
	}
	.ec-locked-table-area .sort-down {
		background-position:93% -93px;
	}

	.ec-locked-table-row .op{text-align:center;border:0 none;border-left:1px solid #9CD167}

	/*复选框*/
	.ec-checkbox {background:url(img/cr.gif) 0px 0px no-repeat;width:17px;height:15px}
	.ec-checkbox-display {background:url(img/cr.gif) -34px 0px no-repeat;}
	.ec-checkbox-over {background:url(img/cr.gif) -17px 0px no-repeat;}
	.ec-checkbox-checked {background:url(img/cr.gif) -34px 0px no-repeat}
	.ec-checkbox-checked-over {background:url(img/cr.gif) -51px 0px no-repeat}
	.ec-checkbox-part {background:url(img/cr.gif) -102px 0px no-repeat}

	/*展开按钮(上)*/
	.ec-col-toggler,.ec-col-toggler-o{width:17px;height:20px;top:2px;right:0;background:#DCEFD1 url(img/table.gif) no-repeat 0px 0px;cursor:pointer;position:absolute}
	.ec-col-toggler-o{background-position:-22px 0px}

	/*展开按钮(下)*/
	.ec-v-toggler{
		width:15px;background:#EAF1E2;
		position:absolute;right:0;bottom:0;
		_right:-1px;
		cursor:pointer;
		border-left:1px solid #9CD167;
		/*border-right:1px solid #9CD167;*/
	}
	.ec-v-toggler div{
		width:9px;
		height:10px;
		overflow:hidden;;
		background:url(img/table.gif) no-repeat -8px -22px; 
		position:absolute;
		right:3px;
		bottom:50%;
		_padding-top:50%;
		cursor:pointer;
	}
	.ec-v-toggler-over{background-color:#DDE9D0}
	
	/*验证*/
	.valid-error .ev td.ec-locked-table-item,
	.valid-error .od td.ec-locked-table-item{
		background-color:pink;
	}
	/*分页*/
	#ec-page a,
	#ec-page b{
		margin:0;
		text-indent:0;
		display:inline-block;
		*display:inline;
		zoom:1;
		height:20px;
		line-height:20px;
		background:url(img/table.gif) repeat-x 0 -150px;
		border:1px solid #648D4A;
		padding:0 3px;
		text-decoration:none;
		color:#648D4A;
	}
	#ec-page a:hover{
		background-position:0 -176px;
	}
	#ec-page .page-n{
		width:20px;
		text-align:center;
		padding:0;
	}
	#ec-page b{
		background-image:none;
		color:#666;
		background-color:#EEE;
		font-weight:normal;
	}
	#ec-page b.page-n{
		background-image:none;
		background-color:#FFF;
		color:#000;
		font-weight:bold;
	}
	#ec-page {
		color:#648D4A;
		margin:10px 0 0 0 ;
	}
	#ec-page em{
		font-style:normal;
		color:#000;
		padding:0 3px;
	}
	#targetPage{
		width:25px;
	}
