<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
#parse('/utils.vm')
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="/rigel-unique/crm-static/sc-sale/css/global.css" type="text/css">
<link rel="stylesheet" href="/rigel-unique/crm-static/sc-sale/css/sale.css" type="text/css">
<script type="text/javascript" src="/rigel-unique/crm-static/core/core.js"></script>
<script type="text/javascript" src="/rigel-unique/crm-static/core/calendar.js"></script>
<script type="text/javascript" src="/rigel-unique/crm-static/core/ui.js"></script>
<script type="text/javascript" src="/rigel-unique/crm-static/sc-sale/js/table.js"></script>
<script type="text/javascript" src="/rigel-unique/crm-static/sc-sale/js/sale.js"></script>
<style type="text/css">
html {background:#F3FBEC}
.tel, .mb {margin-bottom:3px}
.mb .fieldErr, .tel .fieldErr {margin-left:3px}
.tempale {display:none}
.clearInput {margin-left:10px}
</style>
</head>
<body>
	#if($errorMessage)
	<div class="mess">
	    <div class="area-w"></div>
	    <div class="area-v"></div>
	    <div class="area icon-error">
		<div class="area-inner" style="color:#F00">$errorMessage</div>
	    </div>
	    <div class="area-v"></div>
	    <div class="area-w" style="margin-bottom:10px"></div>
	</div>
	#end
	
	#if($modMessage)
	<div class="mess">
	    <div class="area-w"></div>
	    <div class="area-v"></div>
	    <div class="area icon-warning">
		<div class="area-inner">$modMessage</div>
	    </div>
	    <div class="area-v"></div>
	    <div class="area-w" style="margin-bottom:10px"></div>
	</div>
	#end
	
	<div class="mess-query">
	    <div class="area-w"></div>
	    <div class="area-v"></div>
	    <div class="area">
		<div class="area-inner">
		    <form id="modForm" name="modForm" method="post" onsubmit="return chkModForm(this);" action="$seasonCustModAction">
			<table cellpadding="3">
			    <tr>
				<td width="70">公司名称：</td>
				<td><input name="custName" value="$!custName" maxlength="200" readonly="readonly" size="34"/>&nbsp;<span class="fieldErr" id="custNameErr"></span></td>
			    </tr>
			    <tr>
				<td>网站URL：</td>
				<td><input name="url" value="$!url" maxlength="210" size="34" readonly="readonly" />&nbsp;<span class="fieldErr" id="urlErr"></span></td>
			    </tr>
			    <tr>
				<td>到期日期：</td>
				<td><input type="text" class="time" name="invalidate" value="$!dateUtils.formatDate($invalidate, $accurate2Day)" id="invalTime" /><a href="#" class="clearInput" onclick="clearInput('invalTime');return false">清空</a></td>
			    </tr>
			    <tr>
				<td>联系电话：</td>
				<td>
				    #set($tel='')
				    #set($mobile='')
				    #set($telIndex = 1)
				    #set($mobileIndex = 1)
				    #foreach($item in $phoneList)
					#if($item.phoneType == 0)
					    #set($tel = $tel + '<p pass="ok" class="tel add">座机&nbsp;<input value="' + $!item.phoneAreacode +'" onblur="chkTel(this)" name="phoneAreacode" maxlength="4" size="4"/>&nbsp;-&nbsp;<input onblur="chkTel(this)" value="' + $!item.phoneNum +'" name="phoneNum" maxlength="8" />&nbsp;-&nbsp;<input onblur="chkTel(this)" name="phoneExtend" value="'+ $item.phoneExtend +'" maxlength="8" size="4" />')
					    ## 如果是第一个元素则添加“添加”按钮
					    #if($telIndex == 1)
						#set($tel = $tel + '<a name="addPhone" href="#" onclick="addPhone();return false;">添加</a>')
					    #end
					    #set($tel = $tel + '<a class="remove" href="#" onclick="delExtTel(this);return false;">删除</a>&nbsp;<span class="fieldErr"></span><input type="hidden" name="idPhones" value="'+ $item.id + '" /></p>')
					    #set($telIndex = $telIndex + 1)
					#else
					    #set($mobile = $mobile + '<p pass="ok" class="mb add">手机&nbsp;<input value="' + $!item.phoneNum + '" onblur="chkMobile(this)" name="mobilephone" maxlength="11" />')
					    ## 如果是第一个元素则添加“添加”按钮
					    #if($mobileIndex == 1)
						#set($mobile = $mobile + '<a name="addPhone" href="#" onclick="addMobile();return false;">添加</a>')
					    #end
					    #set($mobile = $mobile + '<a class="remove" href="#" onclick="delExtMobile(this);return false;">删除</a>&nbsp;<span class="fieldErr"></span><input type="hidden" name="idMobiles" value="'+ $item.id + '" /></p>')
					    #set($mobileIndex = $mobileIndex + 1)
					#end
				    #end
				    <div id="telArea">
					#if($telIndex == 1)
					    <p pass="empty" class="tel add">座机&nbsp;<input onblur="chkTel(this)" name="phoneAreacode" maxlength="4" size="4"/>&nbsp;-&nbsp;<input name="phoneNum" maxlength="8" onblur="chkTel(this)" />&nbsp;-&nbsp;<input  onblur="chkTel(this)" name="phoneExtend" maxlength="8" size="4" /><a name="addPhone" href="#" onclick="addPhone();return false;">添加</a>&nbsp;<span class="fieldErr"></span><input type="hidden" name="idPhones" /></p>
					#else
					    $tel
					#end
				    </div>
				    <div id="mobileArea">
					#if($mobileIndex == 1)
					    <p pass="empty" class="mb add">手机&nbsp;<input onblur="chkMobile(this)" name="mobilephone" maxlength="11" /><a href="#" onclick="addMobile();return false;">添加</a>&nbsp;<span class="fieldErr"></span><input type="hidden" name="idMobiles" /></p>
					#else
					    $mobile
					#end
				    </div>
				    <span class="fieldErr" id="phoneErr"></span>
				</td>
			    </tr>
			    <tr>
				<td colspan="2"><input class="btn-g" type="submit" value="修改" /><span class="tip-r" id="tips"></span></td>
			    </tr>
			</table>
			<input type="hidden" name="id" value="$id" />
		    </form>
		</div>
	    </div>
	    <div class="area-v"></div>
	    <div class="area-w"></div>
	</div>
    
    <!-- 以下模板修改时请注意相关函数chkTel与chkMobile --!>
    <textarea class="tempale" id="telTemplate">
	<p pass="empty" class="tel remove">座机&nbsp;<input onblur="chkTel(this)" name="phoneAreacode" maxlength="4" size="4"/>&nbsp;-&nbsp;<input name="phoneNum" maxlength="8" onblur="chkTel(this)" />&nbsp;-&nbsp;<input onblur="chkTel(this)" name="phoneExtend" maxlength="8" size="4" /><a href="#" onclick="delPhone(this); return false;">删除</a>&nbsp;<span class="fieldErr"></span><input type="hidden" name="idPhones" /></p>
    </textarea>
    <textarea class="tempale" id="mobileTemplate">
	<p pass="empty" class="mb remove">手机&nbsp;<input onblur="chkMobile(this)" name="mobilephone" maxlength="11" /><a href="#" onclick="delPhone(this);return false;">删除</a>&nbsp;<span class="fieldErr"></span><input type="hidden" name="idMobiles" /></p>
    </textarea>
    <div class="template" id="tempArea"></div>

<script type="text/javascript">
function clearInput() {
    var ids = Array.prototype.slice.call(arguments);
    for (var i = 0, len = ids.length; i < len; i++) {
	G(ids[i]).value = '';
    }
}
RangeCalendar.init({
    "beginDate" : "invalTime",
    "endDate"   : false,
    "splitter"  : "-",
    "editable"  : false,
    "past"	: false, 
    "future"	: true
});

function addPhone() {
    var div = G('telArea');
    var tem = G('telTemplate');
    var temp = G('tempArea');
    var p;
    temp.innerHTML = tem.value;
    p = temp.getElementsByTagName('p')[0];
    temp.removeChild(p);
    div.appendChild(p);
}

function addMobile() {
    var div = G('mobileArea');
    var tem = G('mobileTemplate');
    var temp = G('tempArea');
    var p;
    temp.innerHTML = tem.value;
    p = temp.getElementsByTagName('p')[0];
    temp.removeChild(p);
    div.appendChild(p);
}

function delPhone(ele) {
    var ele = ele.parentNode;
    var par = ele.parentNode;
    par.removeChild(ele);
}

function chkModForm(form) {
    var custName = form.custName.value = form.custName.value.trim();
    var url = form.url.value = form.url.value.trim();
    var ret = true;

    /*if(custName.length == 0) {
	G('custNameErr').innerHTML = '公司名称不能为空';
	ret = false;
    }
    else {
	G('custNameErr').innerHTML = '';
    }

    if(url.length == 0) {
	G('urlErr').innerHTML = '网站URL不能为空';
	ret = false;
    }
    else if(!/([\w-]+\.)+[\w-]+/.test(url)) {
	G('urlErr').innerHTML = '请填写正确的URL';
	ret = false;
    }
    else {
	G('urlErr').innerHTML = '';
    }*/

    ret = chkPhone() && ret;

    if(ret) {
	return confirm('确定要修改吗？');
    }
    else {
	return ret;
    }
}

function chkNum(txt, minlength) {
    if(txt.length < minlength || !/^\d*$/.test(txt)) {
	return false;
    }
    else {
	return true;
    }
}

function chkTel(ele) {
    var p = ele.parentNode;
    var inputs = p.getElementsByTagName('input');
    var err = p.getElementsByTagName('span')[0];
    var ret = true;
    inputs[0].value = inputs[0].value.trim();
    inputs[1].value = inputs[1].value.trim();
    inputs[2].value = inputs[2].value.trim();
    if(inputs[0].value.length == 0 && inputs[1].value.length == 0 && inputs[2].value.length == 0) {
	err.innerHTML = '';
	p.setAttribute('pass', 'empty');
    }
    else {
	ret = chkNum(inputs[0].value, 3) && chkNum(inputs[1].value, 7) && chkNum(inputs[2].value, 0);
	ret = ret && inputs[0].value.charAt(0) == '0';
	if(!ret) {
	    err.innerHTML = '请填写正确的座机号',
	    p.setAttribute('pass', 'no');
	}
	else {
	    err.innerHTML = '';
	    p.setAttribute('pass', 'ok');
	}
    }
}

function chkMobile(ele) {
    var p = ele.parentNode;
    var err = p.getElementsByTagName('span')[0];
    var value = ele.value = ele.value.trim();
    if(value.length == 0) {
	err.innerHTML = '';
	p.setAttribute('pass', 'empty');
    }
    else if(!chkNum(value, 11) || value.charAt(0) != '1') {
	err.innerHTML = '请填写正确的手机',
	p.setAttribute('pass', 'no');
    }
    else {
	err.innerHTML = '';
	p.setAttribute('pass', 'ok');
    }
}
function toArray(obj) {
    var arr = [];
    for(var i = 0; i < obj.length; i++) {
	arr.push(obj[i]);
    }
    return arr;
}
function chkPhone() {
    var telArea = G('telArea');
    var mobileArea = G('mobileArea');
    var phoneErr = G('phoneErr');
    var res = {'empty':0, 'no':0, 'yes':0};
    var form = G('modForm');
    var tels = form['phoneNum'], mobiles = form['mobilephone'];
    var item;
    if(tels.length) {
	for(var i = 0; item = tels[i]; i++) {
	    chkTel(item);
	}
    }
    else {
	chkTel(tels);
    }
    if(mobiles.length) {
	for(var i = 0; item = mobiles[i]; i++) {
	    chkMobile(item);
	}
    }
    else {
	chkMobile(mobiles);
    }
    var ret = true;
    var ps = toArray(telArea.getElementsByTagName('p')).concat(toArray(mobileArea.getElementsByTagName('p')));
    for(var i = 0; i < ps.length; i++) {
	res[ps[i].getAttribute('pass')]++;
    }
    if(res.empty == ps.length) {
	ret = false;
	phoneErr.innerHTML = '请填写联系电话';
    }
    else if(res.no > 0) {
	ret = false;
    }
    else {
	phoneErr.innerHTML = '';
    }
    return ret;
}

function getEleByName(name, eles) {
    for(var i = 0; i < eles.length; i++) {
	if(eles[i].name == name) {
	    return eles[i];
	}
    }
    return null;
}

function delExtTel(ele) {
    delExtPhone(ele, 'idPhones');
}

function delExtMobile(ele) {
    delExtPhone(ele, 'idMobiles');
}

function delExtPhone(ele, name) {
    if(!confirm('确定要删除已存在的电话吗？')) {
	return;
    }
    var p = ele.parentNode;
    var id = getEleByName(name, p.getElementsByTagName('input')).value;
    var ajax = new Ajax(function (ele) {
	return function (data){
	    data = data.trim();
	    if(data.length == 0) {
		var p = ele.parentNode;
		if(getEleByName('addPhone', p.getElementsByTagName('a'))) {
		    var inputs = p.getElementsByTagName('input');
		    for(var i = 0; i < inputs.length; i++) {
			if(inputs[i].type == 'text' || inputs[i].type == 'hidden') {
			    inputs[i].value = '';
			}
		    }
		    ele.style.display = 'none';
		}else {
		    delPhone(ele);
		}
	    }
	    else {
		alert('删除联系电话时发生了错误：\n' + data);
	    }
	}
    }(ele),
    function () {
	alert('通信错误，请稍候重试');
    });

    ajax.send('$seasonCustDelPhoneAction', 'id='+id, 'post');
}

## 如果修改成功则关闭弹屏页面
#if($modMessage)
parent.closePop();
#end
</script>
</body>
</html>
