<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
#parse('/utils.vm')
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="/rigel-unique/crm-static/sc-sale/css/global.css" type="text/css">
<link rel="stylesheet" href="/rigel-unique/crm-static/sc-sale/css/sale.css" type="text/css">
<script type="text/javascript" src="/rigel-unique/crm-static/core/core.js"></script>
<script type="text/javascript" src="/rigel-unique/crm-static/core/ui.js"></script>
<script type="text/javascript" src="/rigel-unique/crm-static/core/calendar.js"></script>
<script type="text/javascript" src="/rigel-unique/crm-static/sc-sale/js/table.js"></script>
<script type="text/javascript" src="/rigel-unique/crm-static/sc-sale/js/sale.js"></script>
<style type="text/css">
.tel, .mb {margin-bottom:3px}
.mb .fieldErr, .tel .fieldErr {margin-left:3px}
.tempale {display:none}
.clearInput {margin-left:10px}
</style>
</head>
<body>
<div class="nav"><p>当前位置：季节性备案客户名单</p></div>
<div class="wrapper">
    <div class="area-w air"></div>
    <div class="tag-v"></div>
    <div class="tag-cont">
	#if($errorMessage)
	<div class="mess">
	    <div class="area-w"></div>
	    <div class="area-v"></div>
	    <div class="area icon-error">
		<div class="area-inner" style="color:#F00">$errorMessage</div>
	    </div>
	    <div class="area-v"></div>
	    <div class="area-w" style="margin-bottom:10px"></div>
	</div>
	#end
	
	<div class="mess-query">
	    <div class="area-w"></div>
	    <div class="area-v"></div>
	    <div class="area">
		<div class="area-inner">
		    <form id="addForm" name="addForm" method="post" onreset="resetAddForm()" onsubmit="return chkAddForm(this);" action="$seasonCustAddAction">
			<table width="80%" cellpadding="3">
			    <tr>
				<td width="70">公司名称：</td>
				<td><input name="addCustName" value="$!addCustName" maxlength="200" size="34"/>&nbsp;<span class="fieldErr" id="custNameErr"></span></td>
			    </tr>
			    <tr>
				<td>网站URL：</td>
				<td><input name="addUrl" value="$!addUrl" maxlength="210" size="34" />&nbsp;<span class="fieldErr" id="urlErr"></span></td>
			    </tr>
			    <tr>
				<td>到期日期：</td>
				<td><input type="text" class="time" name="invalidate" id="invalTime" /><a class="clearInput" href="#" onclick="clearInput('invalTime');return false;">清空</a></td>
			    </tr>
			    <tr>
				<td>联系电话：</td>
				<td>
				    #set($tel='')
				    #set($mobile='')
				    #set($telIndex = 1)
				    #set($mobileIndex = 1)
				    #foreach($item in $phoneList)
					#if($item.phoneType == 0)
					    #set($tel = $tel + '<p pass="ok" class="tel add">座机&nbsp;<input value="' + $!item.phoneAreacode +'" onblur="chkTel(this)" name="phoneAreacode" maxlength="4" size="4"/>&nbsp;-&nbsp;<input onblur="chkTel(this)" value="' + $!item.phoneNum +'" name="phoneNum" maxlength="8" />&nbsp;-&nbsp;<input onblur="chkTel(this)" name="phoneExtend" value="'+ $item.phoneExtend +'" maxlength="8" size="4" />')
					    ## 如果是第一个元素则添加“添加”按钮
					    #if($telIndex == 1)
						#set($tel = $tel + '<a name="addPhone" href="#" onclick="addPhone();return false;">添加</a>&nbsp;<span class="fieldErr"></span></p>')
					    #else 
						#set($tel = $tel + '<a class="remove" href="#" onclick="delPhone(this);return false;">删除</a>&nbsp;<span class="fieldErr"></span></p>')
					    #end
					    #set($telIndex = $telIndex + 1)
					#else
					    #set($mobile = $mobile + '<p pass="ok" class="mb add">手机&nbsp;<input value="' + $!item.phoneNum + '" onblur="chkMobile(this)" name="mobilephone" maxlength="11" />')
					    ## 如果是第一个元素则添加“添加”按钮
					    #if($mobileIndex == 1)
						#set($mobile = $mobile + '<a name="addPhone" href="#" onclick="addMobile();return false;">添加</a>&nbsp;<span class="fieldErr"></span></p>')
					    #else
						#set($mobile = $mobile + '<a class="remove" href="#" onclick="delPhone(this);return false;">删除</a>&nbsp;<span class="fieldErr"></span></p>')
					    #end
					    #set($mobileIndex = $mobileIndex + 1)
					#end
				    #end
				    <div id="telArea">
				    #if($telIndex == 1)
					<!-- 此处P标签中结构修改时请注意 相关函数chkTel --!>
					<p pass="empty" class="tel add">座机&nbsp;<input onblur="chkTel(this)" name="phoneAreacode" maxlength="4" size="4"/>&nbsp;-&nbsp;<input onblur="chkTel(this)" name="phoneNum" maxlength="8" />&nbsp;-&nbsp;<input onblur="chkTel(this)" name="phoneExtend" maxlength="8" size="4" /><a href="#" onclick="addPhone();return false;">添加</a>&nbsp;<span class="fieldErr"></span></p>
				    #else
					$tel
				    #end
				    </div>
				    <div id="mobileArea">
				    #if($mobileIndex == 1)
					<!-- 此处P标签中结构修改时请注意 相关函数为chkMobile --!>
					<p pass="empty" class="mb add">手机&nbsp;<input onblur="chkMobile(this)" name="mobilephone" maxlength="11" /><a href="#" onclick="addMobile();return false;">添加</a>&nbsp;<span class="fieldErr"></span></p>
				    #else
					$mobile
				    #end
				    </div>
				    <span class="fieldErr" id="phoneErr"></span>
				</td>
			    </tr>
			    <tr #if($unitDeptList.size() == 1) style="display:none"  #end>
				<td>分公司：</td>
				<td>#list('unitPosId' $unitDeptList "$!unitPosId" ,"select")</td>
			    </tr>
			    <tr>
				<td colspan="2"><input class="btn-g" type="submit" value="添加" />&nbsp;&nbsp;<input class="btn-r" type="reset" value="重置" /><span class="tip-r" id="tips"></span></td>
			    </tr>
			</table>
		    </form>
		</div>
	    </div>
	    <div class="area-v"></div>
	    <div class="area-w"></div>
	</div>

	<div class="mess-query air">
	    <div class="area-w"></div>
	    <div class="area-v"></div>
	    <div class="area">
		<div class="area-inner">
		    <form name="query" action="$seasonCustQuery" method="post" onSubmit="return Validate.validForm(this);">
			<table cellpadding="5">
			    <tr>
				<td>公司名称</td>
				<td><input name="custName" maxlength="200" size="30" trim= "yes" value="$!custName" /></td>
				<td>联系电话</td>
				<td><input name="telphone" maxlength="100" trim="yes" value="$!telphone" /></td>
			    </tr>
			    <tr>
				<td>URL</td>
				<td><input name="url" maxlength="210" size="30" trim="yes" value="$!url"/></td>
				<td>设定人</td>
				<td>#list('createId' $createIdList "$!createId", "select")</td>
			    </tr>
			    <tr>
				<td><input type="checkbox" name="usedInvalidate" value="1" #if($usedInvalidate == 1)checked="checked"#end id="invalChkb" onclick="toggleInvalTime(this)"/><label for="invalChkb">到期日期</label></td>
				<td>开始时间&nbsp;<input type="text" name="beginInvalidate" value="$!dateUtils.formatDate($beginInvalidate, $accurate2Day)" id="bInvalTime" class="time" /></td>
				<td>结束时间</td>
				<td><input type="text" name="endInvalidate" value="$!dateUtils.formatDate($endInvalidate, $accurate2Day)" id="eInvalTime" class="time" /><a href="#" class="clearInput" onclick="clearInput('bInvalTime', 'eInvalTime');return false">清空</a></td>
			    </tr>
			    <tr>
				<td colspan="4"><input class="btn-g" type="submit" value="查询" /></td>
			    </tr>
			</table>
		    </form>
		</div>
	    </div>
	    <div class="area-v"></div>
	    <div class="area-w"></div>
	</div>

	<div class="air">
	    #set($lsTitle = [
		{"chn" : "操作", "eval" : "<a href='#' onclick='modOrder($item.id);return false'>修改</a>&nbsp;&nbsp;<a href='#' onclick='delCust($item.id);return false'>删除</a>", "width" : "10%"},
		{"chn" : "设定时间", "eval" : '$!dateUtils.formatDate($item.createTime, $dateFormat)', "width" : "15%"},
		{"chn" : "设定人", "eval" : '$item.createId', "width" : "10%"},
		{"chn" : "公司名称", "eval" : '$!stringUtils.escapeHTML($item.custName)', "width" : "20%"},
		{"chn" : "URL", "eval" : '$!stringUtils.escapeHTML($item.url)', "width" : "20%"},
		{"chn" : "联系电话", "eval" : '$!stringUtils.escapeHTML($item.phoneList)', "width" : "10%"},
		{"chn" : "到期日期", "eval" : '$!dateUtils.formatDate($item.invalidate, $accurate2Day)', "width" : "14%"}
	])
		#table($lsTitle, $lsTitle, $seasonCustlist) 
	</div>

    </div>
    <div class="area-v"></div>
    <div class="area-w"></div>
    
    <form id="delForm" name="delForm" action="$seasonCustDelAction" method="post">
	<input type="hidden" name="id" />
    </form>

    <!-- 以下模板修改时请注意相关函数chkTel与chkMobile --!>
    <textarea class="tempale" id="telTemplate">
	<p pass="empty" class="tel remove">座机&nbsp;<input onblur="chkTel(this)" name="phoneAreacode" maxlength="4" size="4"/>&nbsp;-&nbsp;<input name="phoneNum" maxlength="8" onblur="chkTel(this)" />&nbsp;-&nbsp;<input onblur="chkTel(this)" name="phoneExtend" maxlength="8" size="4" /><a href="#" onclick="delPhone(this); return false;">删除</a>&nbsp;<span class="fieldErr"></span></p>
    </textarea>
    <textarea class="tempale" id="mobileTemplate">
	<p pass="empty" class="mb remove">手机&nbsp;<input onblur="chkMobile(this)" name="mobilephone" maxlength="11" /><a href="#" onclick="delPhone(this);return false;">删除</a>&nbsp;<span class="fieldErr"></span></p>
    </textarea>
    <div class="template" id="tempArea"></div>
</div>

<div id="modPanel" class="layer" style="display:none;width:806px">
	<div class="layer-head">
	<div class="area-w"></div><div class="area-v"></div>
	<p><b onclick="Popup.hide('modPanel');"></b>季节性客户备案修改</p>
	</div>

	<div class="layer-cont" style="zoom:1;overflow:hidden;">
	    <iframe id="modPhoneFrame" frameborder="0" style="visibility:visible;width:770px;height:430px;zoom:1"></iframe>
	</div>
	<div class="area-v"></div><div class="area-w"></div>
</div>

<script type="text/javascript">
function clearInput() {
    var ids = Array.prototype.slice.call(arguments);
    for (var i = 0, len = ids.length; i < len; i++) {
	G(ids[i]).value = '';
    }
}

function toggleInvalTime(ele) {
    var par = ele.parentNode;
    while(par.nextSibling) {
	par = par.nextSibling;
	if (par.nodeName.toLowerCase() != 'td') {
	    continue;
	}
	par.style.display = ele.checked ? '' : 'none';
    }
}


toggleInvalTime(G('invalChkb'));
RangeCalendar.init({
    "beginDate" : "bInvalTime",
    "endDate"   : "eInvalTime",
    "splitter"  : "-",
    "editable"  : false,
    "past"	: false,
    "future"	: true
});
RangeCalendar.init({
    "beginDate" : "invalTime",
    "endDate"   : false,
    "splitter"  : "-",
    "editable"  : false,
    "past"	: false,
    "future"	: true
});

function addPhone() {
    var div = G('telArea');
    var tem = G('telTemplate');
    var temp = G('tempArea');
    var p;
    temp.innerHTML = tem.value;
    p = temp.getElementsByTagName('p')[0];
    temp.removeChild(p);
    div.appendChild(p);
}

function addMobile() {
    var div = G('mobileArea');
    var tem = G('mobileTemplate');
    var temp = G('tempArea');
    var p;
    temp.innerHTML = tem.value;
    p = temp.getElementsByTagName('p')[0];
    temp.removeChild(p);
    div.appendChild(p);
}

function delPhone(ele) {
    var ele = ele.parentNode;
    var par = ele.parentNode;
    par.removeChild(ele);
}

function delCust(id) {
    var form = G('delForm');
    if(confirm('您确定要删除吗？')){
	form['id'].value = id;
	form.submit();
    }
}

function chkAddForm(form) {
    var custName = form.addCustName.value = form.addCustName.value.trim();
    var url = form.addUrl.value = form.addUrl.value.trim();
    var ret = true;

    if(custName.length == 0) {
	G('custNameErr').innerHTML = '公司名称不能为空';
	ret = false;
    }
    else {
	G('custNameErr').innerHTML = '';
    }

    if(url.length == 0) {
	G('urlErr').innerHTML = '网站URL不能为空';
	ret = false;
    }
    else if(!/([\w-]+\.)+[\w-]+/.test(url)) {
	G('urlErr').innerHTML = '请填写正确的URL';
	ret = false;
    }
    else {
	G('urlErr').innerHTML = '';
    }
    ret = chkPhone() && ret;
    return ret;
}

function chkNum(txt, minlength) {
    if(txt.length < minlength || !/^\d*$/.test(txt)) {
	return false;
    }
    else {
	return true;
    }
}

function chkTel(ele) {
    var p = ele.parentNode;
    var inputs = p.getElementsByTagName('input');
    var err = p.getElementsByTagName('span')[0];
    var ret = true;
    inputs[0].value = inputs[0].value.trim();
    inputs[1].value = inputs[1].value.trim();
    inputs[2].value = inputs[2].value.trim();
    if(inputs[0].value.length == 0 && inputs[1].value.length == 0 && inputs[2].value.length == 0) {
	err.innerHTML = '';
	p.setAttribute('pass', 'empty');
    }
    else {
	ret = chkNum(inputs[0].value, 3) && chkNum(inputs[1].value, 7) && chkNum(inputs[2].value, 0);
	ret = ret && inputs[0].value.charAt(0) == '0';
	if(!ret) {
	    err.innerHTML = '请填写正确的座机号',
	    p.setAttribute('pass', 'no');
	}
	else {
	    err.innerHTML = '';
	    p.setAttribute('pass', 'ok');
	}
    }
}

function chkMobile(ele) {
    var p = ele.parentNode;
    var err = p.getElementsByTagName('span')[0];
    var value = ele.value = ele.value.trim();
    if(value.length == 0) {
	err.innerHTML = '';
	p.setAttribute('pass', 'empty');
    }
    else if(!chkNum(value, 11) || value.charAt(0) != '1') {
	err.innerHTML = '请填写正确的手机',
	p.setAttribute('pass', 'no');
    }
    else {
	err.innerHTML = '';
	p.setAttribute('pass', 'ok');
    }
}
function toArray(obj) {
    var arr = [];
    for(var i = 0; i < obj.length; i++) {
	arr.push(obj[i]);
    }
    return arr;
}

function chkPhone() {
    var telArea = G('telArea');
    var mobileArea = G('mobileArea');
    var phoneErr = G('phoneErr');
    var res = {'empty':0, 'no':0, 'yes':0};
    var form = G('addForm');
    var tels = form['phoneNum'], mobiles = form['mobilephone'];
    var item;
    if(tels.length) {
	for(var i = 0; item = tels[i]; i++) {
	    chkTel(item);
	}
    }
    else {
	chkTel(tels);
    }
    if(mobiles.length) {
	for(var i = 0; item = mobiles[i]; i++) {
	    chkMobile(item);
	}
    }
    else {
	chkMobile(mobiles);
    }
    var ret = true;
    var ps = toArray(telArea.getElementsByTagName('p')).concat(toArray(mobileArea.getElementsByTagName('p')));
    for(var i = 0; i < ps.length; i++) {
	res[ps[i].getAttribute('pass')]++;
    }
    if(res.empty == ps.length) {
	ret = false;
	phoneErr.innerHTML = '请填写联系电话';
    }
    else if(res.no > 0) {
	ret = false;
    }
    else {
	phoneErr.innerHTML = '';
    }
    return ret;
}

function resetAddForm() {
    var telArea = G('telArea');
    var mobileArea = G('mobileArea');
    var ps = toArray(telArea.getElementsByTagName('p')).concat(toArray(mobileArea.getElementsByTagName('p')));
    for(var i = 0; i < ps.length; i++) {
	ps[i].setAttribute('pass', 'empty');
	ps[i].getElementsByTagName('span')[0].innerHTML = ''
    }
    G('custNameErr').innerHTML = '';
    G('urlErr').innerHTML = '';
    G('phoneErr').innerHTML = '';
}

function modOrder(id) {
    G('modPhoneFrame').src = '$urlSeasonCustMod?id=' + id + '&rand=' + Math.random();
    Popup.show('modPanel');
}

function resizeHeight(iframe){
    var d = iframe.contentWindow.document;
    if(d.body.innerHTML == "") return false;
    var iframeHeight = d.body.scrollHeight;
    iframe.style.height = iframeHeight + "px"; 
    if(window.onresize) window.onresize();
}

function closePop() {
    Popup.hide('modPanel');
    location.href='$seasonCustQuery' + '?queryId=$!queryId'; 
}
</script>
</body>

