<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns:tx="http://www.springframework.net/tx"
         xmlns:db="http://www.springframework.net/database"
         xmlns:aop="http://www.springframework.net/aop"
         xsi:schemaLocation="http://www.springframework.net/schema/objects 
                             http://www.springframework.net/schema/objects/spring-objects-1.3.xsd 
                             http://www.springframework.net/schema/tx 
                             http://www.springframework.net/schema/tx/spring-tx-1.1.xsd
                             http://www.springframework.net/schema/db 
                             http://www.springframework.net/schema/db/spring-database-1.1.xsd
                             http://www.springframework.net/schema/aop
                             http://www.springframework.net/schema/aop/spring-aop-1.1.xsd">

  <object id="aroundAdvice" type="ash2.AOP.AroundAdvice, ash2"/>

  <!-- 配置方法1 -->
  <object id="proxy" type="Spring.Aop.Framework.ProxyFactoryObject, Spring.Aop">
    <!-- proxyInterfaces可有可无 -->
    <property name="proxyInterfaces" value="ash2.Service.ITb_userService"/>
    <property name="target" ref="tb_userService"/>
    <property name="interceptorNames">
      <list>
        <value>aroundAdvice</value>
      </list>
    </property>
  </object>

  <!-- 匹配方法名 -->
  <object id="aroundAdvisor" type="Spring.Aop.Support.NameMatchMethodPointcutAdvisor, Spring.Aop">
    <property name="Advice" ref="aroundAdvice"/>
    <property name="MappedNames">
      <list>
        <value>test</value>
      </list>
    </property>
  </object>

  <!-- 匹配类名和方法名 -->
  <object id="beforeAdvisor" type="Spring.Aop.Support.RegularExpressionMethodPointcutAdvisor">
    <property name="advice" ref="beforeAdvice"/>
    <property name="patterns">
      <list>
        <value>.*ManualProxyTarget.*Message</value>
      </list>
    </property>
  </object>

  <!-- 配置方法2 -->
  <object id="ProxyCreator" type="Spring.Aop.Framework.AutoProxy.ObjectNameAutoProxyCreator, Spring.Aop">
    <property name="ObjectNames">
      <list>
        <value>*Service</value>
      </list>
    </property>
    <property name="InterceptorNames">
      <list>
        <value>aroundAdvisor</value>
      </list>
    </property>
  </object>

  <!-- 配置方法3 -->
  <!-- 只针对Advisor，Advice会被忽略 -->
  <object type="Spring.Aop.Framework.AutoProxy.DefaultAdvisorAutoProxyCreator"/>
</objects>
