<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<!-- <bean id="tinyseMgr" class="org.mockito.Mockito" factory-method="mock">
		<constructor-arg value="com.baidu.rigel.unique.tinyse.TinyseMgr" />
	</bean>

	<bean id="customerFacade" class="org.mockito.Mockito"
		factory-method="mock">
		<constructor-arg value="com.baidu.rigel.unique.facade.CustomerFacade" />
	</bean> -->


</beans>