#parse("/common/const.vm")
#parse("/common/controller.vm")

#parse("/common/doctype.vm")

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	#parse("/common/meta.vm")
	<title>$titlePrefix$msg.get_password.title</title>
	#parse("/common/css.vm")
	<link rel="stylesheet" type="text/css" href="$projectContext/js/ext-3.3.1/resources/css/ext-all.css" />
 	<script type="text/javascript" src="$projectContext/js/ext-3.3.1/adapter/ext/ext-base.js"></script>
	<script type="text/javascript" src="$projectContext/js/ext-3.3.1/ext-all-debug.js"></script>
	<script type="text/javascript" src="$jsRoot/get_password.js"></script>
</head>

<body>
    <form id="get_password" action="$!securityController.get_password" method="post"> 
		$msg.get_password.username$msg.common.colon<input type="text" name="username" id="username" /><br />
		$msg.get_password.security_code$msg.common.colon<input type="text" name="securityCode" id="securityCode" /><br /> 
		<a href="javascript:document.getElementById('get_password').submit();">$msg.get_password.submit</a><br />
	</form>
	
	<h1>Advanced Validation Examples Using VTypes</h1>

<div id="dr"><p>The first example shows two date fields acting as a date range.  Selecting an initial date
sets the minimum value for the end field.  Selecting an ending date sets a maximum value for the
start field.</p></div>

<div id="pw" style="padding-top:20px"><p>This second example shows a password verification,
 the second value must be equivalent to the first to validate.</p></div><br/>

<p>The js is not minified so it is readable. See <a href="adv-vtypes.js">adv-vtypes.js</a>.</p>
</body>

</html>