#parse("/common/const.vm")
#parse("/common/controller.vm")

#parse("/common/doctype.vm")

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	#parse("/common/meta.vm")
	<title>$titlePrefix$msg.get_password.title</title>
	#parse("/common/css.vm")
	<script type="text/javascript" src="$jQueryPath"></script>
	#parse("/common/validation.vm")
	<script >
		jQuery(document).ready(function(){
			// jQuery("#get_password").validationEngine();
			jQuery("#get_password").validationEngine({
				ajaxFormValidation: false
			});
		});
	</script>
</head>

<body>
	<form id="get_password" class="formular" method="post" action="$!securityController.get_password">
		<fieldset>
			<legend>
				$msg.get_password.title
			</legend>
			<label>
				<span>$msg.get_password.user_name$msg.common.colon</span>
				<input class="validate[required,minSize[6],ajax[ajaxIsExist]] text-input" maxlength="20" type="text" name="username" id="username" />
			</label>
			<label>
				<span>$msg.get_password.security_code$msg.common.colon</span>
				<input class="validate[required,minSize[4],ajax[ajaxIsExist]] text-input" maxlength="4" type="text" name="securityCode" id="securityCode" />
			</label>
			<label>
				<img src="$!securityController.get_security_code" width="250px" height="50px" />
			</label>
		</fieldset>
		<input class="submit" type="submit" value="$msg.get_password.submit"/><hr/>
	</form>
</body>	

	
</html>