#parse("/common/const.vm")
#parse("/common/controller.vm")

#parse("/common/doctype.vm")

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	#parse("/common/meta.vm")
	<title>$titlePrefix$msg.login.title</title>
	#parse("/common/css.vm")
</head>

<body>
	<h1>$!errorMsg</h1>
	
	<form id="login" action="$projectContext/j_spring_security_check" method="post"> 
		$msg.login.username$msg.common.colon<input type="text" name="j_username" id="j_spring_security_check_j_username" /><br />
		$msg.login.password$msg.common.colon<input type="password" name="j_password" id="j_spring_security_check_j_password" /><br /> 
		<a href="javascript:document.getElementById('login').submit();" on="">$msg.login.login</a><br />
		<a href="$!securityController.get_password">$msg.login.get_password</a>
	</form>
</body>

</html>
	
<script type="text/javascript">
	document.getElementById('j_spring_security_check_j_username').focus();
</script>
