#parse("/common/const.vm")
#parse("/common/controller.vm")

#parse("/common/doctype.vm")

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	#parse("/common/meta.vm")
	<title>$titlePrefix$msg.register.title</title>
	#parse("/common/css.vm")
</head>

<body>
    <a href="$!securityController.register_individual">$msg.register.individual</a>
	<br />
	<a href="$!securityController.register_enterprise">$msg.register.enterprise</a>
</body>

</html>