<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="tinyseMgr" class="com.baidu.rigel.unique.tinyse.TinyseMgrImpl">
		<property name="saleClients">
			<list>
				<ref bean="saleClient00" />
				<ref bean="saleClient01" />
			</list>
		</property>
		<property name="shifenClients">
			<list>
				<ref bean="shifenClient00" />
				<ref bean="shifenClient01" />
			</list>
		</property>
	</bean>



	<bean id="saleClient00" class="com.baidu.rigel.service.tinyse.client.TinyseClient">
		<property name="updateServer">
			<value>${saleClient00.updateServer}</value>
		</property>
		<property name="queryServer">
			<value>${saleClient00.queryServer}</value>
		</property>
		<property name="timeout">
			<value>${saleClient00.timeout}</value>
		</property>
		<property name="datatype">
			<value>${saleClient00.datatype}</value>
		</property>
	</bean>

	<bean id="saleClient01" class="com.baidu.rigel.service.tinyse.client.TinyseClient">
		<property name="updateServer">
			<value>${saleClient01.updateServer}</value>
		</property>
		<property name="queryServer">
			<value>${saleClient01.queryServer}</value>
		</property>
		<property name="timeout">
			<value>${saleClient01.timeout}</value>
		</property>
		<property name="datatype">
			<value>${saleClient01.datatype}</value>
		</property>
	</bean>

	<bean id="shifenClient00" class="com.baidu.rigel.service.tinyse.client.TinyseClient">
		<property name="queryServer">
			<value>${shifenClient00.queryServer}</value>
		</property>
		<property name="timeout">
			<value>${shifenClient00.timeout}</value>
		</property>
		<property name="datatype">
			<value>${shifenClient00.datatype}</value>
		</property>
	</bean>

	<bean id="shifenClient01" class="com.baidu.rigel.service.tinyse.client.TinyseClient">
		<property name="queryServer">
			<value>${shifenClient01.queryServer}</value>
		</property>
		<property name="timeout">
			<value>${shifenClient01.timeout}</value>
		</property>
		<property name="datatype">
			<value>${shifenClient01.datatype}</value>
		</property>
	</bean>
</beans>