## 工程的上下文路径，如：/crm
#set($projectContext = "$!link.getContextPath()")

## css目录
#set($cssDir = "$projectContext/css")

## images目录
#set($imagesDir = "$projectContext/images")

## javascript目录
#set($jsDir = "$projectContext/js")

## 网站title前缀，目前为：夯夯CRM--
#set($titlePrefix = "$msg.common.title$msg.common.dash")

## ExtJS目录
#set($extDir = "$jsDir/ext-3.3.1")

## jQuery文件路径
#set($jQueryPath = "$jsDir/jquery-1.6.min.js")