#set($securityController = {
	"login":					"$projectContext/login.do",						
	"logout":					"$projectContext/j_spring_security_logout",		
	"register":					"$projectContext/register.do",					
	"register_individual":		"$projectContext/register_individual.do",		
	"register_enterprise":     	"$projectContext/register_enterprise.do"		
})