<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
#parse('/utils.vm')
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="/rigel-unique/crm-static/sc-sale/css/global.css" type="text/css">
<link rel="stylesheet" href="/rigel-unique/crm-static/sc-sale/css/sale.css" type="text/css">
<script type="text/javascript" src="/rigel-unique/crm-static/core/core.js"></script>
<script type="text/javascript" src="/rigel-unique/crm-static/core/ui.js"></script>
<script type="text/javascript" src="/rigel-unique/crm-static/sc-sale/js/table.js"></script>
<script type="text/javascript" src="/rigel-unique/crm-static/sc-sale/js/sale.js"></script>
</head>
<body>
<div class="nav"><p>当前位置：老客户白名单</p></div>
<div class="wrapper">
    <div class="area-w air"></div>
    <div class="tag-v"></div>
    <div class="tag-cont">
	#if($errorMessage)
	<div class="mess">
	    <div class="area-w"></div>
	    <div class="area-v"></div>
	    <div class="area icon-error">
		<div class="area-inner" style="color:#F00">$errorMessage</div>
	    </div>
	    <div class="area-v"></div>
	    <div class="area-w" style="margin-bottom:10px"></div>
	</div>
	#end
	
	<div class="mess-query">
	    <div class="area-w"></div>
	    <div class="area-v"></div>
	    <div class="area">
		<div class="area-inner">
		    <form name="addForm" method="post" onreset="resetAddForm()" onsubmit="return chkAddForm(this);" action="$sfWhitelistAddAction">
			<table width="80%" cellpadding="3">
			    <tr>
				<td width="100">老客户名称：</td>
				<td><input name="addCustName" value="$!addCustName" maxlength="200" size="34"/>&nbsp;<span class="fieldErr" id="custNameErr"></span></td>
			    </tr>
			    <tr>
				<td>网站URL：</td>
				<td><input name="addUrl" value="$!addUrl" maxlength="210" size="34" />&nbsp;<span class="fieldErr" id="urlErr"></span></td>
			    </tr>
			    <tr>
				<td>所属部门：</td>
				<td>
				    <select name="addPosId" id="optList">
					#print_tree($addPosIdList $!addPosId)
				    </select>&nbsp;<span class="fieldErr" id="optErr">
				</td>
			    </tr>
			    <tr>
				<td>指定销售：</td>
				<td>#list('addUserId' $addUserIdList "$!addUserId", "select", 'id=userList')&nbsp;<span class="fieldErr" id="userErr"></td>
			    </tr>
			    <tr>
				<td><input class="btn-g" type="submit" value="添加" /></td>
				<td><input class="btn-r" type="reset" value="重置" /></td>
			    </tr>
			</table>
		    </form>
		</div>
	    </div>
	    <div class="area-v"></div>
	    <div class="area-w"></div>
	</div>

	<div class="mess-query air">
	    <div class="area-w"></div>
	    <div class="area-v"></div>
	    <div class="area">
		<div class="area-inner">
		    <form name="query" action="$sfWhitelistQuery" method="post" onSubmit="return Validate.validForm(this);">
		    <ul class="refer-bar">
			<li>
			    <label>老客户名称</label>
			    <input name="custName" value="$!custName" maxlength="200" trim="yes" size="30" />
			</li>
			<li>
			    <label>URL</label>
			    <input name="url" value="$!url" size="30" maxlength="210" trim="yes" />
			</li>
			<li>
			    <label>指定销售</label>
			    #list('userId' $userIdList "$!userId", "select")
			</li>
			<li>
			    <label>设定人</label>
			    #list('createId' $createIdList "$!createId", "select")
			</li>
			<li>
			    <br />
			    <input class="btn-g" type="submit" value="查询" />
			</li>
		    </ul>
		    <div class="clear"></div>
		    </form>
		</div>
	    </div>
	    <div class="area-v"></div>
	    <div class="area-w"></div>
	</div>

	<div class="air">
	    #set($lsTitle = [
		{"chn" : "操作", "eval" : "<a href='#' onclick='delWhiteList($item.id);return false'>删除</a>", "width" : "7%"},
		{"chn" : "设定时间", "eval" : '$!dateUtils.formatDate($item.createTime, $dateFormat)', "width" : "15%"},
		{"chn" : "设定人", "eval" : '$item.createId', "width" : "15%"},
		{"chn" : "老客户名称", "eval" : '$!stringUtils.escapeHTML($item.custName)', "width" : "15%"},
		{"chn" : "URL", "eval" : '$!stringUtils.escapeHTML($item.url)', "width" : "15%"},
		{"chn" : "指定销售", "eval" : '$item.userId', "width" : "15%"},
		{"chn" : "所属部门", "eval" : '$item.posId', "width" : "15%"}
	])
		#table($lsTitle, $lsTitle, $shifenCustWhitelist)  
	</div>

    </div>
    <div class="area-v"></div>
    <div class="area-w"></div>
    
    <form id="delForm" name="delForm" action="$sfWhitelistDelAction" method="post">
	<input type="hidden" name="id" />
    </form>

</div>
<script type="text/javascript">
function chkAddForm(form) {
    var custName = form['addCustName'].value = form['addCustName'].value.trim();
    var url = form['addUrl'].value = form['addUrl'].value.trim();
    var ePos = form['addPosId'];
    var eUser = form['addUserId'];
    var ret = true;
    if(custName.length == 0) {
	G('custNameErr').innerHTML = '老客户名称不能为空';
	ret = false;
    }
    else {
	G('custNameErr').innerHTML = '';
    }
    if(url.length == 0) {
	G('urlErr').innerHTML = '网站URL不能为空';
	ret = false;
    }
    else if(!/([\w-]+\.)+[\w-]+/.test(url)) {
	G('urlErr').innerHTML = '请填写正确的URL';
	ret = false;
    }
    else {
	G('urlErr').innerHTML = '';
    }
    /*if(ePos.selectedIndex == 0) {
	G('optErr').innerHTML = '请选择所属部门',
	ret = false;
    }
    else {
	G('optErr').innerHTML = '';
    }*/
    if(eUser.selectedIndex == 0) {
	G('userErr').innerHTML = '请选择指定销售',
	ret = false;
    }
    else {
	G('userErr').innerHTML = '';
    }
    return ret;
}

function resetAddForm() {
    G('custNameErr').innerHTML = '';
    G('urlErr').innerHTML = '';
    G('optErr').innerHTML = '';
    G('userErr').innerHTML = '';
}

function delWhiteList(id) {
    var form = G('delForm');
    if(confirm('确定要删除吗?')) {
	form['id'].value = id;
	form.submit();
    }
}

initMultiSelect([{name:'optList', url:'$urlSfWhitelistDeptlist'+'?curDept='}, {name:'userList'}]);
</script>
</body>
</html>
