<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baidu.rigel.unique.dao.UrlWhitelistMapper" >
  <select id="selectCountByDomainPosIdList" resultType="Long" parameterType="Map" >
    SELECT COUNT(*) 
    FROM td_url_whitelist 
    WHERE domain = #{domain} AND del_flag = 0 AND pos_id IN
    <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
		#{item}
	</foreach>
  </select>
  
  <select id="pageList" resultType="Map" parameterType="Map" >
    SELECT 
	<include refid="Base_Column_List" />
    FROM td_url_whitelist 
    WHERE pos_id = #{posId} AND del_flag = 0
    <if test="domain != null">
	AND domain = #{domain}
    </if>
    <if test="cType != null">
	AND c_type = #{cType}
    </if>
    <if test="updateId != null">
	AND update_id = #{updateId}
    </if>
    ORDER BY update_time DESC
    LIMIT #{start}, #{count}
  </select>
  
  <select id="pageCount" resultType="Long" parameterType="Map" >
    SELECT 
	COUNT(id)
    FROM td_url_whitelist 
    WHERE pos_id = #{posId} AND del_flag = 0
    <if test="domain != null">
	AND domain = #{domain}
    </if>
    <if test="cType != null">
	AND c_type = #{cType}
    </if>
    <if test="updateId != null">
	AND update_id = #{updateId}
    </if>
  </select>
  
  <select id="selectDisUpdateIdByPosId" resultType="Long" parameterType="Long" >
    SELECT 
	DISTINCT update_id
    FROM td_url_whitelist 
    WHERE pos_id = #{posId} AND del_flag = 0
  </select>
  
  <select id="selectCountByDomainPosId" resultType="Long" parameterType="Map" >
    SELECT 
	COUNT(*)
    FROM td_url_whitelist 
    WHERE pos_id = #{posId} AND del_flag = 0 AND domain = #{domain}
  </select>
</mapper>