<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!--  
        <mapping class="com.anders.ssh.bo.test.FenBiao"/>
        <property name="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</property>
		<property name="hibernate.cache.use_query_cache">true</property>
		<property name="hibernate.cache.use_second_level_cache">true</property>
		<property name="hibernate.cache.use_structured_entries">true</property>
		<property name="hibernate.cache.region_prefix">prefix</property>
		<property name="hibernate.memcached.servers">192.168.2.88:11212,192.168.2.88:11213,192.168.2.88:11214,192.168.2.89:11212,192.168.2.89:11213,192.168.2.89:11214</property>
		<property name="hibernate.memcached.memcacheClientFactory">${hibernate.memcached.memcacheClientFactory}</property>
		-->
    </session-factory>
</hibernate-configuration>