<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- jdbc -->
	<!--  
  	<bean id="dataDao" class="com.anders.ssh.dao.jdbc.DataDao">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	-->
  	
  	<!-- hibernate -->
  	<!--  
  	<bean id="dataDao" class="com.anders.ssh.dao.hibernate.DataDao">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	-->
	
	<!-- ibatis -->
	<!--  
	<bean id="dataDao" class="com.anders.ssh.dao.ibatis.DataDao">
    	<property name="sqlMapClient" ref="sqlMapClient"/>
  	</bean>
  	-->
  	
  	<!-- jpa -->
  	<!--  
	<bean id="dataDao" class="com.anders.ssh.dao.jpa.DataDao">
    	<property name="entityManagerFactory" ref="entityManagerFactory"/>
  	</bean>
  	-->
</beans>
