<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
	<!--  
	<bean id="indexAction" class="struts.two.action.IndexAction">
		<property name="dao" ref="tb_userDao"/>
	</bean>
	
	<bean id="tb_userAction" class="struts.two.action.Tb_userAction">
		<property name="service" ref="tb_userService"/>
	</bean>
	-->
	
	<!--  
	<bean id="indexAction" class="struts.two.action.IndexAction" scope="prototype">
		<property name="is" ref="indexService"/>
	</bean>
	-->
	
	<!-- 
	<bean id="is" class="service.impl.IndexService"/>
	-->
	
	<bean id="tb_departAction" class="struts.two.action.Tb_departAction">
		<property name="service" ref="tb_departService"/>
	</bean>
</beans>
