<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           				   http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
           				   http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

	<!-- 启用Spring对@AspectJ的支持，需要aspectjweaver.jar和aspectjrt.jar -->
	<aop:aspectj-autoproxy/>
	
	<!-- 方法一：注解进行配置，不需要在配置文件写任何配置信息，只需要写入如下bean信息就可以了 -->
	<!--  
	<bean id="personService" class="com.anders.ssh.aop.aspectj.annotation.PersonService"/>
	<bean id="loggerAspect" class="com.anders.ssh.aop.aspectj.annotation.LoggerAspect"/>
	-->
	
	<!-- 方法二：xml配置，详细配置如下 -->
	<bean id="personServicexml" class="com.anders.ssh.aop.aspectj.xml.PersonService"/>
	<bean id="loggerAspectxml" class="com.anders.ssh.aop.aspectj.xml.LoggerAspect"/>
	
	<aop:config>
  		<aop:aspect id="loggerAspect" ref="loggerAspectxml">
  			<aop:pointcut id="anyMethod" expression="execution(* com.anders.ssh.aop.aspectj.xml.PersonService.*(..))"/>
  			<!--  
  			<aop:pointcut id="anyMethod" expression="execution(java.lang.String com.anders.ssh.aop.aspectj.xml.PersonService.*(..))"/>
  			<aop:pointcut id="anyMethod" expression="execution(* com.anders.ssh.aop.aspectj.xml.PersonService.*(java.lang.String, ..))"/>
  			<aop:pointcut id="anyMethod" expression="execution(!void com.anders.ssh.aop.aspectj.xml.PersonService.*(..))"/>
  			-->
  			<aop:before pointcut-ref="anyMethod" method="loggerBefore"/>
  			<aop:after-returning pointcut-ref="anyMethod" method="loggerAfterReturning"/>
  			<aop:after-throwing pointcut-ref="anyMethod" method="loggerThrowing"/>
  			<aop:after pointcut-ref="anyMethod" method="loggerAfter"/>
  			<aop:around pointcut-ref="anyMethod" method="loggerAround"/>
  		</aop:aspect>
	</aop:config>
	
	<!-- 以下用来配置事务 -->
	<!-- 
	如果用xml来配置事务，则可以删除下面的配置：
	<tx:annotation-driven transaction-manager="txManager"/>
	 -->
	<aop:config>
  		<aop:pointcut id="txPointcut" expression="execution(* com.anders.ssh.dao.jpa.Tb_departDao.*(..))"/>
  		<aop:advisor pointcut-ref="txPointcut" advice-ref="txAdvice"/>
	</aop:config>
	<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="get*" read-only="true" propagation="NOT_SUPPORTED"/>
			<tx:method name="*"/>
  		</tx:attributes>
	</tx:advice>
</beans>
