<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="mysqlJta" class="org.enhydra.jdbc.pool.StandardXAPoolDataSource" destroy-method="shutdown">
		<property name="dataSource">
			<bean class="org.enhydra.jdbc.standard.StandardXADataSource" destroy-method="shutdown">
				<property name="transactionManager" ref="jotm" />
				<property name="driverName" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="user" value="${username}" />
				<property name="password" value="${password}" />
			</bean>
		</property>
		<property name="user" value="${username}" />
		<property name="password" value="${password}" />
	</bean>

	<bean id="oracleJta" class="org.enhydra.jdbc.pool.StandardXAPoolDataSource" destroy-method="shutdown">
		<property name="dataSource">
			<bean class="org.enhydra.jdbc.standard.StandardXADataSource" destroy-method="shutdown">
				<property name="transactionManager" ref="jotm" />
				<property name="driverName" value="${oracle.driver}" />
				<property name="url" value="${oracle.url}" />
				<property name="user" value="${oracle.username}" />
				<property name="password" value="${oracle.password}" />
			</bean>
		</property>
		<property name="user" value="${oracle.username}" />
		<property name="password" value="${oracle.password}" />
	</bean>
</beans>
