<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
	<import resource="classpath:org/codehaus/xfire/spring/xfire.xml"/>
	
	<!-- 
	说明：本文件中的内容完全可以在spring.xml中进行配置
	如果使用配置方法1，则需要使用文件名为“ITest.aegis.xml”的辅助配置文件
	如果使用配置方法2，则需要使用文件名为“TestImp.aegis.xml”的辅助配置文件
	具体原因还没有考虑清楚
	-->
 	 
 	<!-- 配置方法1 -->
 	<!-- 注意：abstract="true"的话，启动会报错 -->
 	<bean id="testWS" class="org.codehaus.xfire.spring.remoting.XFireExporter" lazy-init="false" abstract="false">  
   		<property name="serviceFactory">
   			<ref bean="webservice.xfire.serviceFactory"/>
   		</property>  
	   	<property name="xfire">
            <ref bean="xfire"/>
        </property>
        <property name="serviceBean">
            <ref bean="testImpl"/>
        </property>
        <property name="serviceClass">
            <value>webservice.xfire.ITest</value>
        </property>
	</bean>  
	
	<bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">  
   		<property name="urlMap">                
    		<map>  
     			<entry key="/test">                     
      				<ref bean="testWS"/>             
     			</entry>  
    		</map>  
   		</property>  
	</bean>
	 
	<!-- 配置方法2 -->
	<!--  
	<bean id="test" class="org.codehaus.xfire.spring.ServiceBean">
		<property name="name">
			<value>Test</value>
		</property>
		<property name="namespace">
			<value>http://simple.xfire.webservice/Test</value>
		</property>
		<property name="serviceClass">
			<value>webservice.xfire.TestImpl</value>
		</property>
		<property name="serviceBean">
			<ref bean="testImpl"/>
		</property>
	</bean>
	-->
	
	<bean id="testImpl" class="webservice.xfire.TestImpl"/>
</beans>
