<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

 	<bean id="crudDao" class="struts.one.action.CrudDaoImpl"/>
  
	<bean name="/LoginAction" class="struts.one.action.LoginAction" singleton="true"/>
 
 	<bean name="/SubmitAction" class="struts.one.action.SubmitAction" >
        <property name="crudDao" ref="crudDao"/>
 	</bean>
 
</beans>
 