<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- jdbc -->
	<!--  
  	<bean id="tb_userDao" class="dao.jdbc.Tb_userDao">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	-->
  	
  	<!-- hibernate -->
  	<bean id="tb_userDao" class="dao.hibernate.Tb_userDao">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="userDao" class="dao.hibernate.UserDao">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<!-- ibatis -->
	<!--  
	<bean id="tb_userDao" class="dao.ibatis.Tb_userDao">
    	<property name="sqlMapClient" ref="sqlMapClient"/>
  	</bean>
  	-->
  	
  	<!-- jpa -->
  	<!--  
	<bean id="tb_departDao" class="dao.jpa.Tb_departDao">
    	<property name="entityManagerFactory" ref="entityManagerFactory"/>
  	</bean>
  	-->
</beans>
