<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="oracleDataSource" class="com.atomikos.jdbc.AtomikosDataSourceBean" init-method="init" destroy-method="close">
		<property name="uniqueResourceName" value="oracle_ds" />
		<property name="xaDataSourceClassName" value="oracle.jdbc.xa.client.OracleXADataSource" />
		<property name="xaProperties">
			<props>   
                <prop key="user">anders</prop>   
                <prop key="password">123</prop>   
                <prop key="URL">jdbc:oracle:thin:@192.168.2.66:1521:xp</prop>   
            </props>
		</property>
	</bean>

	<bean id="mysqlDataSource" class="com.atomikos.jdbc.AtomikosDataSourceBean" init-method="init" destroy-method="close">
		<property name="uniqueResourceName" value="mysql_ds" />
		<property name="xaDataSourceClassName" value="com.mysql.jdbc.jdbc2.optional.MysqlXADataSource" />
		<property name="xaProperties">
			<props>
				<prop key="user">root</prop>
				<prop key="password">123</prop>
				<prop key="URL">jdbc:mysql://localhost:3306/ssh</prop>
			</props>
		</property>
	</bean>
	
	<bean id="userTransactionService" class="com.atomikos.icatch.config.UserTransactionServiceImp" init-method="init" destroy-method="shutdownForce">
        <constructor-arg>
            <props>
                <prop key="com.atomikos.icatch.service">com.atomikos.icatch.standalone.UserTransactionServiceFactory</prop>
            </props>
        </constructor-arg>
    </bean>

	<bean id="atomikosUserTransaction" class="com.atomikos.icatch.jta.UserTransactionImp">
		<property name="transactionTimeout"><value>300</value></property>
	</bean>
	
	<bean id="atomikosTransactionManager" class="com.atomikos.icatch.jta.UserTransactionManager" init-method="init" destroy-method="close">
		<property name="forceShutdown" value="true" />
	</bean>
	
	<bean id="springTransactionManager" class="org.springframework.transaction.jta.JtaTransactionManager">
		<property name="transactionManager"><ref bean="atomikosTransactionManager" /></property>
		<property name="userTransaction"><ref bean="atomikosUserTransaction" /></property>
	</bean>
	
	<bean id="transactionProxyFactoryBean" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean" abstract="true">
		<property name="transactionManager"><ref bean="springTransactionManager" /></property>
		<property name="target"><ref bean="jtaFacade1" /></property>
		<property name="transactionAttributes">
			<props>
				<prop key="save">PROPAGATION_REQUIRED,-Exception</prop>
			</props>
		</property>
	</bean>
	
	<bean id="mySQLDao" class="com.anders.ssh.jta.impl.MySQLDaoImpl">   
        <property name="dataSource" ref="mysqlDataSource" />   
    </bean>   
    <bean id="oracleDao" class="com.anders.ssh.jta.impl.OracleDaoImpl">   
        <property name="dataSource" ref="oracleDataSource" />   
    </bean>   
    <bean id="jtaFacade1" class="com.anders.ssh.jta.impl.JtaFacade1Impl">   
        <property name="mySQLDao" ref="mySQLDao" />   
        <property name="oracleDao" ref="oracleDao" />   
    </bean>  
    <!--   
    <bean id="jtaProxy" parent="transactionProxyFactoryBean">   
        <property name="target">   
            <ref bean="jtaFacade1" />   
        </property>   
    </bean>
    -->  
</beans>
