<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="dataService" class="service.impl.DataServiceImpl">
		<property name="dao" ref="dataDao"/>
	</bean>
	
	<bean id="userService" class="service.impl.UserServiceImpl">
		<property name="dao" ref="userDao"/>
	</bean>
	
	<bean id="resourceService" class="service.impl.ResourceServiceImpl">
		<property name="dao" ref="resourceDao"/>
	</bean>
	
	<bean id="roleService" class="service.impl.RoleServiceImpl">
		<property name="dao" ref="roleDao"/>
	</bean>

</beans>
