<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       	   				   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<!-- 
	<context:property-placeholder location="classpath:system.properties"/>
	-->
	
	<!-- 其中order属性代表其加载顺序，而ignoreUnresolvablePlaceholders为是否忽略不可解析的 Placeholder，如配置了多个PropertyPlaceholderConfigurer，则需设置为true -->
	<bean id="property-placeholder" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<!-- <property name="order" value="1" /> -->
		<property name="ignoreResourceNotFound" value="false" />
		<property name="ignoreUnresolvablePlaceholders" value="true" />
		<property name="locations">
			<list>
				<value>classpath:db.properties</value>
				<value>classpath:system.properties</value>
			</list>
		</property>
	</bean>
	
	<bean id="propertyConfigurer1" class="com.anders.ssh.common.AnnotationPropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:db.properties</value>
				<value>classpath:system.properties</value>
			</list>
		</property>
	</bean>
	
	<bean id="rbms" class="org.springframework.context.support.ResourceBundleMessageSource"> 
		<property name="basename" value="messages"/> 
	</bean> 
	<!-- 国际化的消息资源文件 -->
	<!--  
    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>classpath:messages</value>
            </list>
        </property>
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="cacheSeconds" value="60"/>
    </bean>
    -->
	
	<bean id="locale" class="java.util.Locale">
		<constructor-arg index="0" type="java.lang.String" value="zh"/>
		<constructor-arg index="1" type="java.lang.String" value="CN"/>
		<constructor-arg index="2" type="java.lang.String" value="false"/>
		<!--  
		<constructor-arg index="0" type="java.lang.String" value="en"/>
		<constructor-arg index="1" type="java.lang.String" value=""/>
		<constructor-arg index="2" type="java.lang.String" value="false"/>
		-->
	</bean>
	
	<bean id="messages" class="com.anders.ssh.common.Messages"> 
		<property name="rbms" ref="rbms"/>
		<!--
		<property name="locale" ref="locale"/> 
		<property name="locale" value="Locale.SIMPLIFIED_CHINESE"/> 
		<property name="locale" value="Locale.ENGLISH"/>
		--> 
	</bean>
       
    <!--     
	<bean id="localeResolver" class="org.springframework.web.servlet.i18n.CookieLocaleResolver"/>
	-->
</beans>