<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!--  
	<bean id="indexAction" class="struts.two.action.IndexAction">
		<property name="dao" ref="tb_userDao"/>
	</bean>
	
	<bean id="tb_userAction" class="struts.two.action.Tb_userAction">
		<property name="service" ref="tb_userService"/>
	</bean>
	-->
	
	<!--  
	<bean id="indexAction" class="struts.two.action.IndexAction" scope="prototype">
		<property name="is" ref="indexService"/>
	</bean>
	-->
	
	<!-- 
	<bean id="is" class="service.impl.IndexService"/>
	-->
	
	<bean id="tb_departAction" class="struts.two.action.Tb_departAction">
		<property name="service" ref="tb_departService"/>
	</bean>
</beans>
