<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baidu.rigel.unique.dao.pangu.CustMapper" >
	<select id="selectCustIdTypeFullNamePosId" resultType="Map" parameterType="Map" >
		SELECT id AS cust_id, type AS cust_type, full_name AS cust_full_name, posid AS pos_id 
		FROM cust
		WHERE stat_1 != '07' AND stat_1 != '09' 
		<if test="list != null and list.size > 0">
	    	AND id IN 
		    <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="id != null">
	  		AND id = #{id}
		</if>
		<if test="posId != null">
	  		AND posid = #{posId}
		</if>
		<if test="type != null">
	  		AND type = #{type}
		</if>
		<if test="name != null">
	  		AND name = #{name}
		</if>
		<if test="branch != null">
	  		AND branch = #{branch}
		</if>
		<if test="fullName != null">
	  		AND full_name = #{fullName}
		</if>
		<if test="stat1 != null">
	  		AND stat_1 = #{stat1}
		</if>
		<if test="stat2 != null">
	  		AND stat_2 = #{stat2}
		</if>
		<if test="siteDomain != null">
	  		AND site_domain = #{siteDomain}
		</if>
		<if test="siteUrl != null">
	  		AND site_url = #{siteUrl}
		</if>
		ORDER BY add_time DESC
		LIMIT 100
  	</select>
  	
  	<select id="selectCustIdFullNameBySiteUrl" resultType="Map" parameterType="Map" >
		SELECT id AS cust_id, full_name AS cust_full_name 
		FROM cust 
		WHERE site_url LIKE #{siteUrl} AND stat_1 != '07' AND stat_1 != '09'
		LIMIT #{count}
  	</select>
  	
  	<select id="selectCustIdFullNameBySiteDomain" resultType="Map" parameterType="Map" >
		SELECT id AS cust_id, full_name AS cust_full_name 
		FROM cust 
		WHERE site_domain LIKE #{siteUrl} AND stat_1 != '07' AND stat_1 != '09'
		LIMIT #{count}
  	</select>
  	
  	<select id="selectCustIdByFullName" resultType="Long" parameterType="String" >
	  	SELECT id 
	  	FROM cust 
	  	WHERE full_name = #{fullName} AND stat_1 != '09'
  	</select>
  	
  	<select id="selectCustIdByName" resultType="Long" parameterType="String" >
	  	SELECT id 
	  	FROM cust 
	  	WHERE name = #{name} AND stat_1 != '09' AND type = 1
  	</select>
  	
  	<select id="selectCustIdByBranch" resultType="Long" parameterType="String" >
	  	SELECT id 
	  	FROM cust 
	  	WHERE branch = #{branch} AND stat_1 != '09' AND type = 3
  	</select>
  	
  	<select id="selectCustIdStatInUcidFullNameByCustIdList" resultType="Map" >
	  	SELECT id, stat_1, stat_2, in_ucid, full_name
	  	FROM cust
	  	WHERE id IN 
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>
	
	<select id="selectCustIdPosIdByCustIdList" resultType="Map" >
	  	SELECT id, posid
	  	FROM cust
	  	WHERE id IN 
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>
	
	<select id="selectCountByCustIdList" resultType="Long" parameterType="Map" >
		SELECT COUNT(id) 
		FROM cust 
		WHERE stat_1 IN ('01', '02', '04', '06') AND id IN   
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
			#{item}
		</foreach>
		<if test="posId != null">
	  		AND posid = #{posId}
		</if>
		<if test="id != null">
	  		AND id != #{id}
		</if>
	</select>
</mapper>