<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
	<!--  
	<security:http auto-config="true" realm="Contacts Realm">
        <security:intercept-url pattern="/" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <security:intercept-url pattern="/index.jsp" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <security:intercept-url pattern="/hello.htm" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <security:intercept-url pattern="/login.jsp*" access="IS_AUTHENTICATED_ANONYMOUSLY"/>        
        <security:intercept-url pattern="/switchuser.jsp" access="ROLE_SUPERVISOR"/>
        <security:intercept-url pattern="/j_spring_security_switch_user" access="ROLE_SUPERVISOR"/>
        <security:intercept-url pattern="/**" access="ROLE_USER"/>
        <security:form-login login-page="/login.jsp" authentication-failure-url="/login.jsp?login_error=1"/>
        <security:logout logout-success-url="/index.jsp"/>
    </security:http>
    
    <security:http auto-config="true">   
        <security:intercept-url pattern="/index.jsp*" access="ROLE_ANONYMOUS"/>   
        <security:intercept-url pattern="/logout.jsp*" access="ROLE_ANONYMOUS"/>   
        <security:intercept-url pattern="/**/*.jsp*" access="ROLE_USER"/>            
        <security:intercept-url pattern="/**/*.htm*" access="ROLE_USER"/>   
        <security:intercept-url pattern="/**/*.html*" access="ROLE_USER"/>   
        <security:intercept-url pattern="/**/*.do*" access="ROLE_USER"/>   
        <security:intercept-url pattern="/**/*.ftl*" access="ROLE_USER"/>   
        <security:form-login login-page="/login.jsp"/>   
        <security:logout logout-success-url="/index.jsp"/>   
	</security:http>
	-->
</beans>