##该文件用作开发模板

#parse("/common/const.vm")
#parse("/common/controller.vm")

#parse("/common/doctype.vm")

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	#parse("/common/meta.vm")
	<title>$titlePrefix$msg.#*页面title*#</title>
	#parse("/common/css.vm")
	<script type="text/javascript" src="$jQueryPath"></script>
	#parse("/common/validation.vm")
	<script >
		jQuery(document).ready(function(){
			jQuery("#login").validationEngine();
		});
	</script>
</head>

<body>
	<form id="login" class="formular" action="$projectContext/j_spring_security_check" method="post">
		<fieldset>
			<legend>
				$msg.login.title
			</legend>
			<label>
                <span>$msg.login.user_name$msg.common.colon</span>
				<input class="validate[required,minSize[6],custom[onlyLetterNumber]] text-input" maxlength="20" type="text" name="j_username" id="j_spring_security_check_j_username" />
            </label>
			<label>
                <span>$msg.login.password$msg.common.colon</span>
				<input class="validate[required,minSize[6]] text-input" maxlength="20" type="password" name="j_password" id="j_spring_security_check_j_password" />
            </label>
			<label>
                <span>$!errorMsg</span>
            </label>
		</fieldset>
		<a class="a" href="$!securityController.get_password">$msg.login.get_password</a>
		<input class="submit" type="submit" value="$msg.login.login"/>
		<hr />
	</form>
</body>

</html>
	
<script type="text/javascript">
	document.getElementById('j_spring_security_check_j_username').focus();
</script>
