#macro (allotHeaderMsg)
  <div class="mess air overview-info">
		<div class="area-w"></div><div class="area-v"></div>
		<div class="area">
	      <table>
	        <tr>
	          <td>客户资料总数<span class="info-num">$!optStat.custAllNum</span>条</td>
	          <td>已分配总数<span class="info-num">$!optStat.custAllotNum</span>条</td>
	          <td>未分配总数<span class="info-num">$!optStat.custAllWaitAllotNum</span>条</td>
	        </tr>
	        <tr>
	          <td>一户多开总数<span class="info-num">$!optStat.multiAccountNum</span>条</td>
	          <td>老户新开总数<span class="info-num">$!optStat.oldAccountNum</span>条</td>
	          <td>跟进中修改审核总数<span class="info-num">$!optStat.modifiedAccountNum</span>条</td>
	        </tr>
	        <tr>
	          <td>未分配<span class="info-num">$!optStat.custWaitAllotNum</span>条</td>
	          <td>销售提交未分配总数<span class="info-num">$!optStat.saleWaitAllotNum</span>条</td>
	          <td>公司提交未分配总数<span class="info-num">$!optStat.compWailtAllotNum</span>条</td>
	          <td>其他来源未分配总数<span class="info-num">$!optStat.otherWaitAllotNum</span>条</td>
	        </tr>
	        <tr>
	          <td>审核通过总数<span class="info-num">$!optStat.auditPassNum</span>条</td>
	          <td>清洗通过总数<span class="info-num">$!optStat.cleanoutPassNum</span>条</td>
	          <td>废弃总数<span class="info-num">$!optStat.abandonNum</span>条</td>
	          <td>有质疑总数<span class="info-num">$!optStat.doubtCustNum</span>条</td>
	        </tr>
	      </table>
		  </div>
		<div class="area-v"></div><div class="area-w"></div>
	</div>
#end

#macro (followAllotHeaderMsg)
  <div class="mess air overview-info">
		<div class="area-w"></div><div class="area-v"></div>
		<div class="area">
      <table>
        <tr>
          <td>待分配总数<span class="info-num">$!waitAllotAllNum</span>条</td>
          <td>销售提交待分配<span class="info-num">$!saleWaitNum</span>条</td>
          <td>公司提交待分配<span class="info-num">$!companyWaitNum</span>条</td>
        </tr>
      </table>
		  </div>
		<div class="area-v"></div><div class="area-w"></div>
	</div>
#end

#macro (reAllotHeader)
  <table>
    <tr>
      <td>客户资料总数<span class="info-num">$!optStat.custAllNum</span>条</td>
      <td>待处理<span class="info-num">$!optStat.custStat1Num</span>条</td>
      <td>处理中<span class="info-num">$!optStat.custStat2Num</span>条</td>
      <td>已废弃<span class="info-num"></span>条</td>
    </tr>
    <tr>
      <td>今日新增<span class="info-num">$!optStat.custTodayAddNum</span>条</td>
      <td>今日新增待处理<span class="info-num">$!optStat.custTodayStat1Num</span>条</td>
      <td>今日手工分配<span class="info-num">$!optStat.custTodayAllotNum</span>条</td>
      <td>今日自动分配<span class="info-num">$!optStat.custTodayAutoAllotNum</span>条</td>
    </tr>
  </table>
#end

#macro (reAllotTab $index)
		<div class="tag-head">
			<div class="tag-head-tag#if($index==0) current#end">
				<div class="area-w"></div><div class="area-v"></div>
				<p>#if($index==0)按人员调整#else<a href="reAllotByOptSch.action">按人员调整</a>#end</p>
			</div>
			<div class="tag-head-tag#if($index==1) current#end">
				<div class="area-w"></div><div class="area-v"></div>
				<p>#if($index==1)按任务调整#else<a href="reAllotByTaskSch.action">按任务调整</a>#end</p>
			</div>
		    <div class="tag-head-tag#if($index==2) current#end">
		    	<div class="area-w"></div><div class="area-v"></div>
		    	<p>#if($index==2)跟进分配调整#else<a href="modifyFollowAdjustInit.action">跟进分配调整</a>#end</p>
		    </div>
		</div>
#end

#macro (allotTab $index)
  <div class="tag-head">
		<div class="tag-head-tag#if($index==0) current#end">
			<div class="area-w"></div><div class="area-v"></div>
			<p>#if($index==0)手工分配设置#else<a href="selfAllotSearch.action">手工分配设置</a>#end</p>
		</div>
		<div class="tag-head-tag#if($index==1) current#end">
			<div class="area-w"></div><div class="area-v"></div>
			<p>#if($index==1)自动分配设置#else<a href="autoAllotSearch.action">自动分配设置</a>#end</p>
		</div>
		<div class="tag-head-tag#if($index==2) current#end">
			<div class="area-w"></div><div class="area-v"></div>
			<p>#if($index==2)跟进分配设置#else<a href="modifyFollowAuditInit.action">跟进分配设置</a>#end</p>
		</div>
		<div class="tag-head-tag#if($index==3) current#end">
			<div class="area-w"></div><div class="area-v"></div>
			<p>#if($index==3)申请废弃设置#else<a href="applyAbandCustSetting.action">申请废弃设置</a>#end</p>
		</div>
	</div>
#end

#macro (followAllotTab $index)
  <div class="tag-head">
		<div class="tag-head-tag#if($index==0) current#end">
			<div class="area-w"></div><div class="area-v"></div>
			<p>#if($index==0)手工分配设置#else<a href="selfAllotSearch.action">手工分配设置</a>#end</p>
		</div>
		<div class="tag-head-tag#if($index==1) current#end">
			<div class="area-w"></div><div class="area-v"></div>
			<p>#if($index==1)自动分配设置#else<a href="autoAllotSearch.action">自动分配设置</a>#end</p>
		</div>
	</div>
#end

#macro (otherSettingTab $index)
<div class="tag-head">
    <div class="tag-head-tag#if($index==0) current#end">
	<div class="area-w"></div><div class="area-v"></div>
	<p>#if($index==0)优先审核数量#else<a href="../setting/priorityQuery.action">优先审核数量</a>#end</p>
    </div>
    <div class="tag-head-tag#if($index==1) current#end">
	<div class="area-w"></div><div class="area-v"></div>
	<p>#if($index==1)白名单设置#else<a href="../whitelist/querywhitelist.action">白名单设置</a>#end</p>
    </div>
    <div class="tag-head-tag#if($index==2) current#end">
	<div class="area-w"></div><div class="area-v"></div>
	<p>#if($index==2)离职客保时间#else<a href="../setting/demission.action">离职客保时间</a>#end</p>
    </div>
</div>
#end

#macro (generalQueryTab $index)
  <div class="tag-head">
		<div class="tag-head-tag#if($index==0) current#end">
			<div class="area-w"></div><div class="area-v"></div>
			<p>#if($index==0)客户资料查询#else<a href="generalCustQuery.action">客户资料查询</a>#end</p>
		</div>
		<div class="tag-head-tag#if($index==1) current#end">
			<div class="area-w"></div><div class="area-v"></div>
			<p>#if($index==1)操作记录查询#else<a href="custOptHisQuery.action">操作记录查询</a>#end</p>
		</div>
	</div>
#end

#macro (queryHistoryTab $index)
<div class="tag-head">
    <div class="tag-head-tag#if($index==0) current#end" style="width:160px">
	<div class="area-w"></div><div class="area-v"></div>
	<p>#if($index==0)历史操作记录查询#else<a href="custOptHisQueryAll.action">历史操作记录查询</a>#end</p>
    </div>
    <div class="tag-head-tag#if($index==1) current#end" style="width:160px">
	<div class="area-w"></div><div class="area-v"></div>
	<p>#if($index==1)历史废弃操作查询#else<a href="abandCustOptHisQueryAll.action">历史废弃操作查询</a>#end</p>
    </div>
</div>
#end

#macro (opTip)
 <div class="tip-r-s" id="reasonContainer">$!reason</div>
#end

#macro (tblLeaderMsg $fe_noSelectInfo)
<div class="tbl-msg">
  <div class="tbl-msg-left">满足条件的客户资料共<span class="info-num">$!page.total_page_num</span>条</div>
  #if(!$fe_noSelectInfo)
  <div class="tbl-msg-right">已选择<span class="info-num" id="checkedCount">0</span>个</div>
  #end
  <br class="clear">
</div>
#end

#macro (allotMember $name $members $columnNum $attrs)
<table>
  <tr>
  #foreach($item in $members)
    <td><input id="fieldIndex_${fieldIndex}" type="checkbox" name="$name" value="$item.value" #evaluate($attrs) #if($item.isChecked)checked="checked"#end  $attrs><label for="fieldIndex_${fieldIndex}">$!stringUtils.escapeHTML($item.text)</label></td>
    #set($fieldIndex = $fieldIndex + 1)
    #if (($velocityCount % $columnNum == 0) && $velocityCount != $members.size())
    </tr><tr>
    #end
  #end
  </tr>
</table>
#end

#macro(auditAllotMode)
<script type="text/javascript">
  if(typeof(pt) == "undefined") pt ={};
  pt.ctrlAllotMemberDisplay = function(me){
    if( me.value == "0"){
      G("allotMember").style.display = "none";
      pt.allotMemberSelected = false;
    }
    else{
      G("allotMember").style.display = "";
      pt.allotMemberSelected = true;
    }
  }
</script>
<div class="form-item">
  <div class="form-item-title">分配方式<span class="title-tip">多审核人员，资料将系统随机分配</span><span class="tip-r" id="allotMthTip">&nbsp;</span></div>
  <div class="form-item-content">
    #set($allotMth=[
          {"text":"全部人员平均随机分配", "value": "0"},
          {"text":"部分人员平均随机分配", "value": "1"}
  	])
    #list("curAuditMthd" $allotMth "0" "radio" "onClick='pt.ctrlAllotMemberDisplay(this)'")
    &nbsp;&nbsp;<span id="allotMthTip" class="tip-r"></span>
  </div>
</div><!--form-item-->
#if($listAuditUsers.size() >0)
<div class="allot-member" id="allotMember" style="display:none">
	<div class="area-w"></div><div class="area-v"></div>
	<div class="area">
    #allotMember("listSelectedOpt", $listAuditUsers 7 "")
	</div>
	<div class="area-v"></div><div class="area-w"></div>
</div>
#else
<div id="allotMember" style="display:none"></div>
#end
#end

#macro(followAllotMode)
 <div class="form-item">
  <div class="form-item-title">分配方式&nbsp;<span class="tip-r" id="curAllotTypeTip">&nbsp;</span></div>
  <div class="form-item-content">
    <input type="radio" name="curAllotType" checked="checked" value="0" id="curAllotType0" />
    <label for="curAllotType0">根据范围分配</label>
    <span class="gray">满足条件的客户资料分配给对应单位，单位内部人员随机分配</span>
    <div class="dept-area">
    	<div class="area-w"></div><div class="area-v"></div>
    	<div class="area">
        部门层级
        <select name="curDept" class="cur-dept" id="curDept">
          #print_tree($listDept)
        </select>
        个人
        #list("curOpt" $listOpt "$!curOpt" "select" " class='cur-opt' id='curOpt'")
    	</div>
    	<div class="area-v"></div><div class="area-w"></div>
    </div><!--部门层级-->
    <input type="radio" name="curAllotType" value="3" id="curAllotType1" />
    <label for="curAllotType1">销售人员申领</label>
    <span class="gray">供所有销售人员申领，随机分配</span>
    <table cellpadding="5">
	<tr>
	    <td>批注&nbsp;<span style="color:#F00">*</span></td>
	    <td><textarea name="optPostil" style="width:400px;font-size:12px"></textarea></td>
	    <td><span class="tip-r" id="optPostilTip"></span></td>
	</tr>
    </table>
  </div>
</div><!--form-item-->
#end


          
#macro(verifyDataMode)
<div class="form-item">
  <div class="form-item-title">资料确认方式&nbsp;<span class="tip-r" id="curAuditTypeTip">&nbsp;</span></div>
  <div class="form-item-content">
    #set($listAuditType=[
          {"text":"审核", "value": "0"},
          {"text":"清洗", "value": "1"},
          {"text":"审核并清洗","value": "2"},
          {"text":"不审核不清洗","value": "3"}
  		])
      #list("curAuditType" $listAuditType "0" "radio")
  </div>
</div><!--form-item-->
#end

#macro(allotSearchForm $handler $fe_type)
  <script type="text/javascript">
    if(typeof(pt)=="undefined") pt ={};
    pt.checkSearchForm = function(){
      var searchFlag = true;
      if(!chkRequire(["schCond.curListCustProperties","schCond.curListCustFrom"],["listCustPropertiesTip","listCustFromTip"],["优先级","资料来源"])) searchFlag = false;
      if(G("repNumInput").value.trim().length > 0 && !G("repNumInput").value.trim().match(/^[1-9][0-9]{0,9}$/)){
        G("repNumTip").innerHTML = "置换次数请填写不超过10位的正整数!";
        var searchFlag = false;
      }
      else{
        G("repNumTip").innerHTML = "";
        G("repNumInput").value = G("repNumInput").value.trim();
      }
      if(G("quitNumInput").value.trim().length > 0 && !G("quitNumInput").value.trim().match(/^[1-9][0-9]{0,9}$/)){
        G("quitNumTip").innerHTML = "申请废弃次数请填写不超过10位的正整数!";
        var searchFlag = false;
      }
      else{
        G("quitNumTip").innerHTML = "";
        G("quitNumInput").value = G("quitNumInput").value.trim();
      }
      return searchFlag;
    }
  </script>
 <form class="air query allot-search" name="query" method="post" action="$handler" id="queryForm" onSubmit="return pt.checkSearchForm();">
  <table>
    <tr>
      <td>
        <div class="form-item-title">提交时间</div>
        <div class="form-item-content">
          <input type="text" value="$!dateUtils.formatDate($schCond.startDate,$accurate2Day)" class="time" name="schCond.startDate" id="beginDate">&nbsp;到&nbsp;
          <input type="text" value="$!dateUtils.formatDate($schCond.endDate,$accurate2Day)" class="time" name="schCond.endDate" id="endDate">
        </div>
      </td>
      <td>
        <div class="form-item-title">优先级&nbsp;&nbsp;<span id="listCustPropertiesTip" class="tip-r"></span></div>
        <div class="form-item-content">
          #set($listCustProperties=[
              {"text":"入自有库", "value": 1, "isChecked":$schCond.curListCustProperties.contains(1)},
              {"text":"优先审核", "value": 0, "isChecked":$schCond.curListCustProperties.contains(0)},
              {"text":"入公共库", "value": 2, "isChecked":$schCond.curListCustProperties.contains(2)}
      		])
          #list("schCond.curListCustProperties" $listCustProperties "" "checkbox")
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="form-item-title">资料来源&nbsp;&nbsp;<span id="listCustFromTip" class="tip-r"></span></div>
        <div class="form-item-content">
          #list("schCond.curListCustFrom" $custInputList "" "checkbox")
        </div>
      </td>
      <td>
        <div class="form-item-title">历史处理</div>
        <div class="form-item-content">
          #if($fe_type)
	    #list("schCond.curHisCustStat" $schCond.listHisCustStat  $!schCond.curHisCustStat "radio" "onclick='hisChange(this)'")
	  #else
	    #list("schCond.curHisCustStat" $schCond.listHisCustStat  $!schCond.curHisCustStat "radio")
	  #end
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="form-item-title">所属行业</div>
        <div class="form-item-content">
          <span>
            #list("schCond.curCustTrade1" $schCond.listCustTrade1 "$!schCond.curCustTrade1" "select" ' id="tradeList1"')
          </span>
          <span id="tradeList2Parent">
            #list("schCond.curCustTrade2" $schCond.listCustTrade2 "$!schCond.curCustTrade2" "select" ' id="tradeList2"')
  				</span>
        </div>
      </td>
      <td>
        <div class="form-item-title">所属地域</div>
        <div class="form-item-content">
          <span>
            #list("schCond.curCustProv" $schCond.listCustProv "$!schCond.curCustProv" "select" ' id="custProv"')
						#list("schCond.curCustCity" $schCond.listCustCity "$!schCond.curCustCity" "select" ' id="custCity"')
            #list("schCond.curCustDirect" $schCond.listCustDirect "$!schCond.curCustDirect" "select" ' id="custDirect"')
          </span>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="form-item-title">置换次数&nbsp;&nbsp;<span id="repNumTip" class="tip-r"></span></div>
        <div class="form-item-content">
          #set($listRepNumOpt=[
            {"text":"大于 >", "value": 0},
            {"text":"大于等于 >=", "value": 1},
            {"text":"等于 =", "value": 2},
            {"text":"小于 <", "value": 3},
            {"text":"小等于 <=", "value": 4}
    			])
          <span>
            #list("schCond.curRepNumOpt" $listRepNumOpt "$!schCond.curRepNumOpt" "select")
          </span>
          <span><input type="text" value="$!schCond.repNum" name="schCond.repNum" id="repNumInput"></span>
        </div>
      </td>
      <td>
        <div class="form-item-title">申请废弃次数&nbsp;&nbsp;<span id="quitNumTip" class="tip-r"></span></div>
        <div class="form-item-content">
          #set($listQuitNumOpt = [
            {"text":"大于 >", "value": 0},
            {"text":"大于等于 >=", "value": 1},
            {"text":"等于 =", "value": 2},
            {"text":"小于 <", "value": 3},
            {"text":"小等于 <=", "value": 4}
    			])
          <span>
            #list("schCond.curQuitNumOpt" $listQuitNumOpt "$!schCond.curQuitNumOpt" "select")
          </span>
          <span><input type="text" value="$!schCond.quitNum" name="schCond.quitNum" id="quitNumInput"></span>
        </div>
      </td>
    </tr>
    <tr>
      <td>
          #if($fe_type == "audit")
            <div class="form-item-title">自动审核结果</div>
            <div class="form-item-content">
                #list("autoAuditResult" $autoAuditList "$!autoAuditResult" "select")
            </div>
          #else
            <div class="form-item-title">批次</div>
            <div class="form-item-content">
                <input name="batch" type="text" value="$!curBatch" maxlength="200" />
            </div>
          #end
      </td>
      <td>
        <table cellpadding="0" cellspacing="0">
	<tr>
        #if($schCond.listCompany)
            <td style="padding-bottom:0px">
	    <div class="form-item-title">分公司选择</div>
            <div class="form-item-content">
              #list("schCond.curCompany" $schCond.listCompany "$!schCond.curCompany" "select" "id=compList")
            </div>
	    </td>
        #end
	    <td style="padding-bottom:0px">
		#if($fe_type)
		<div id="deptSelectArea">
		<div class="form-item-title">部门</div>
		<div class="form-item-content" id="deptSel">
		    <select name="currDeptId" id="depList">
			#print_tree($deptList $!currDeptId)
		    </select>
		</div>
		</div>
		#end
	    </td>
	</tr>
	</table>
      </td>
    </tr>
  </table>
    <div class="air">
      <input type="submit" value="查询" class="btn-g">
      <input type="button" value="重置" class="btn-r" onclick="G('queryForm').reset();">
    </div>
</form>
<script type="text/javascript">
#if($fe_type)
    function hisChange(ele) {
	if(ele.value == '0' || ele.value == '1010') {
	    G('deptSelectArea').style.display = '';
	}
	else {
	    G('deptSelectArea').style.display = 'none';
	}
    }
#if($schCond.listCompany)
    var getDeptXHR = new Ajax(function(data){
	    G('deptSel').innerHTML = data.trim();
	}, function () {
	    alert('通信错误，请稍候重试');
	});
    G('compList').onchange = function () {
	getDeptXHR.send('$selfAllotDeptQuery'+'?currUnitPosId='+this.value);
    };
#end
    (function () {
	var form = G('queryForm');
	var hisRadio = form['schCond.curHisCustStat'];
	var rad = null;
	for(var i = 0; i < hisRadio.length; i++) {
	    if(hisRadio[i].checked) {
		rad = hisRadio[i];
		break;
	    }
	}
	if(rad && (rad.value == '0' || rad.value == '1010')) {
	    G('deptSelectArea').style.display = '';
	}
	else {
	    G('deptSelectArea').style.display = 'none';
	}
    })()

#end
</script>
#end


#macro(generalQueryForm $fe_handler $fe_custQueryFlag)
<form class="air query allot-search" name="query" method="post" action="$fe_handler" id="queryForm" onSubmit="return chkGeneralQueryForm(this)">
    
    <div style="margin-bottom:15px;#if($listCompany.size() > 1) #else display:none;#end">
        <b>分公司选择</b>
        #list("curCompany" $listCompany "$!curCompany" "select" " onchange='pt.changeCompany(this)'")
    </div>

    <table cellpadding="5">
	<tr>
	    <td>资料ID</td>
	    <td><input type="text" value="$!stringUtils.escapeAttr($custId)" name="custId" id="custId" size="40" maxlength="10" trim="yes" pattern="\d*" message="请输入正确的资料ID！"/></td>
	    <td>联系人</td>
	    <td><input type="text" value="$!stringUtils.escapeAttr($contract)" name="contract" id="contract" size="26" maxlength="20" trim="yes" message="请输入正确的联系人！"/></td>
	</tr>
	<tr>
	    <td>公司名称</td>
	    <td><input type="text" value="$!stringUtils.escapeAttr($custName)" name="custName" id="custName" size="40" maxlength="200" trim="yes" /></td>
	    <td>联系电话</td>
	    <td><input type="text" value="$!stringUtils.escapeAttr($contPhone)" name="contPhone" id="contPhone" size="26" maxlength="22" trim="yes" pattern="[0-9\-]*" message="请输入正确的联系电话！"/></td>
	</tr>
	<tr>
	    <td>URL</td>
	    <td colspan="3">
		<input type="text" value="$!stringUtils.escapeAttr($custUrl)" name="custUrl" id="custUrl" size="40" maxlength="200" trim="yes" />
		## 6.3.10 增加URL模糊匹配方式
		#if($fe_custQueryFlag)
		<input type="checkbox" value="1" #if($matchType==1)checked="checked"#end onclick="searchURLType(this)" id="urlchk_domain" name="matchType" /><label for="urlchk_domain">主域模糊匹配</label>&nbsp;
		<input type="checkbox" value="2" #if($matchType==2)checked="checked"#end onclick="searchURLType(this)" id="urlchk_name" name="matchType" /><label for="urlchk_name">URL前缀匹配</label>
		#end
	    </td>
	</tr>
	<tr>
	    <td>所属行业</td>
	    <td colspan="3">
		<span>
		    #list("trade1" $trade1List "$!trade1" "select" ' id="tradeList1"')
		</span>
		<span id="tradeList2Parent">
		    #list("trade2" $trade2List "$!trade2" "select" ' id="tradeList2"')
		</span>
	    </div>
	</tr>
    </table>
	<table>
        #if ($fe_custQueryFlag)
        <tr>
            <td colspan="2">
                <div class="form-item-title">资料状态</div>
                <div class="form-item-content">
                #list("curCustState" $custStateList  $!curCustState "radio")
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="form-item-title">跟进人</div>
                <div class="form-item-content">
                #deptOptTree
                </div>
            </td>
        </tr>
	#else
	  <tr>
            <td colspan="2">
                <div class="form-item-title">操作类型</div>
                <div class="form-item-content">
                #list("optType" $optTypeList $!optType "select")
                </div>
            </td>
	  </tr>  
        #end
    </table>
    <div class="air">
      <input type="submit" id="queryBtn" value="查询" class="btn-g" />
      <input type="reset" value="重置" class="btn-r" />
    </div>
</form>
<script type="text/javascript">
    initMultiSelect([{name:"tradeList1", url:"../cust/tradeList.action?tradeId="}, {name:"tradeList2"}]);
    var pt = window.pt || {};
    pt.changeCompany = function(me){
        location.href = "$!fe_handler?curCompany=" + me.value;
    }
    
    function chkGeneralQueryForm(form) {
	if (Validate.validForm(form)) {
	    G('queryBtn').disabled = true;
	    return true;
	}
	else {
	    return false;
	}
    }
</script>
#end
