## 引号
#set($quote = '"')

## 单引号
#set($fe_squote = "'")

## 日期缺省格式
#set($dateFormat = 'yyyy-MM-dd HH:mm:ss')

## 日期精确到天
#set($accurate2Day = 'yyyy-MM-dd')

## 删除时的二次确认
#set($deleteConfirmText = "请确认是否删除？")

## 是否可删除联系人及联系电话
#set($canDelContact = true)

## 客户类型
#set($custTypeList = [{"text":"普通企业", "value":"0"}, {"text":"特殊企业", "value":"1"}, {"text":"个人", "value":"2"}, {"text":"广告代理公司", "value":"3"}])

## 客户资料来源
##set($custFromList = [{"text":"全部","value":"-1"},{"text":"手工录入","value":"0"},{"text":"批量导入","value":"1"},{"text":"网上申请","value":"2"},{"text":"来电咨询","value":"3"}])

## 建站情况
#set($webSiteList = [{"text":"已有网站", "value":"0"}, {"text":"暂无网站", "value":"1"}, {"text":"未知", "value":"2"}])

## 暂无网站说明
## set($noWebSiteList = [{"text":"未开始建站", "value":"0"}, {"text":"协作单位建设中", "value":"1"}, {"text":"企业自建中", "value":"2"}])
#set($noWebSiteList = $custNoWebSiteTypeList)

## 决策类型
##set($policyTypeList = [{"text":"决策人", "value":"0"}, {"text":"操作人", "value":"1"}, {"text":"影响决策人", "value":"2"}])

## 性别
#set($contactSexList = [{"text":"不详", "value":"0"}, {"text":"男", "value":"1"}, {"text":"女", "value":"2"}])

## 提交方式 优先级
#set($custLibList = [{"text":"入自有库", "value":"1", "info":"优先分配给资料提交人"}, {"text":"优先审核", "value":"0", "info":"要求审核人员优先处理，并优先分配给资料提交人"}, {"text":"入公共库", "value":"2", "info":"作为全公司共有客户资料提交"}])

## 优先级(含全部)
#set($custLibPri = [{"text":"全部", "value":"-1"},{"text":"入自有库", "value":"1"}, {"text":"优先审核", "value":"0"}, {"text":"入公共库", "value":"2"}])

## 资料确认方式 (当前只在按任务分配页面使用)
#set($dataConfirmMode= [{"text":"全部", "value":"-1"}, {"text":"审核", "value":"0"}, {"text":"清洗", "value":"1"},{"text":"审核并清洗", "value":"2"}])

## 是否使用电脑
#set($useComputerList = [{"text":"会使用", "value":"0"}, {"text":"不会使用", "value":"1"}])

## 网络推广历史
#set($haveNetIdeaList = [{"text":"有", "value":"0"}, {"text":"无", "value":"1"}])

## 质疑类型
#set($autoAuditTypeList = [{"text":"客户名称", "value":"0"}, {"text":"网站URL", "value":"1"}, {"text":"联系人电话", "value":"2"}])

## 跟进记录类型
#set($followRecTypeList = [{"text":"继续跟进", "value":"0"}, {"text":"客户置换", "value":"1"}, {"text":"申请废弃", "value":"2"}])

## 座机国家代码
#set($fe_phoneCountryCodeList = [{"text" : "中国", "value":"86"}, {"text":"香港", "value":"852"}, {"text":"澳门", "value":"853"}, {"text":"台湾","value":"886"}, {"text":"日本", "value":"81"}, {"text":"韩国","value":"82"}, {"text":"北韩", "value":"850"}, {"text":"新加坡","value":"65"},{"text":"美/加","value":"1"},{"text":"俄罗斯","value":"7"}])

#set($projectNameContext = "/rigel-unique/")

####### URL

## 客户跟进页面
#set($followInfoUrl = "${projectNameContext}follow/followInfo.action")

## 跟进记录详情页
#set($followInfoViewUrl = "${projectNameContext}follow/followPostilView.action")

## 新增跟进记录
#set($addFollowRecordAction = "${projectNameContext}follow/followPostilAdd.action")

## 派单记录详情页
#set($sendOrderViewUrl = "${projectNameContext}sendorder/sendOrderInfo.action")


####### Action

## 客户资料修改的链接
#set($custModifyAction = "${projectNameContext}cust/update.action")

## 公司名称自动审核
#set($custNameAutoAuditAction = "${projectNameContext}cust/custNameAutoAudit.action")

## 公司名称自动审核
#set($custNameSelfAuditAction = "${projectNameContext}cust/custNameSelfAudit.action")

## URL自动审核
#set($urlAutoAuditAction = "${projectNameContext}cust/urlAutoAudit.action")

## Phone自动审核
#set($phoneAutoAuditAction = "${projectNameContext}cust/phoneAutoAudit.action")

## 行业Ajax
#set($tradeListAction = "${projectNameContext}cust/tradeList.action")

## 地域Ajax
#set($areaListAction = "${projectNameContext}cust/areaList.action")

## 客户资料提交
#set($custSaveAction = "${projectNameContext}cust/custSave.action")

## 客户资料重新提交
#set($abandReSubmitSaveAction = "${projectNameContext}aband/abandReSubmitSave.action")

## 客户资料修改提交
#set($custUpdateAction = "${projectNameContext}cust/custUpdate.action")

## 删除已存在的联系人
#set($delExistContactAction = "${projectNameContext}cust/contactDelete.action")

## 删除已存在的收件人
#set($delExistRecipAction = "${projectNameContext}cust/recipDelete.action")

## 删除已存在的电话
#set($delExistPhAction = "${projectNameContext}cust/phDelete.action")

## 客户资料审核页面
#set($custAuditView = "${projectNameContext}audit/auditView.action")

## 客户资料审核
#set($custAuditAction = "${projectNameContext}audit/audit.action")

##驳回资料全部审核通过
#set($overruleAuditPassAction = "${projectNameContext}audit/overruleAuditPass.action")

##驳回资料全部驳回
#set($overruleAuditFailAction = "${projectNameContext}audit/overruleAuditFail.action")

##驳回资料审核页面
#set($overruleAuditCustView = "${projectNameContext}audit/overruleAuditInit.action")

##驳回资料审核
#set($overruleAuditAction = "${projectNameContext}audit/overruleAudit.action")

##驳回资料查询
#set($overruleAuditQuery = "${projectNameContext}audit/overruleAuditSearch.action")


## 客户资料清洗页面
#set($custCleanOutView = "${projectNameContext}audit/cleanoutView.action")

## 客户资料清洗
#set($custCleanOutAction = "${projectNameContext}audit/cleanout.action")

## 派单处理
#set($sendOrderDealAction = "${projectNameContext}sendorder/dealWith.action")

## 客户资料对比查询
#set($custCompareQueryAction = "${projectNameContext}audit/autoAuditMatchList.action")

## 客户资料详细对比
#set($custCompareAction = "${projectNameContext}audit/contrast.action")

## 申请废弃资料审核列表页
#set($urlApplyAbandCustList = "${projectNameContext}audit/applyAbandCustList.action")

## 客户跟进 客户资料 备注添加
#set($followRemarkAction = "${projectNameContext}follow/followRemark.action")

## 客户跟进 辅助派单
#set($followSendOrderAction = "${projectNameContext}sendorder/saveSendOrder.action")

## 客户跟进 客户置换
#set($followCustReplaceAction = "${projectNameContext}follow/replacement.action")

## 客户跟进 申请废弃
#set($followAbandonAction = "${projectNameContext}follow/quit.action")

## 6.2.8项目增加代理商相关功能
#set($channelAssignURL = {
    "listAction" : "${projectNameContext}channel/agentCustomerAssignList.action",
    "exportCust" : "${projectNameContext}channel/exportCustInfo4AgentAssign.action",
    "assign" : "${projectNameContext}channel/agentCustomerAssign.action"
})

## 6.2.20线索库项目增加相关功能

## 设置线索转化action地址
#set($saleHintAction = {
    "listMyHint" : "${projectNameContext}salehint/listMyHint.action",
    "viewMyHint" : "${projectNameContext}salehint/viewMyHint.action",
    "tagMyHint" : "${projectNameContext}salehint/tagMyHint.action",
    "transferMyHintPrompt" : "${projectNameContext}salehint/transferMyHintPrompt.action",
    "transferMyHint" : "${projectNameContext}salehint/transferMyHint.action",
	"listDiscardRule" : "${projectNameContext}salehint/listDiscardRule.action",
	"updateHintRetainReply": "${projectNameContext}salehint/updateHintRetainReply.action",
	"viewTagRecord": "${projectNameContext}salehint/viewTagRecord.action",
	"listSaleHint": "${projectNameContext}salehint/listSaleHint.action",
	"distribute": "${projectNameContext}salehint/distribute.action",
	"listHintRetainReply": "${projectNameContext}salehint/listHintRetainReply.action",
	"updateHintRetainReplyBatch": "${projectNameContext}salehint/updateHintRetainReplyBatch.action",
	"viewSaleHint": "${projectNameContext}salehint/viewSaleHint.action",
	"updateDiscardRule": "${projectNameContext}salehint/updateDiscardRule.action",
	"deleteDiscardRule": "${projectNameContext}salehint/deleteDiscardRule.action",
	"saveDiscardRule": "${projectNameContext}salehint/saveDiscardRule.action",
	"listMyHintDetail": "${projectNameContext}salehint/listMyHintDetail.action",
    "agentListQuery" : "${projectNameContext}salehint/listSaleHintForAgent.action",
    "transferCustForAgent" : "${projectNameContext}salehint/transferCustForAgent.action",
    "discardCustForAgent" : "${projectNameContext}salehint/discardCustForAgent.action"
})

## 5.2.0呼入中的呼出项目升级
##下发客户资料接收、反馈查询
#set($agentCustomerListAction = "${projectNameContext}channel/agentCustomerList.action")

##下发客户资料下载
#set($exportCustInfo4AgentAction = "${projectNameContext}channel/exportCustInfo4Agent.action")

##下发客户资料接收、反馈详情查看
#set($viewCustAndFollowInfoAction = "${projectNameContext}follow/viewCustAndFollowInfo.action")

##下发客户资料接收、反馈详情查看
#set($agentFollowViewAction = "${projectNameContext}follow/agentFollowView.action")

##下发客户跟进页面
#set($agentFollowViewAction = "${projectNameContext}follow/agentFollowView.action")

##查看下发客户详细跟进记录
#set($agengtFollowPostilViewAction = "${projectNameContext}follow/agengtFollowPostilView.action")

##查看下发客户详细跟进记录
#set($agentAbandCustAction = "${projectNameContext}follow/agentAbandCust.action")

##下发客户成单
#set($agentSuccCustAction = "${projectNameContext}follow/agentSuccCust.action")

##下发客户提交开户帐号
#set($agentSubAccountAction = "${projectNameContext}follow/addShifenAccount.action")

##下发客户添加跟进记录
#set($followPostilAdd4AgentAction = "${projectNameContext}follow/followPostilAdd4Agent.action")

##客户跟进记录
#set($followInfoListAction = "${projectNameContext}follow/followInfoList.action")

## 黑名单
#set($custBackFormAction = "addCustBlackList.action")

## 申领跟进客户URL
#set($urlMyCustGet = "getCust.action")

## 客户跟进显示方式查询
#set($urlFollowListQuery = "listCust.action")

## 我的订单待跟进客户查询URL
#set($urlMyCustQuery = "myCust.action")

## 我的订单开始跟进URL
#set($urlFollowInfo = "followInfo.action")

## 我的订单查看
#set($urlMyOrderView = "${projectNameContext}cust/view.action")

## 派单任务分配查询列表URL
#set($urlSendOrderAssignQuery = "sendOrderAssignList.action")

## 派单任务查看URL
#set($urlSendOrderView = "sendOrderView.action")

## 派单任务处理URL
#set($urlSendOrderProc = "go2DealWith.action")

## 派单任务驳回URL
#set($urlSendOrderReject = "sendOrderReject.action")

## 派单任务分配
#set($urlSendOrderAssign = "sendOrderAssign.action")

## 派单任务管理查询列表URL
#set($urlManagerSendOrder = "managerSendOrder.action")

## 派单任务重新分配
#set($urlReassignSendOrder = "reassignSendOrder.action")

## 派单查询列表URL
#set($urlSendOrderQuery = "querySendOrder.action")

## 地域列表查询
#set($urlAreaListQuery = "areaList.action")

## 客户行业查询列表URL
#set($urlTradeQuery = "querytrade.action")

## 客户行业新增URL
#set($urlAddTrade = "addtrade.action")

## 客户行业删除URL
#set($urlDeleteTrade = "deltrade.action")

## 客户行业修改URL
#set($urlModifyTrade = "modtrade.action")

## 客户地域查询列表URL
#set($urlAreaQuery = "queryarea.action")

## 客户地域新增URL
#set($urlAddArea = "addarea.action")

## 客户地域删除URL
#set($urlDeleteArea = "delarea.action")

## 客户地域修改URL
#set($urlModifyArea = "modarea.action")

## 客户级别新增URL
#set($urlAddLevel = "addlevel.action")

## 客户级别删除URL
#set($urlDeleteLevel = "dellevel.action")

## 客户级别修改URL
#set($urlModifyLevel = "modlevel.action")

## 客户资料重新提交URL
#set($urlCustNew = "custNew.action")

## 客户资料查询
#set($urlCustListQuery = "custQuery.action")

## 增加黑名单
#set($urlAddBlackList = "addBlackList.action")

## 确认增加黑名单
#set($urlAddCustBlackList = "addCustBlackList.action")

## 修改黑名单
#set($urlModifyBlackList = "modBackList.action")

## 删除黑名单
#set($urlDeleteBlackList = "delBackList.action")

## 黑名单查询列表
#set($urlQueryBlackList = "queryBackList.action")

## 已废弃资料查询列表
#set($urlCustAuditNQuery = "custAuditN.action")

## 审核清洗列表查询
#set($urlAuditListQuery = "auditListSearch.action")

## 审核清洗显示列表
#set($urlAuditListShow = "auditList.action")

## 已有客户资料列表查询
#set($urlCustCurrentListQuery = "curCustDataList.action")

## 特定词规则设定
#set($coreWordRuleModAction = "${projectNameContext}coreword/coreWordRuleMod.action")

## 特定词规则URL
#set($urlCoreWordRule = "${projectNameContext}coreword/coreWordRule.action")

## 特定词修改URL
#set($urlCoreWord = "${projectNameContext}coreword/coreWordSetUp.action")

## 特定词查询
#set($coreWordQuery = "${projectNameContext}coreword/coreWordSetUp.action")

## 特定词添加
#set($coreWordAddAction = "${projectNameContext}coreword/coreWordAdd.action")

## 特定词修改
#set($coreWordModAction = "${projectNameContext}coreword/coreWordMod.action")

## 特定词删除
#set($coreWordDelAction = "${projectNameContext}coreword/coreWordDel.action")

## 季节性备案客户添加
#set($seasonCustAddAction = "${projectNameContext}seasoncustlist/seasonCustListAdd.action")

## 季节性备案客户查询
#set($seasonCustQuery = "${projectNameContext}seasoncustlist/seasonCustListSearch.action")

## 季节性备案客户修改URL
#set($urlSeasonCustMod = "${projectNameContext}seasoncustlist/seasonCustListMod.action")

## 季节性备案客户修改
#set($seasonCustModAction = "${projectNameContext}seasoncustlist/seasonCustListModMod.action")

## 季节性备案客户删除
#set($seasonCustDelAction = "${projectNameContext}seasoncustlist/seasonCustListDel.action")

## 季节性备案客户删除联系电话
#set($seasonCustDelPhoneAction = "${projectNameContext}seasoncustlist/seasonCustListModDel.action")

## 老客户白名单添加
#set($sfWhitelistAddAction = "${projectNameContext}shifencustwhitelist/shifenCustWhitelistAdd.action")

## 老客户白名单查询
#set($sfWhitelistQuery = "${projectNameContext}shifencustwhitelist/shifenCustWhitelistSearch.action")

## 老客户白名单删除
#set($sfWhitelistDelAction = "${projectNameContext}shifencustwhitelist/shifenCustWhitelistDel.action")

## 老客户白名单获取制定销售
#set($urlSfWhitelistDeptlist = "${projectNameContext}shifencustwhitelist/shifenCustWhitelistDeptlist.action")

## 废弃资料查询
#set($urlCustAbandQuery = "${projectNameContext}cust/custAbandQuery.action")

## 录入资料查询
#set($urlCustQuery = "${projectNameContext}cust/custQuery.action")

## 审核清洗任务分配 分公司部门异步查询
#set($selfAllotDeptQuery = "${projectNameContext}auditassign/currUnitPosChange.action")

## 订单状态列表名称
#set($statusNames={
	"1":"待提交",
	"2":"审核中",
	"3":"已成功",
	"4":"已驳回",
	"5":"已撤消",
	"7":"待预审核",
	"8":"待资质审核",
	"9":"待开户",
	"10":"已搁置",
	"11":"已撤单",
	"12":"已开户",

	"20":"财务待审核",
	"21":"待开发票",
	"22":"待开收款证明",
	"23":"后开发票",
	"24":"已派出单据",
	"25":"待收款",
	"26":"待加款",
	"27":"待补开发票",
	"28":"财务已驳回",
	"29":"待退款",
	"30":"财务代管",

	"40":"合同待审核",
	"41":"待返还合同",
	"42":"已返还",
	"43":"已驳回",
	"44":"即将逾期",
	"45":"逾期",
	"46":"人事扣款",
	"47":"人事还款",

	"50":"待审核",
	"51":"已驳回",
	"52":"待发放",
	"53":"已发放",
	"54":"已退回"
})

## AB单状态列表
#set($ABList=[{"text":"是","value":"1"},{"text":"否","value":"0"}])

## 票据类型列表
#set($receiptTypeList=[{"text":"先开发票","value":"0"},{"text":"收款证明","value":"1"},{"text":"后开发票","value":"2"}])

## 发送方式列表
#set($sendMethodList=[{"text":"自行","value":"0"},{"text":"快递","value":"1"}])

## 请选择的数据
#set($selectItem = {"text":"请选择","value":"-1"})

## ******呼出二期常量******
#set($fe_custTypeList=[{"text":"企业", "value":"0"}, {"text":"个人", "value":"2"}])

#set($exposeListAction = "${projectNameContext}expose/exposeList.action")
#set($exposeReplyAction = "${projectNameContext}expose/reExpose.action")
