<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>请选择正确的岗位</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="/rigel-unique/crm-static/sc-sale/css/global.css" type="text/css">
<link rel="stylesheet" href="/rigel-unique/crm-static/sc-sale/css/global_plus.css" type="text/css">
</head>
<body class="middlePage">
<div class="wrapper">
	<div class="mess">
		<div class="area-w"></div><div class="area-v"></div>
		<div class="area icon-error">
			<p><b>请选择正确的岗位</b> &nbsp; <a href="#" onclick="history.back();">返回</a></p>
		</div>
		<div class="area-v"></div><div class="area-w"></div>
	</div>
</div>
</body>
</html>