<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory name="main">
		<!-- mysql -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.password">123</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernate?useUnicode=true&amp;characterEncoding=utf-8</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
		
		<!-- oracle -->
		<!--  
		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="hibernate.connection.password">123</property>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@127.0.0.1:1521:oracle9i</property>
		<property name="hibernate.connection.username">rems</property>
		<property name="hibernate.dialect">org.hibernate.dialect.Oracle9iDialect</property>
		-->
		
		<!-- firebird -->
		<!--  
		<property name="hibernate.connection.driver_class">org.firebirdsql.jdbc.FBDriver</property>
		<property name="hibernate.connection.password">masterkey</property>
		<property name="hibernate.connection.url">jdbc:firebirdsql:local:d:/firebird.fdb?sql_dialect=3</property>
		<property name="hibernate.connection.username">sysdba</property>
		<property name="hibernate.dialect">org.hibernate.dialect.FirebirdDialect</property>
		-->
		
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">create</property>

		<!--  
		<mapping class="com.anders.hibernate.model.Customer" />
		<mapping class="com.anders.hibernate.model.Organ" />
		<mapping class="com.anders.hibernate.model.Priority" />
		<mapping class="com.anders.hibernate.model.RequestOrderRelation" />
		<mapping class="com.anders.hibernate.model.ServiceRequest" />
		<mapping class="com.anders.hibernate.model.Status" />
		<mapping class="com.anders.hibernate.model.User" />
		<mapping class="com.anders.hibernate.model.UserGroup" />
		<mapping class="com.anders.hibernate.model.WorkOrder" />
		<mapping class="com.anders.hibernate.model.ServiceActivity" />

		<mapping resource="com/anders/hibernate/model/User.hbm.xml" />
		<mapping resource="com/anders/hibernate/model/Role.hbm.xml" />
		<mapping resource="com/anders/hibernate/model/Privilege.hbm.xml" />
		<mapping resource="com/anders/hibernate/model/Resource.hbm.xml" />
		-->
		
		<!--  
		<mapping class="com.anders.hibernate.model.maifang.Area" />
		<mapping class="com.anders.hibernate.model.maifang.Data" />
		<mapping class="com.anders.hibernate.model.maifang.Facility" />
		<mapping class="com.anders.hibernate.model.maifang.Feature" />
		<mapping class="com.anders.hibernate.model.maifang.House" />
		<mapping class="com.anders.hibernate.model.maifang.SecondHandHouse" />
		<mapping class="com.anders.hibernate.model.maifang.Person" />
		-->
		
		<!--  
		<mapping class="com.anders.hibernate.model.vote.Poll" />
		<mapping class="com.anders.hibernate.model.vote.PollItem" />
		-->
		<mapping class="com.anders.hibernate.model.crm.Contact" />
		<mapping class="com.anders.hibernate.model.crm.ContactInfo" />
		<mapping class="com.anders.hibernate.model.crm.Cust" />
		<mapping class="com.anders.hibernate.model.crm.User" />
		
		<!--  
		<mapping resource="com/anders/hibernate/model/User1.hbm.xml" />
		-->
	</session-factory>
</hibernate-configuration>
