.overview-info table{border-collapse:collapse;}
.overview-info table td{padding: 3px}
.info-num{color:#36c;padding:3px}
.allot-search table{border-collapse:collapse;}
.allot-search table td{padding-bottom:15px}
.form-item{margin-bottom: 10px}
.form-item-title{font-size:13px;font-weight:bold;margin-bottom:10px}
.form-item-title span.title-tip{padding-left:20px;font-weight:normal;font-size:12px;color:#666}
.form-item-content{margin-left:15px}
.tbl-msg{padding:10px 0}
.tbl-msg-left{float:left}
.tbl-msg-right{float:right}
.clear{clear:both}
.allot-member{margin-left:100px}
.allot-member table{width:90%}

.auto-allot-mess, .data-type{width:600px}
.break-line{margin:5px 0;border-bottom:1px dashed #666}
.data-source{padding-right:10px;}
.data-pri{padding-right:22px;}
.tip-r{color:red;margin-left:20px;font-weight:normal;font-size:12px}
.tip-r-s{color:red;font-weight:normal;font-size:12px}
.floor{margin-bottom:10px}
.next-level{margin-left:10px}
.dept-air-floor{margin:5px 0}
.input-s{width:250px}
textarea.input-s{height:100px}

span.gray{color:#666}
.dept-area{margin:10px 0 10px 20px;}
.dept-area .area{padding:10px;background:#fff;}
.cur-dept{margin: 0 10px;}
.cur-opt{margin:0 10px; }
.audit-textarea{width:300px;height:80px;margin-left:30px}
.text-b{font-weight:bold;}
.spacing-adj{margin-left:16px}
.air-breakword{margin-top:10px;word-break:break-all;}
.receipt-no td{padding:5px 0;}

/*附件上传*/
.upload-input{height:1.8em;}
.upload-text{background:url(img/upload.png) no-repeat;padding: 6px 0 6px 35px;cursor:pointer;margin-left:20px;}

/*审核详情*/
.bright{color:red;}
div.userInfo1{margin-right:40px; float:left; position:relative;}
div.userInfo1 div.layer-cont p{padding:2px 0px 2px 0px;}
div.userInfo2{margin:0px 0px 15px 0px;position:relative;clear:both;}
span.must{color:red;}
#receiveAddDiv input{margin:0px;}

html{zoom:1;}
td{font-size:12px;vertical-align:top;text-align:left}
.bright{color:#f00;font-family:simsun;}
.fieldErr{color:#f00;font-weight:400;padding-left:0px;}
.mb .fieldErr, .tel .fieldErr{margin-left:-18px;}
#topErr{background:url(img/error.gif) 0 3px no-repeat;padding-left:18px;font-weight:700;display:none;margin-top:10px;}

span.fieldTit{float:left;clear:left;}
span.fieldTit, td.fieldTit{width:80px;padding:2px 0 0;}
.fieldTit b{color:#f00;margin-left:5px;font-family:simsun;font-weight:400;}
.dashLine{border-bottom:1px dashed #ccc;height:1px;overflow:hidden;clear:both;margin:5px 0;}

/* 客户资料录入、修改 */
.custAdd select, .custAdd input{margin:0 0 2px;vertical-align:middle;}
.custAdd .area{zoom:1;overflow:hidden;}
.custAdd .box{padding:5px;zoom:1;}
.custAdd .editable{border:1px solid #ccc;position:relative;}
.custAdd .phoneParent{margin-left:80px;zoom:1;}
.custAdd .custType{border-bottom:1px dashed #ccc;padding-bottom:10px;}
.custAdd .custType em{float:right;font:400 14px/1.2 arial;margin-top:4px;}
.custAdd .modLink{position:absolute;right:10px;bottom:10px;}
.custAdd{width:750px;}
.custAdd .wrapper{min-width:600px;}
span.tel, p.tel, p.mb, span.mb{line-height:20px;}
span.tel, p.tel{background:url(img/tel.gif) 0 5px no-repeat;padding-left:18px;}
span.mb, p.mb{background:url(img/mb.gif) 0 5px no-repeat;padding-left:18px;}
p.add a, a.add{background:url(img/add.gif) 0 2px no-repeat;padding-left:18px;zoom:1;}
p.remove a, a.remove, p.add a.remove{background:url(img/remove.gif) 0 1px no-repeat;padding-left:18px;zoom:1;}
p.boy{background:url(img/boy.gif) 0 0 no-repeat;padding-left:18px;zoom:1;}
p.girl{background:url(img/girl.gif) 0 0 no-repeat;padding-left:18px;zoom:1;}
.card{border:1px solid #ccc;background:#fff;width:350px;margin:0 0 10px;position:relative;}
.custRecordList{border-collapse:collapse;}
.custRecordList td, .custRecordList th{border:1px solid #fff;padding:2px 1px;text-align:center;background:#fff;}
.custRecordList th{font-weight:bold;font-size:12px;color:#326700;background-color:#DCEFD1;height:22px;line-height:22px;white-space:nowrap;}
.custRecordList tr.dark td{background-color:#F2F8EE;}
h4 a.toggle:link, h4 a.toggle:visited, h4 a.toggle:hover, h4 a.toggle:active{color:#326602;text-decoration:none;}

/* 客户跟进 */
ul,li{margin:0;padding:0;}
.follow{padding-bottom:20px;}
.follow .area b{margin:0 4px 0 10px;}
.follow center input{margin:10px 5px 5px;}
#followWrapper{position:relative;zoom:1;}
#sideBar{position:absolute;top:0;left:0;width:230px;}
#followMain{zoom:1;}
#sideBar li{padding:4px;border:1px solid #ccc;margin:5px 0;}
#sideBar li.this{background:#f1f1f1;}
.talkMth{margin:10px 0;}
.talkMth strong{font-size:14px;}
.talkMth table{border-collapse:collapse;}
.talkMth td{border:1px solid #ccc;padding:2px;text-align:center;width:20%;vertical-align:middle;}
.talkMth p.compare{float:right;margin:0;padding-bottom:5px;}
.talkMth ul{float:left;width:200px;margin-right:1px;border-right:1px solid #ccc;border-bottom:1px solid #ccc;border-right:none;}
.talkMth ul li{border:1px solid #ccc;border-bottom:none;padding:2px 10px;}
input.btn-addFollowRecord{width:131px;background:url(img/addFollowRecord.gif) no-repeat;height:30px;border:none;margin-bottom:10px;}
.body-masked #ifr-calendar{visibility:visible;}

/* 客户清洗 */
.priority{background:url(img/priority.gif) 0 0 no-repeat;padding-left:18px;zoom:1;}
.clean{padding-bottom:20px;}
.clean .area b{margin:0 4px 0 10px;}

/* 客户审核 */
.audit{padding-bottom:20px;}
.audit .area b{margin:0 4px 0 10px;}
p.compare{margin:0 0 10px;background:url(img/compare.gif) 0 5px no-repeat;padding-left:20px;text-align:left;}
#custCompare {width:560px;min-width:560px;margin:10px 18px;}

/* 分页 */
#targetPage{width:25px;height:12px;font-size:12px;}

/* query */
.refer-bar {float:left;}
.refer-bar li {float:left;padding-right:10px; }
.refer-bar label {display:block;font-weight:bold;}

/* 出错提示 */
.error-msg{background:url(img/error.gif) 0 3px no-repeat;padding-left:18px;color:#f00;}

/* 表格布局的表单 */
.query-table{border-collapse:collapse}
.query-table td{padding:5px}

/* 多选部门人员 & 地域 */
.query-dept-opt{padding:0 0 5px 5px}
.multi-area{width:490px}
#multiPersonnel .area, #multiOptArea .area, .multi-area .area{background-color:#fff}
#multiPersonnel{display:inline-block;zoom:1;*display:inline;}
#multiPersonnel .area{padding: 3px 6px;border:1px solid #CCE9B9}
#multiPersonnel table td{padding:3px;margin:0}
#multiPersonnel input{padding:0;margin:0}
#multiOptArea{width:600px}
#multiOptArea table{border-collapse:collapse;width:100%}
#multiOptArea table td{border-bottom:1px #CCE9B9 dashed;padding: 5px 0 }
#multiOptArea table td.province{width:12%}
#multiOptArea table td.city{width:88%}
.area h3{padding:2px 0 2px;font-size:14px;color:#000;margin:0px;border-bottom:1px solid #DFF4CD;}
.select-link, .multi-area .link{color:#0101FF;cursor: pointer; text-decoration: underline;}
.select-link{font-size:10px;}
#ctrlAreaDisplay{font-weight:normal;font-size:10px}

/* 详细说明框 */
.memo-textarea{width:300px;height:80px}

/*客户下发部门地域*/
.delegate-dept-area{padding-top: 5px}

.indicator {text-align:center;line-height:32px;vertical-align:center;margin:30px 0px}
.indicator td {font-size:14px}
.indicator .image {width:32px;height:32px;background:url(img/indicator.gif)}

/* 增加参与活动 */
.actLabelAddArea {background:url(img/activity_icon.gif) no-repeat;padding-left:20px;color:#000}
.actLabelAddArea .subtitle {color:#326602;font-weight:bold;margin-right:10px}
