<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security" xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<!-- authenticationManager -->
	<!--  
	<beans:bean id="userDetailsService" class="com.anders.crm.security.UserDetailsServiceImpl" />
	-->
	<authentication-manager alias="authenticationManager">
		<authentication-provider user-service-ref="userDetailsService">
		</authentication-provider>
	</authentication-manager>
	<!--  
	<authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="admin" password="123" authorities="ROLE_ADMIN" />
				<user name="user" password="123" authorities="ROLE_USER" />
			</user-service>
		</authentication-provider>
	</authentication-manager>
	-->
	
	<!-- accessDecisionManager -->
	<!-- 
	<beans:bean id="roleVoter" class="org.springframework.security.access.vote.RoleVoter" />
	<beans:bean id="affirmativeBased" class="org.springframework.security.access.vote.AffirmativeBased">
		<beans:property name="decisionVoters">
			<beans:list>
				<beans:ref bean="roleVoter" />
			</beans:list>
		</beans:property>
	</beans:bean> 
	--> 
 
	<!-- securityMetadataSource -->
	<!-- <beans:bean id="defaultFilterInvocationSecurityMetadataSource" class="org.springframework.security.web.access.intercept.DefaultFilterInvocationSecurityMetadataSource" /> -->
	<!-- <beans:bean id="expressionBasedFilterInvocationSecurityMetadataSource" class="org.springframework.security.web.access.expression.ExpressionBasedFilterInvocationSecurityMetadataSource" /> -->
	<!-- <beans:bean id="filterInvocationSecurityMetadataSource" class="com.anders.crm.security.FilterInvocationSecurityMetadataSourceImpl" /> -->

	<!-- 
	<beans:bean id="filterSecurityInterceptor" class="org.springframework.security.web.access.intercept.FilterSecurityInterceptor">
		<beans:property name="authenticationManager" ref="authenticationManager" />
		<beans:property name="accessDecisionManager" ref="affirmativeBased" />
		<beans:property name="securityMetadataSource" ref="defaultFilterInvocationSecurityMetadataSource" /> 
	</beans:bean>  
	-->

	<!-- 
	<global-method-security pre-post-annotations="enabled"/> 
	--> 

	<!--
	<http use-expressions="true" access-denied-page="/auth.jsp">
		<intercept-url pattern="/login.jsp" access="permitAll" />
		<intercept-url pattern="/WEB-INF/css/**" access="permitAll" />
		<intercept-url pattern="/WEB-INF/images/**" access="permitAll" />
		<intercept-url pattern="/WEB-INF/js/**" access="permitAll" />
		<intercept-url pattern="/WEB-INF/jsp/**" access="isAuthenticated()" />
		<intercept-url pattern="/test.jsp" access="hasAnyRole(ROLE_USER,ROLE_ADMIN)" />
		<intercept-url pattern="/**" access="denyAll" />
		<form-login login-page="/login.jsp" authentication-failure-url="/test.jsp" default-target-url="/index.jsp" />
		<logout invalidate-session="true" logout-success-url="/" />
		<remember-me />
		<session-management invalid-session-url="/">
			<concurrency-control max-sessions="10" error-if-maximum-exceeded="true" />
		</session-management>
		<custom-filter before="FILTER_SECURITY_INTERCEPTOR" ref="filterSecurityInterceptor" /> 
	</http> 
	-->

	<beans:bean id="exceptionTranslationFilter" class="org.springframework.security.web.access.ExceptionTranslationFilter">
		<beans:property name="authenticationEntryPoint" ref="authenticationEntryPoint" />
		<beans:property name="accessDeniedHandler" ref="accessDeniedHandler" />
	</beans:bean>
	<beans:bean id="authenticationEntryPoint" class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
		<beans:property name="loginFormUrl" value="/login.jsp" />
	</beans:bean>
	<beans:bean id="accessDeniedHandler" class="org.springframework.security.web.access.AccessDeniedHandlerImpl">
		<beans:property name="errorPage" value="/error.jsp" />
	</beans:bean>
	
	<http use-expressions="true" auto-config="true">
		<intercept-url pattern="/index.do" access="permitAll" />
		<intercept-url pattern="/login.jsp" access="permitAll" />
		<intercept-url pattern="/favicon.ico" access="permitAll" />
		<intercept-url pattern="/error.jsp" access="hasAnyRole('ROLE_ADMIN','ROLE_USER')" />
		<form-login login-page="/login.jsp" default-target-url="/index.jsp" />
	</http>
</beans:beans>
