<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security" xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<!-- authenticationManager -->
	<beans:bean id="userDetailsService" class="com.anders.crm.security.UserDetailsServiceImpl" />
	<authentication-manager alias="authenticationManager">
		<authentication-provider user-service-ref="userDetailsService">
		</authentication-provider>
	</authentication-manager>

	<!-- accessDecisionManager -->
	<beans:bean id="roleVoter" class="org.springframework.security.access.vote.RoleVoter"/>
	<beans:bean id="affirmativeBased" class="org.springframework.security.access.vote.AffirmativeBased">
		<beans:property name="decisionVoters">
			<beans:list>
				<beans:ref bean="roleVoter" />
			</beans:list>
		</beans:property>
	</beans:bean>

	<!-- securityMetadataSource -->
	<!-- <beans:bean id="defaultFilterInvocationSecurityMetadataSource" class="org.springframework.security.web.access.intercept.DefaultFilterInvocationSecurityMetadataSource" /> -->
	<!-- <beans:bean id="expressionBasedFilterInvocationSecurityMetadataSource" class="org.springframework.security.web.access.expression.ExpressionBasedFilterInvocationSecurityMetadataSource" /> -->
	<beans:bean id="filterInvocationSecurityMetadataSource" class="com.anders.crm.security.FilterInvocationSecurityMetadataSourceImpl" />

	<beans:bean id="filterSecurityInterceptor" class="org.springframework.security.web.access.intercept.FilterSecurityInterceptor">
		<beans:property name="authenticationManager" ref="authenticationManager" />
		<beans:property name="accessDecisionManager" ref="affirmativeBased" />
		<beans:property name="securityMetadataSource" ref="filterInvocationSecurityMetadataSource" />
	</beans:bean>

	<!-- <global-method-security pre-post-annotations="enabled">
	</global-method-security> -->

	<http use-expressions="true" access-denied-page="/auth.jsp">
		<intercept-url pattern="/**" access="denyAll" />
		<intercept-url pattern="/login.jsp" access="permitAll" />
		<intercept-url pattern="/WEB-INF/jsp/css/**" access="permitAll" />
		<intercept-url pattern="/WEB-INF/jsp/images/**" access="permitAll" />
		<intercept-url pattern="/WEB-INF/jsp/js/**" access="permitAll" />
		<intercept-url pattern="/WEB-INF/jsp/**" access="isAuthenticated()" />
		<form-login login-page="/login.jsp" authentication-failure-url="/login.jsp" default-target-url="/index.jsp" />
		<logout invalidate-session="true" logout-success-url="/" />
		<remember-me />
		<session-management invalid-session-url="/">
			<concurrency-control max-sessions="10" error-if-maximum-exceeded="true" />
		</session-management>
		<custom-filter before="FILTER_SECURITY_INTERCEPTOR" ref="filterSecurityInterceptor" />
	</http>
</beans:beans>
