<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- <property name="hibernate.search.default.directory_provider">org.hibernate.search.store.FSDirectoryProvider</property> -->
		<property name="hibernate.search.default.directory_provider">filesystem</property>    
     	<property name="hibernate.search.default.indexBase">D:/hibernate/indexes</property>   
     	<!-- <property name="hibernate.search.indexing_strategy">manual</property> -->

        <mapping class="com.anders.crm.bo.User"/>
        <mapping class="com.anders.crm.bo.UserGroup"/>
        <mapping class="com.anders.crm.bo.Role"/>
        <mapping class="com.anders.crm.bo.Url"/>
        <mapping class="com.anders.crm.bo.LuUser"/>
    </session-factory>
    
</hibernate-configuration>