#head {
	height:130px;
	width:100%;
	margin:0;
}

#logo {
	float:left;
	height:100px;
	width:100%;
	background-color:#3B5998;
	clear:both;
	margin:0;
}

#menu {
	float:left;
	height:29px;
	width:100%;
	background-color:#EDEFF4;
	clear:both;
	margin:0;
}

#menu ul {
	float:right;
	margin:0;
	color:#3B5998;
}

#menu ul li {
	float:right;
	display:block;
	line-height:29px;
	margin:0 5px;
	text-align:center;
	vertical-align:middle;
	color:#3B5998;
}

#line {
	float:left;
	height:1px;
	width:100%;
	background-color:#D8DFEA;
	clear:both;
	margin:0;
}

body {
	font-size:12px; 
	font-family:"ו";
	margin:0;
	color:#3B5998;
}

p {
	margin: 0;
	padding: 0
}

img {
	border: 0
}

td, p, #u {
	font-size: 12px
}

#b, #u, #l td, a {
	font-family: arial
}

#kw {
	font: 16px Verdana;
	height: 1.78em;
	padding-top: 2px
}

#b {
	height: 30px;
	padding-top: 4px
}

#b,#b a {
	color: #77c
}

#u {
	padding-right: 10px;
	line-height: 19px;
	text-align: right;
	margin: 0 0 3px !important;
	margin: 0 0 10px
}

#sb {
	height: 2em;
	width: 5.6em
}

#km {
	height: 50px
}

#l {
	margin: 0 0 5px 15px
}

#l td {
	padding-left: 107px
}

p,table {
	width: 650px;
	border: 0
}

#l td,#sb,#km {
	font-size: 14px
}

#l a,#l b {
	margin-right: 1.14em
}

a {
	color:#3B5998;
	text-decoration:none;
}

a:hover {
	color:#3B5998;
	text-decoration:underline;
}

#hp {
	position: absolute;
	margin-left: 6px
}

#lg {
	margin: -26px 0 -44px
}

#lk {
	width: auto;
	line-height: 18px;
	vertical-align: top
}

form {
	position: relative;
	z-index: 9
}

