<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalEntityManagerFactoryBean">
		<property name="persistenceUnitName" value="oracle"/>
	</bean>
	
	<bean id="txManager" class="org.springframework.orm.jpa.JpaTransactionManager">
	  	<property name="entityManagerFactory" ref="entityManagerFactory"/>
	</bean>
	
	<!-- 注意事项 -->
	<!-- 
	jpa需要将事务建立在dao类中，我试着将事务建立在service类中，发现增、删、改操作无法进行
	-->
</beans>
