html{height:100%;}
body {margin:0 auto;padding:0;border:0;font-size:12px;line-height:150%;text-align:left;font-family:Arial,'宋体',Verdana,sans-serif;}
img {border:0}
p {margin:0;}


#FrameH {background:url(img/global_bg.png) repeat-x;}
#FrameH img {float:left;}
#FrameH a {color:#E0FFC3;text-decoration:none;}
#FrameH a:hover {text-decoration:underline;}

.top-msg {float:right;margin:4px 10px 0 0;color:#E0FFC3;font-family:'宋体',}
.top-msg p {float:left;margin:0 10px;padding-top:3px;}

.self-mod {float:left;}
.self-mod p {margin:0;}
.self-start ,.self-end{width:5px;height:20px;background:url(img/global_bg.png) 0  -33px;overflow:hidden;}
.self-end {background-position:-5px  -33px;}
.self-cont {height:20px;background:url(img/global_bg.png) repeat-x 0  -56px;overflow:hidden;}
.self-cont b {display:inline-block;font-weight:normal;margin:0 -2px;padding:0 9px;background:url(img/global_bg.png) no-repeat 0 -80px;}
.top-msg p.my-mess {margin-left:0;}
.top-msg p.my-mess img {margin:3px 6px 0 0;}
.my-mess .has-mess {padding-left:22px;background:#369;background:url(img/icon.gif) no-repeat 0 -98px;}

#Banner {background:#3F8900 url(img/banner.png) no-repeat}

#FrameS {height:100%;background:#276400 url(img/sidebar_bg.png) no-repeat bottom center;}
.sidebar-w {width:100%; height:100%; overflow-y:auto; overflow-x:hidden;}
.sidebar div {height:35px;border:1px solid #499501;border-top:0;background:#F2F6E8 url(img/sidebar_col.png) no-repeat;overflow:hidden;}
.sidebar p {height:24px;padding:10px 0 0 34px;font-weight:bold;color:#360;background:url(img/icon.gif) no-repeat 18px 17px ;cursor:pointer;}
.sidebar p.s-plus {background-position:18px -5px}
.sidebar p.s-single {background:0}
.sidebar span {display:block;padding:6px 0}
.sidebar span a {display:block;padding:0 0 0 34px;background:url(img/icon.gif) no-repeat 26px -31px;color:#306400;text-decoration:none;}
.sidebar span a {start:expression(this.onFocus=this.blur())} 
.sidebar span a.current {color:#DE4A02}

#Mid ,#Mid div{background:url(img/mid_bg.gif) repeat-y;}
#Mid div {position:absolute;left:0;margin-top:-47px;width:6px;height:100px;top:50%;cursor:pointer;cursor:hand;background-position:-8px 0;background-repeat:no-repeat;cursor:pointer;}
#Mid div.sub {background-position:-15px 0;}

#Msg {background:url(img/global_bg.png) repeat-x 0 -100px;}
#Msg body {padding:3px 0 0 30px;background:url(img/icon.gif) no-repeat 10px -47px;color:#326700}

#Login {width:794px;text-align:center;background:#225304}
.login-head {padding-top:30px;color:#A1C48C;text-align:right;}
.login-a ,.login-b {float:left;width:397px;height:294px;background:#369;}
.login-a {background:url(img/login_bg_1.jpg)}
.login-b {background:url(img/login_bg_2.jpg)}
.login-bar {clear:both;height:31px;*height:32px;padding:4px 26px 0 0;*padding:3px 26px 0 0;background:url(img/login.png) repeat-x 0 -21px;color:#fff;vertical-align:middle;text-align:right;}
.login-bar input {width:90px;height:18px;margin-right:10px;border:1px solid #1F5A00;vertical-align:middle;_vertical-align:0;}
.login-bar input.login-btn {width:68px;height:21px;margin:0 10px 0 15px;border:0;background:url(img/login.png);color:#fff}
.login-bar img {margin-left:-8px;vertical-align:middle;_vertical-align:-3px;border:1px solid #1F5A00;}
.login-bar a {color:#A1C48C}
.login-foot {width:794px;height:96px;background:#fff url(img/baidu-logo.png) no-repeat 664px 40px}

