<?xml version="1.0" encoding="utf-8"?>

<sqlMapConfig 
  xmlns="http://ibatis.apache.org/dataMapper" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  <properties resource="properties.config"/>
  -->

  <settings>
    <setting useStatementNamespaces="false"/>
    <setting cacheModelsEnabled="false"/>
  </settings>

  <providers resource="providers.config"/>

  <database>
    <provider name="oracle"/>
    <dataSource name="rems" connectionString="Data Source=oracle9i;Persist Security Info=True;User ID=rems;Password=123;Unicode=True"/>
    <!--
    <provider name="sqlServer"/>
    <dataSource name="rems" connectionString="Data Source=192.168.1.4;Initial Catalog=ash;Persist Security Info=True;User ID=sa;Password=123"/>
    -->
  </database>

  <sqlMaps>
    <sqlMap resource="Ibatis/Data.xml"/>
  </sqlMaps>

</sqlMapConfig>