<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-4.0.xsd 
		http://www.springframework.org/schema/util 
		http://www.springframework.org/schema/util/spring-util-4.0.xsd"
	default-autowire="byName">
	
	<bean id="dataSource222" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
		<property name="url" value="${db2.master.url}" />
		<property name="username" value="${db2.master.username}" />
		<property name="password" value="${db2.master.password}" />
		<property name="driverClassName" value="${db2.master.driver}" />
		<property name="initialSize" value="5" />
		<property name="maxTotal" value="10" />
		<property name="maxIdle" value="30" />
		<property name="minIdle" value="3" /> 
		<property name="validationQuery" value="SELECT 1 FROM DUAL" />
		<property name="maxWaitMillis" value="60000" />
	</bean>  

	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath*:config.properties</value>
			</list>
		</property>
	</bean>
<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.anders.jdbc.test.repository" />
		<property name="sqlSessionFactoryBeanName" value="msqlSessionFactory" />
	</bean>
	
	<bean id="msqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource222" />
		<property name="typeAliasesPackage" value="com.anders.jdbc.test.entity" />
		<property name="mapperLocations" value="classpath*:com/vip/jdbc/test/mapper/*Mapper.xml" />
	</bean>
	
	<context:component-scan base-package="com.anders.jdbc.test.service" />
	<context:component-scan base-package="com.anders.jdbc.test.repository" />
	
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource222" />
	</bean>
	
	<tx:annotation-driven transaction-manager="transactionManager"/> 
	

</beans>
