<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baidu.rigel.unique.dao.xuanyuan.CustContactMapper" >
  <select id="selectCustContactByCustId" resultMap="BaseResultMap" parameterType="Long" >
    SELECT 
    <include refid="Base_Column_List" />
    FROM tb_cust_contact
    WHERE cust_id = #{custId} 
  </select>
</mapper>