<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baidu.rigel.unique.dao.xuanyuan.ShifenCustomerMapper" >
  <select id="selectCustIdNamesLikeBySiteUrl" resultType="Map" parameterType="Map" >
  	<![CDATA[
	    (
	    SELECT customerd, customername, companyname, realcompanyname 
	    FROM tb_shifen_customer 
	    WHERE siteurl LIKE #{siteUrl} AND status = 3 AND accountmoney > 0 LIMIT #{count}
		)
		UNION 
		(
		SELECT customerd, customername, companyname, realcompanyname 
		FROM tb_shifen_customer
		WHERE siteurl LIKE #{siteUrl} AND accountmoney <= 0 AND invalidate >= DATE_SUB(CURDATE(), INTERVAL #{days} DAY) LIMIT #{count}
		)
		UNION 
		(
		SELECT customerd, customername, companyname, realcompanyname 
		FROM tb_shifen_customer
		WHERE siteurl LIKE #{siteUrl} AND status IN (1, 4, 6) AND accountmoney > 0 LIMIT #{count}
		)
		UNION 
		(
		SELECT customerd, customername, companyname, realcompanyname 
		FROM tb_shifen_customer
		WHERE siteurl LIKE #{siteUrl} AND status = 2 LIMIT #{count}
		)
	]]>
  </select>
  
  <select id="selectCustIdNamesBySiteUrl" resultType="Map" parameterType="Map" >
  	<![CDATA[		
  		(
  		SELECT customerd, customername, companyname, realcompanyname 
  		FROM tb_shifen_customer
		WHERE siteurl = #{siteUrl} AND status = 3 AND accountmoney > 0
		)
		UNION 
		(
		SELECT customerd, customername, companyname, realcompanyname 
		FROM tb_shifen_customer
		WHERE siteurl = #{siteUrl} AND accountmoney <= 0 AND invalidate >= #{invalidDate} 
		)
		UNION 
		(
		SELECT customerd, customername, companyname, realcompanyname 
		FROM tb_shifen_customer
		WHERE siteurl = #{siteUrl} AND status IN (1, 4, 6) AND accountmoney > 0
		)
		UNION 
		(
		SELECT customerd, customername, companyname, realcompanyname 
		FROM tb_shifen_customer
		WHERE siteurl = #{siteUrl} AND status = 2
		)
	]]>
  </select>
 
  <select id="selectCustIdByCompanyName" resultType="Long" parameterType="Map" >
  	<![CDATA[
  		(
		SELECT customerd FROM tb_shifen_customer WHERE companyname = #{companyName} AND status = 3 AND accountmoney > 0
		)
		UNION 
		(
		SELECT customerd FROM tb_shifen_customer WHERE companyname = #{companyName} AND invalidate >= #{invalidDate} AND accountmoney <= 0
		)
		UNION 
		(
		SELECT customerd FROM tb_shifen_customer WHERE companyname = #{companyName} AND status in (1, 4, 6) AND accountmoney > 0
		)
		UNION 
		(
		SELECT customerd FROM tb_shifen_customer WHERE companyname = #{companyName} AND status = 2
		)
		UNION 
		(
		SELECT customerd FROM tb_shifen_customer WHERE realcompanyname = #{companyName} AND status = 3 AND accountmoney > 0
		)
		UNION 
		(
		SELECT customerd FROM tb_shifen_customer WHERE realcompanyname = #{companyName} AND invalidate >= #{invalidDate} AND accountmoney <= 0
		)
		UNION 
		(
		SELECT customerd FROM tb_shifen_customer WHERE realcompanyname = #{companyName} AND status in (1, 4, 6) AND accountmoney > 0
		)
		UNION 
		(
		SELECT customerd FROM tb_shifen_customer WHERE realcompanyname = #{companyName} AND status = 2
		)
	]]>
  </select>
  
  <select id="selectCustIdNamesByUrlDomain" resultType="Map" parameterType="Map" >
  	<![CDATA[
		(
		SELECT customerd, customername, companyname, realcompanyname 
		FROM tb_shifen_customer
		WHERE urldomain = #{urlDomain} AND status = 3 AND accountmoney > 0
		)
		UNION 
		(
		SELECT customerd, customername, companyname, realcompanyname 
		FROM tb_shifen_customer
		WHERE urldomain = #{urlDomain} AND invalidate >= #{invalidDate} AND accountmoney <= 0
		)
		UNION 
		(
		SELECT customerd, customername, companyname, realcompanyname 
		FROM tb_shifen_customer
		WHERE urldomain = #{urlDomain} AND status IN (1, 4, 6) AND accountmoney > 0
		)
		UNION 
		(
		SELECT customerd, customername, companyname, realcompanyname 
		FROM tb_shifen_customer
		WHERE urldomain = #{urlDomain} AND status = 2
		)
	]]>
  </select>
  
  <select id="selectCustIdNamesLikeByUrlDomain" resultType="Map" parameterType="Map" >
  	<![CDATA[
  		(
  		SELECT customerd, customername, companyname, realcompanyname 
  		FROM tb_shifen_customer
		WHERE urldomain LIKE #{urlDomain} AND status = 3 AND accountmoney > 0
		)
		UNION 
		(
		SELECT customerd, customername, companyname, realcompanyname 
		FROM tb_shifen_customer
		WHERE urldomain LIKE #{urlDomain} AND invalidate >= #{invalidDate} AND accountmoney <= 0
		)
		UNION 
		(
		SELECT customerd, customername, companyname, realcompanyname 
		FROM tb_shifen_customer
		WHERE urldomain like #{urlDomain} AND status IN (1, 4, 6) AND accountmoney>0
		)
		UNION 
		(
		SELECT customerd, customername, companyname, realcompanyname 
		FROM tb_shifen_customer
		WHERE urldomain LIKE #{urlDomain} AND status = 2
		)
  	]]>
  </select>	
  
  <select id="selectShifenCustomerByCustIdList" resultMap="BaseResultMap" >
		SELECT 
    	<include refid="Base_Column_List" />
    	FROM tb_shifen_customer
		WHERE customerd IN
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
			#{item}
		</foreach>
  </select>
  
  <select id="selectCustIdByCompanyNameSiteUrl" resultType="Long" parameterType="Map" >
		SELECT 
    	customerd
    	FROM tb_shifen_customer
		WHERE (companyname = #{companyName} OR realcompanyname = #{realCompanyName}) AND siteurl = #{siteUrl}
  </select>
</mapper>