#parse("/common/const.vm")
#parse("/common/controller.vm")

#parse("/common/doctype.vm")

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	#parse("/common/meta.vm")
	<title>$titlePrefix$msg.register_individual.title</title>
	#parse("/common/css.vm")
	<script type="text/javascript" src="$jQueryPath"></script>
	#parse("/common/validation.vm")
	<script >
		jQuery(document).ready(function(){
			jQuery("#register_individual").validationEngine();
		});
	</script>
</head>

<body>
	<form id="register_individual" class="formular" action="$!securityController.register_individual" method="post">
		<fieldset>
			<legend>
				$msg.register_individual.title
			</legend>
			<label>
                <span>$msg.register_individual.user_name$msg.common.colon</span>
				<input class="validate[required,minSize[6],custom[onlyLetterNumber],ajax[ajaxIsNotExist]] text-input" maxlength="20" type="text" name="username" id="username" />
            </label>
			<label>
                <span>$msg.register_individual.password$msg.common.colon</span>
				<input class="validate[required,minSize[6]] text-input" maxlength="20" type="password" name="password" id="password" />
            </label>
			<label>
                <span>$msg.register_individual.confirm_password$msg.common.colon</span>
				<input class="validate[required,minSize[6],equals[password]] text-input" maxlength="20" type="password" name="confirmPassword" id="confirmPassword" />
            </label>
			<label>
                <span>$msg.register_individual.name$msg.common.colon</span>
				<input class="validate[required] text-input" maxlength="20" type="text" name="name" id="name" />
            </label>
			<label>
                <span>$msg.register_individual.email$msg.common.colon</span>
				<input class="validate[required,custom[email],ajax[ajaxIsNotExist]] text-input" maxlength="50" type="text" name="email" id="email" />
            </label>
		</fieldset>
		<a class="a" href="$!securityController.get_password">$msg.login.get_password</a>
		<input class="submit" type="submit" value="$msg.login.login"/>
		<hr />
	</form>
</body>

</html>
	
<script type="text/javascript">
	document.getElementById('user_name').focus();
</script>
