<?xml version="1.0" encoding="utf-8"?>

<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 外部配置文件 
    <properties resource="properties.config" />
    -->

  <settings>
    <setting useStatementNamespaces="false"/>
    <setting cacheModelsEnabled="false"/>
  </settings>

  <providers resource="~/Config/ibatis-providers.config"/>

  <!-- 数据库连接信息 -->
  <database>
    <provider name="oracleClient1.0" />
    <dataSource name="iBatisInAction" connectionString="Data Source=oracle9i;Persist Security Info=True;User ID=anders;Password=123;Unicode=True" />
    <!--
      <provider name="sqlServerClient1.0" />
      <dataSource name="iBatisInAction" connectionString="Data Source=192.168.1.4;Initial Catalog=ash;Persist Security Info=True;User ID=sa;Password=123" />
      -->
  </database>

  <!-- SqlMap.xml 信息 -->
  <sqlMaps>
    <sqlMap resource="~/Dao/Ibatis/Tb_user.xml" />
  </sqlMaps>

</sqlMapConfig>