<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>

<head>
	#parse("/common/const.vm")
	#parse("/common/controller.vm")
	#parse("/common/meta.vm")
	<title>$titlePrefix$msg.index.title</title>
</head>

<body>
    <h1>$msg.index.welcome：$username</h1>
	#if(!$authenticated)
	<a href="$!securityController.login">$msg.index.login</a>
	<a href="$!securityController.register">$msg.index.register</a>
	#else
	<a href="$!securityController.logout">$msg.index.logout</a>
	#end
</body>

</html>