<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>

<head>
	#parse("/common/const.vm")
	#parse("/common/controller.vm")
	#parse("/common/meta.vm")
	<title>$titlePrefix$msg.login.title</title>
</head>

<body>
	$!error
	
	<form id="login" action="$projectContext/j_spring_security_check" method="post"> 
		$msg.login.username<input type="text" name="j_username" id="j_spring_security_check_j_username" /> 
		$msg.login.password<input type="password" name="j_password" id="j_spring_security_check_j_password" /> 
		<a href="javascript:document.getElementById('login').submit();">$msg.login.login</a>
	</form>
</body>

</html>