<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>

<head>
	#parse("/common/const.vm")
	#parse("/common/controller.vm")
	#parse("/common/meta.vm")
	<title>$titlePrefix$msg.login.title</title>
</head>

<body>
	<h1>$!errorMsg</h1>
	
	<form id="login" action="$projectContext/j_spring_security_check" method="post"> 
		$msg.login.username$msg.common.colon<input type="text" name="j_username" id="j_spring_security_check_j_username" /><br />
		$msg.login.password$msg.common.colon<input type="password" name="j_password" id="j_spring_security_check_j_password" /><br /> 
		<a href="javascript:document.getElementById('login').submit();" on="">$msg.login.login</a><br />
		<a href="$projectContext/get_password.do">$msg.login.get_password</a>
	</form>
</body>

</html>
	
<script type="text/javascript">
	document.getElementById('j_spring_security_check_j_username').focus();
</script>
