<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns:tx="http://www.springframework.net/tx"
         xmlns:db="http://www.springframework.net/database"
         xmlns:aop="http://www.springframework.net/aop"
         xsi:schemaLocation="http://www.springframework.net/schema/objects 
                             http://www.springframework.net/schema/objects/spring-objects-1.3.xsd 
                             http://www.springframework.net/schema/tx 
                             http://www.springframework.net/schema/tx/spring-tx-1.1.xsd
                             http://www.springframework.net/schema/db 
                             http://www.springframework.net/schema/db/spring-database-1.1.xsd
                             http://www.springframework.net/schema/aop
                             http://www.springframework.net/schema/aop/spring-aop-1.1.xsd">

  <object id="SessionFactory" type="Spring.Data.NHibernate.LocalSessionFactoryObject, Spring.Data.NHibernate32">
    <property name="DbProvider" ref="DbProvider" />
    <property name="MappingAssemblies">
      <list>
        <value>fmall</value>
      </list>
    </property>
    <property name="HibernateProperties">
      <dictionary>
        <entry key="connection.provider" value="NHibernate.Connection.DriverConnectionProvider" />
        <entry key="connection.driver_class" value="NHibernate.Driver.MySqlDataDriver" />
        <entry key="dialect" value="NHibernate.Dialect.MySQL5Dialect" />
        <!--<entry key="connection.driver_class" value="NHibernate.Driver.SqlClientDriver" />
        <entry key="dialect" value="NHibernate.Dialect.MsSql2008Dialect" />-->
        <entry key="show_sql" value="true" />
        <entry key="hbm2ddl.auto" value="create" />
        <!--<entry key="hibernate.current_session_context_class" value="Spring.Data.NHibernate.SpringSessionContext, Spring.Data.NHibernate32" />-->
        <!--<entry key="proxyfactory.factory_class" value="NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle" />-->
        <!--<entry key="proxyfactory.factory_class" value="NHibernate.ByteCode.LinFu.ProxyFactoryFactory, NHibernate.ByteCode.LinFu" />-->
        <!--<entry key="hibernate.connection.release_mode" value="auto"/>-->
      </dictionary>
    </property>

    <!--注意：如果没加下面这行，可能出现“No CurrentSessionContext configured (set the property current_session_context_class)! ”错误 -->
    <property name="ExposeTransactionAwareSessionFactory" value="true" />
  </object>

  <object id="transactionManager" type="Spring.Data.NHibernate.HibernateTransactionManager, Spring.Data.NHibernate32">
    <property name="DbProvider" ref="DbProvider" />
    <property name="SessionFactory" ref="SessionFactory" />
  </object>

  <!-- Exception translation object post processor -->
  <object type="Spring.Dao.Attributes.PersistenceExceptionTranslationPostProcessor, Spring.Data" />


  <!--<object id="HibernateTemplate" type="Spring.Data.NHibernate.HibernateTemplate, Spring.Data.NHibernate21">
    <property name="SessionFactory" ref="NHibernateSessionFactory" />
    <property name="TemplateFlushMode" value="Auto" />
    -->
  <!--<property name="CacheQueries" value="true" />-->
  <!--
  </object>-->

</objects>
