<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
#parse('/utils.vm')
#parse('/adminend.macro.vm')
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="/rigel-unique/crm-static/sc-sale/css/global.css" type="text/css">
<link rel="stylesheet" href="/rigel-unique/crm-static/sc-sale/css/sale.css" type="text/css">
<script type="text/javascript" src="/rigel-unique/crm-static/core/core.js"></script>
<script type="text/javascript" src="/rigel-unique/crm-static/core/ui.js"></script>
<script type="text/javascript" src="/rigel-unique/crm-static/sc-sale/js/table.js"></script>
<script language="javascript" type="text/javascript"> 
var URLReg = /^[^.。，]+(\.[^.，。]+)+$/i;
function checkAddWL(ele)
{
    var _tip = G("tips"), str = [];
    _tip.innerHTML = '';
    ele.url.value = ele.url.value.trim();
    ele['desc'].value = ele['desc'].value.trim();
    if(ele.url.value == "" ) {
	str.push('您还没有输入公司URL');
    } else if(!URLReg.test(ele.url.value)) {
	str.push('请输入正确的URL');
    }
    if (ele['desc'].value.length > 200) {
	str.push('备注不能大于200个字符');
    }
    if (str.length > 0) {
	_tip.innerHTML = str.join('&nbsp;');
	return false;
    }
    else {
	return true;
    }
}

function unitChange(_ele) {
   var _form = G('queryItemForm');
   _form.unitid.value = _ele[_ele.selectedIndex].value;
   _form.submit();
}

function saveClick(data, param){
    var error = [];
    data.url = data.url.trim();
    data.desc = data.desc.trim();
    if(data.url.length > 210) {
	error.push("公司URL应在210个字符以内");
    } 
    else if(data.url == "") {
	error.push("公司URL不能为空");
    }
    else if(!URLReg.test(data.url)) {
	error.push("请输入正确的URL");
    }
    if(data.desc.length > 200) {
	error.push("备注不能大于200个字符");
    }
    if (error.length > 0) {
	alert('出错了...\n' + error.join('\n'));
	return;
    }
    if (!confirm('确定要保存修改吗？')){
	return;
    }
    var _form = G('modItemForm');
    _form['typeAdded'].value = data.type;
    _form['desc'].value = data.desc;
    _form.url.value = data.url;
    _form.id.value = param;
    _form.submit();
}

function delItem(id) {
    id = parseInt(id);
    if(!id) {
	return;
    }
    if(window.confirm("您确定要删除此项吗？")) {
	var _form = G('delItemForm');
	_form.id.value = id;
	_form.submit();
    }
}
</script>
</head>
<body>
<div class="nav"><p>当前位置：白名单设置</p></div>
#set($typeList=[
    {'text' : '短期', 'value' : '0'},
    {'text' : '长期', 'value' : '1'}
])
#set($queryTypeList=[
    {'text' : '全部', 'value' : '-1'},
    {'text' : '短期', 'value' : '0'},
    {'text' : '长期', 'value' : '1'}
])
<div class="wrapper">
    <div class="air">
	<div class="area-w"></div><div class="tag-v"></div>
	<div class="tag-cont">

	    #if($unitlist && $unitlist.size() > 1)
	    <div class="mess-query" style="margin-bottom:10px">
		<div class="area-w"></div>
		<div class="area-v"></div>
		<div class="area">
		    <div class="area-inner">
			分公司选择： #list('unitid' $unitlist "$!unitid", "select" 'id="unitid" onchange="unitChange(this)"')
		    </div>
		</div>
		<div class="area-v"></div>
		<div class="area-w"></div>
	    </div>
	    #end
	    
	    <div class="mess-query">
		<div class="area-w"></div>
		<div class="area-v"></div>
		<div class="area">
		    <div class="area-inner">
			<form action="addwhitelist.action" method="post" onsubmit="return checkAddWL(this)">
			<table cellpadding="5">
			    <tr>
				<td>公司URL</td>
				<td><input maxlength="210" value="http://" name="url" id="url" style="width:200px" /></td>
				<td>类型</td>
				<td>#list('typeAdded' $typeList '' 'select')</td>
			    </tr>
			    <tr>
				<td>备注</td>
				<td colspan="3"><textarea name="desc" style="width:99%;height:5em"></textarea></td>
			    </tr>
			    <tr>
				<td colspan="4">
				    <input class="btn-g" type="submit" value="添加" />
				    <input class="btn-r" type="reset" value="重置" />
				    <span class="tip-r" id="tips"></span>
				</td>
			    </tr>
			</table>
			<input type="hidden" name="unitid" value="$!unitid" />
			</form>
		    </div>
		</div>
		<div class="area-v"></div>
		<div class="area-w"></div>
	    </div>

	    <div class="mess-query air">
		<div class="area-w"></div>
		<div class="area-v"></div>
		<div class="area">
		    <div class="area-inner">
			<form name="query" action="querywhitelist.action" method="post">
			<table cellpadding="5">
			    <td>公司URL</td>
			    <td><input type="text" name="domain" value="$!domain" style="width:200px"/></td>
			    <td>类型</td>
			    <td>#list('type', $queryTypeList, $!type, 'select')</td>
			    <td>设定人</td>
			    <td>#list('userID', $userNames, $!userID, 'select')</td>
			    <td><input class="btn-g" type="submit" value="查询" /></td>
			</table>
			<input type="hidden" name="unitid" value="$!unitid" />
			</form>
		    </div>
		</div>
		<div class="area-v"></div>
		<div class="area-w"></div>
	    </div>

		#if($result == false)
			 <div class="fieldErr" style="padding:10px 0;">$reason</div>
		#end
	    <div class="air">
		#set($lsTitle = [
			    {"chn" : "操作", "eval" : "<a href='#' onclick='this.parentNode.parentNode.edit($dataRow, $item.id); return false;'>修改</a>&nbsp;&nbsp;<a href='#' onclick='delItem($item.id); return false;'>删除</a>", "width" : "10%", "edit" : "true"},
			    {"chn" : "设定时间", "eval" : '$!dateUtils.formatDate($item.date,$dateFormat)', "width" : "20%"},
			    {"chn" : "设定人", "eval" : '$!item.user', "width" : "15%"},
			    {"chn" : "公司URL", "eval" : '$!item.url', "width" : "20%", "edit" : "'url'"},
			    {"chn" : "主域", "eval" : '$!item.domain', "width" : "10%"},
			    {"chn" : "类型", "eval" : '#if($item.type == 1)长期#else短期#end', "width" : "10%", 'items' : $typeList, 'edit' : "'type'"},
			    {"chn" : "备注", "eval" : '$!item.desc', "width" : "10%", 'edit' : "'desc'"}
	])
		#table($lsTitle, $lsTitle, $whitelist)
	    </div>
	</div>
    </div>
    <div class="area-v"></div>
    <div class="area-w"></div>
    <form id="modItemForm" action="modwhitelist.action" method="post">
	<input name="id" type="hidden" />
	<input name="url" type="hidden" />
	<input name="desc" type="hidden" />
	<input name="typeAdded" type="hidden" />
    </form>
    <form id="delItemForm" action="delwhitelist.action" method="post">
	<input name="id" type="hidden" />
    </form>
    <form id="queryItemForm" action="querywhitelist.action" method="post">
	<input name="unitid" type="hidden" />
    </form>
</div>
</body>
</html>


