<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="propertyConfigurer"
		class="com.baidu.rigel.platform.util.config.JndiPropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:/conf/local/_jdbc-mysql.properties</value>
				<value>classpath:/conf/local/memcache.properties</value>
				<value>classpath:/conf/local/tinyse.properties</value>
				<value>classpath:/conf/local/usercenter.properties</value>
				<value>classpath:/conf/local/rmi.properties</value>
				<value>classpath:/conf/local/system-config.properties</value>
			</list>
		</property>
		<property name="jndiLocations">
			<list>
				<value>cust_jdbc</value>
				<value>cust_memcache</value>
				<value>cust_usercenter</value>
				<value>cust_tinyse</value>
				<value>cust_rmi</value>
			</list>
		</property>
		<property name="replaceDuplicateByJndi" value="true"></property> <!-- default is true -->
	</bean>
</beans>