<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:conf/sqlmap-config.xml" />
		<property name="mapperLocations">
			<list>
				<value>classpath*:com/baidu/rigel/unique/bo/**/*Mapper.xml</value>
			</list>
		</property>
	</bean>

	<bean id="sqlSessionTemplate" class="com.baidu.rigel.platform.dao.SqlSessionTemplateWrapper">
		<constructor-arg>
			<ref bean="sqlSessionFactory" />
		</constructor-arg>
		<constructor-arg>
			<ref bean="sqlMapDaoEventManager" />
		</constructor-arg>
	</bean>

	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.baidu.rigel.unique.dao" />
		<property name="annotationClass" value="com.baidu.rigel.platform.dao.SqlMapper"></property>
	</bean>

	<bean id="sqlMapDaoEventManager" class="com.baidu.rigel.platform.dao.SqlMapDaoEventManager" />

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

</beans>

