<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<!-- 提供注解的RMI服务端和客户端的支持 -->
	<bean
		class="com.baidu.rigel.service.spring.factory.annotation.CommonAnnotationBeanPostProcessor">
		<property name="callback">
			<bean
				class="com.baidu.rigel.service.remote.rmi.annotation.RemoteServiceAnnotationResolver"
				scope="singleton"></bean>
		</property>
	</bean>

	<!-- 提供注解的McPack服务端和客户端的支持 -->
	<bean
		class="com.baidu.rigel.service.spring.factory.annotation.CommonAnnotationBeanPostProcessor">
		<property name="callback">
			<bean
				class="com.baidu.rigel.service.remote.mcpack.annotation.McpackRpcServiceAnnotationResolver"
				scope="singleton"></bean>
		</property>
	</bean>

	<!-- 提供注解的RMI 负载均衡的支持 -->
	<bean
		class="com.baidu.rigel.service.spring.factory.annotation.CommonAnnotationBeanPostProcessor">
		<property name="callback">
			<bean
				class="com.baidu.rigel.service.lb.annotation.RmiProxyLBAnnotationParser"></bean>
		</property>
	</bean>

	<!-- 提供注解的Mcpack RPC 负载均衡的支持 -->
	<bean
		class="com.baidu.rigel.service.spring.factory.annotation.CommonAnnotationBeanPostProcessor">
		<property name="callback">
			<bean
				class="com.baidu.rigel.service.lb.annotation.RpcProxyLBAnnotationParser"></bean>
		</property>
	</bean>
	
	<bean class="org.springframework.remoting.rmi.RmiServiceExporter">
		<property name="serviceName" value="AreaWordService"/>
		<property name="service" ref="areaWordService"/>
		<property name="serviceInterface" value="com.baidu.rigel.unique.service.AreaWordService"/>
		<property name="registryPort" value="1999"/>
	</bean>

</beans>