<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.anders.vote.mapper.UserMapper">
	<resultMap id="resultMap" type="com.anders.vote.bo.User">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<!-- 以下不需要修改 -->
		<result column="enabled" property="enabled" jdbcType="BIT" />
	    <result column="add_user_id" property="add_user_id" jdbcType="BIGINT" />
	    <result column="update_user_id" property="update_user_id" jdbcType="BIGINT" />
	    <result column="add_time" property="add_time" jdbcType="TIMESTAMP" />
	    <result column="update_time" property="update_time" jdbcType="TIMESTAMP" />
	    <result column="version" property="version" jdbcType="INTEGER" />
	    <!-- 以上不需要修改 -->
	    <collection property="roles" javaType="java.util.HashSet" ofType="com.anders.vote.bo.Role" resultMap="roleMap" />
	    <collection property="userGroups" javaType="java.util.HashSet" ofType="com.anders.vote.bo.UserGroup" resultMap="userGroupMap" />
	</resultMap>
	
	<resultMap id="roleMap" type="com.anders.vote.bo.Role">
		<id column="role_id" property="id" jdbcType="BIGINT" />
		<result column="role_name" property="name" jdbcType="VARCHAR" />
		<result column="role_role" property="role" jdbcType="VARCHAR" />
		<result column="role_enabled" property="enabled" jdbcType="BIT" />
	    <result column="role_add_user_id" property="add_user_id" jdbcType="BIGINT" />
	    <result column="role_update_user_id" property="update_user_id" jdbcType="BIGINT" />
	    <result column="role_add_time" property="add_time" jdbcType="TIMESTAMP" />
	    <result column="role_update_time" property="update_time" jdbcType="TIMESTAMP" />
	    <result column="role_version" property="version" jdbcType="INTEGER" />
	</resultMap>
	
	<resultMap id="userGroupMap" type="com.anders.vote.bo.UserGroup">
		<id column="group_id" property="id" jdbcType="BIGINT" />
		<result column="group_name" property="name" jdbcType="VARCHAR" />
		<result column="group_enabled" property="enabled" jdbcType="BIT" />
	    <result column="group_add_user_id" property="add_user_id" jdbcType="BIGINT" />
	    <result column="group_update_user_id" property="update_user_id" jdbcType="BIGINT" />
	    <result column="group_add_time" property="add_time" jdbcType="TIMESTAMP" />
	    <result column="group_update_time" property="update_time" jdbcType="TIMESTAMP" />
	    <result column="group_version" property="version" jdbcType="INTEGER" />
	</resultMap>
	
	<sql id="tableName" >
    	tb_user
  	</sql>
	
	<select id="getById" resultMap="resultMap">
    	select * 
    	from  
    	<include refid="tableName" /> 
    	where id = #{id} and enabled = true
  	</select>
  	
	<select id="getAll">
    	select * 
    	from 
    	<include refid="tableName" /> 
    	where enabled = true
  	</select>
  	
	<select id="findById" resultMap="resultMap">
    	select * 
    	from 
    	<include refid="tableName" /> 
    	where id = #{id} 
  	</select>
  	
	<select id="findCountById" resultType="Long">
    	select count(*) 
    	from  
    	<include refid="tableName" /> 
    	where id = #{id} 
  	</select>
  	
	<select id="findAll">
    	select * 
    	from 
    	<include refid="tableName" />
  	</select>
  	
	<insert id="save" parameterType="com.anders.vote.bo.User" useGeneratedKeys="true" keyProperty="id">
	    insert into 
		<include refid="tableName" /> 
	    (user_name, password, name, email, enabled, add_user_id, update_user_id, add_time, update_time, version) 
	    values 
	    (#{userName}, #{password}, #{name}, #{email}, #{enabled}, #{add_user_id}, #{update_user_id}, #{add_time}, #{update_time}, #{version})
	</insert>
	
	<update id="update" parameterType="com.anders.vote.bo.User">
	    update 
		<include refid="tableName" /> 
		set 
	    user_name = #{userName},
	    password = #{password}, 
	    name = #{name}, 
	    email = #{email}, 
	    enabled = #{enabled},
	    add_user_id = #{add_user_id},
	    update_user_id = #{update_user_id},
	    add_time = #{add_time},
	    update_time = #{update_time},
	    version = version + 1
	    where id = #{id} and version = #{version}
	</update>
	
	<update id="disabled" parameterType="com.anders.vote.bo.User">
    	update 
    	<include refid="tableName" /> 
    	set 
    	enabled = false,
    	version = version + 1 
    	where id = #{id} and enabled = true and version = #{version}
  	</update>
  	
	<delete id="delete" parameterType="com.anders.vote.bo.User">
    	delete from 
    	<include refid="tableName" /> 
    	where id = #{id} and version = #{version}
  	</delete>
</mapper>