<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.anders.vote.mapper.UserGroupMapper">
	<resultMap id="resultMap" type="com.anders.vote.bo.UserGroup">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<!-- 以下不需要修改 -->
		<result column="enabled" property="enabled" jdbcType="BIT" />
	    <result column="add_user_id" property="addUserId" jdbcType="BIGINT" />
	    <result column="update_user_id" property="updateUserId" jdbcType="BIGINT" />
	    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
	    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
	    <result column="version" property="version" jdbcType="INTEGER" />
	    <!-- 以上不需要修改 -->
	    <collection property="roles" javaType="java.util.HashSet" ofType="com.anders.vote.bo.Role" resultMap="roleMap" />
	    <collection property="users" javaType="java.util.HashSet" ofType="com.anders.vote.bo.User" resultMap="userMap" />
	</resultMap>
	
	<resultMap id="roleMap" type="com.anders.vote.bo.Role">
		<id column="role_id" property="id" jdbcType="BIGINT" />
		<result column="role_name" property="name" jdbcType="VARCHAR" />
		<result column="role_role" property="role" jdbcType="VARCHAR" />
		<result column="role_enabled" property="enabled" jdbcType="BIT" />
	    <result column="role_add_user_id" property="addUserId" jdbcType="BIGINT" />
	    <result column="role_update_user_id" property="updateUserId" jdbcType="BIGINT" />
	    <result column="role_add_time" property="addTime" jdbcType="TIMESTAMP" />
	    <result column="role_update_time" property="updateTime" jdbcType="TIMESTAMP" />
	    <result column="role_version" property="version" jdbcType="INTEGER" />
	</resultMap>
	
	<resultMap id="userMap" type="com.anders.vote.bo.User">
		<id column="user_id" property="id" jdbcType="BIGINT" />
		<result column="user_user_name" property="userName" jdbcType="VARCHAR" />
		<result column="user_password" property="password" jdbcType="VARCHAR" />
		<result column="user_name" property="name" jdbcType="VARCHAR" />
		<result column="user_email" property="email" jdbcType="VARCHAR" />
		<result column="user_enabled" property="enabled" jdbcType="BIT" />
	    <result column="user_add_user_id" property="addUserId" jdbcType="BIGINT" />
	    <result column="user_update_user_id" property="updateUserId" jdbcType="BIGINT" />
	    <result column="user_add_time" property="addTime" jdbcType="TIMESTAMP" />
	    <result column="user_update_time" property="updateTime" jdbcType="TIMESTAMP" />
	    <result column="user_version" property="version" jdbcType="INTEGER" />
	</resultMap>
	
	<sql id="tableName" >
    	tb_user_group
  	</sql>
	
	<select id="getById" resultMap="resultMap">
    	select * 
    	from  
    	<include refid="tableName" /> 
    	where id = #{id} and enabled = true
  	</select>
  	
	<select id="getAll" resultMap="resultMap">
    	select * 
    	from 
    	<include refid="tableName" /> 
    	where enabled = true
  	</select>
  	
	<select id="findById" resultMap="resultMap">
    	select * 
    	from 
    	<include refid="tableName" /> 
    	where id = #{id} 
  	</select>
  	
	<select id="findCountById" resultType="Long">
    	select count(*) 
    	from  
    	<include refid="tableName" /> 
    	where id = #{id} 
  	</select>
  	
	<select id="findAll" resultMap="resultMap">
    	select * 
    	from 
    	<include refid="tableName" />
  	</select>
  	
	<insert id="save" parameterType="com.anders.vote.bo.UserGroup" useGeneratedKeys="true" keyProperty="id">
	    insert into 
		<include refid="tableName" /> 
	    (name, enabled, add_user_id, update_user_id, add_time, update_time, version) 
	    values 
	    (#{name}, #{enabled}, #{addUserId}, #{updateUserId}, #{addTime}, #{updateTime}, #{version})
	</insert>
	
	<update id="update" parameterType="com.anders.vote.bo.UserGroup">
	    update 
		<include refid="tableName" /> 
		set 
	    name = #{name},
	    enabled = #{enabled},
	    add_user_id = #{addUserId},
	    update_user_id = #{updateUserId},
	    add_time = #{addTime},
	    update_time = #{updateTime},
	    version = version + 1
	    where id = #{id} and version = #{version}
	</update>
	
	<update id="disabled" parameterType="com.anders.vote.bo.UserGroup">
    	update 
    	<include refid="tableName" /> 
    	set 
    	enabled = false,
    	version = version + 1
    	where id = #{id} and enabled = true and version = #{version}
  	</update>
  	
	<delete id="delete" parameterType="com.anders.vote.bo.UserGroup">
    	delete from 
    	<include refid="tableName" /> 
    	where id = #{id} and version = #{version}
  	</delete>
</mapper>