<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee"
 	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
 	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   
 	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 	
 	<display-name>SSH</display-name>
 	
 	<!-- jwebap begin -->
 	<context-param>
		<param-name>jwebap-config</param-name>
		<param-value>/WEB-INF/jwebap.xml</param-value>
	</context-param>
	<!-- 配置在所有listener之前，以保证Jwebap最先启动 -->
	<listener>	
		<listener-class>org.jwebap.startup.JwebapListener</listener-class>	
	</listener>
	<filter>
		<filter-name>PageDetectFilter</filter-name>
		<filter-class>org.jwebap.plugin.tracer.http.DetectFilter</filter-class>
		<init-param>
			<param-name>excludeUrls</param-name>
			<param-value>/detect;/detect/*;*.js;*.jpg;*.htm;*.html;*.gif;*.png;*.css;*.swf</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>PageDetectFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>detect</servlet-name>
		<servlet-class>org.jwebap.ui.controler.JwebapServlet</servlet-class>	
	</servlet>

	<servlet-mapping>
		<servlet-name>detect</servlet-name>
		<url-pattern>/detect/*</url-pattern>
	</servlet-mapping>
	<!-- jwebap end -->
 	
 	<context-param>
 		<param-name>contextConfigLocation</param-name>
 		<param-value>
 			classpath*:spring.xml
 			<!--  
 			classpath*:config/spring-cxf.xml
 			classpath*:org/codehaus/xfire/spring/xfire.xml
 			classpath*:config/spring-xfire.xml
 			-->
 		</param-value>
 	</context-param>
 	
    <!-- Wicket -->
	<filter>
        <filter-name>wicket</filter-name>
        <filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
        <init-param>
            <param-name>applicationClassName</param-name>
            <param-value>com.anders.ssh.wicket.WicketApplication</param-value>
        </init-param>        
    </filter>
    <filter-mapping>
		<filter-name>wicket</filter-name> 
		<url-pattern>/wicket/*</url-pattern>
    </filter-mapping>
 	
 	<servlet>
		<servlet-name>wicket</servlet-name>
		<servlet-class>org.apache.wicket.protocol.http.WicketServlet</servlet-class>
		<init-param>
			<param-name>applicationFactoryClassName</param-name>
			<param-value>org.apache.wicket.spring.SpringWebApplicationFactory</param-value>
		</init-param>
		<init-param>
			<param-name>applicationBean</param-name>
			<param-value>wicketApplication</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>wicket</servlet-name>
		<url-pattern>*.wicket</url-pattern>
	</servlet-mapping>
 	
 	<!-- Tapestry -->
 	<!--  
 	<context-param>
		<param-name>tapestry.app-package</param-name>
		<param-value>tapestry</param-value>
	</context-param>
	<filter>
		<filter-name>app</filter-name>
		<filter-class>org.apache.tapestry5.spring.TapestrySpringFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>app</filter-name>
		<url-pattern>*.tapestry</url-pattern>
	</filter-mapping>
	-->
 	 
	<!-- XFire -->
	<!--
	<servlet>
    	<servlet-name>XFireServlet</servlet-name>
    	<servlet-class>org.codehaus.xfire.spring.XFireSpringServlet</servlet-class>
  	</servlet>
	<servlet-mapping>
    	<servlet-name>XFireServlet</servlet-name>
    	<url-pattern>/services/*</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
    	<servlet-name>XFireServlet</servlet-name>
    	<url-pattern>/servlet/XFireServlet/*</url-pattern>
  	</servlet-mapping> 
  	-->  
  	
  	<!-- CXF -->
  	<servlet>    
        <servlet-name>CXFServlet</servlet-name>    
        <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>    
    </servlet>    
    <servlet-mapping>    
        <servlet-name>CXFServlet</servlet-name>    
        <url-pattern>/cxf/*</url-pattern>    
    </servlet-mapping>

	<!-- axis2 -->
	<servlet>
		<servlet-name>axis2</servlet-name>
		<servlet-class>
			org.apache.axis2.transport.http.AxisServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>axis2</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>axis2</servlet-name>
		<url-pattern>/servlet/AxisServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>axis2</servlet-name>
		<url-pattern>*.jws</url-pattern>
	</servlet-mapping>

	<!-- Hibernate -->
    <filter>
		<filter-name>hibernateOpenSessionInViewFilter</filter-name>
		<filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>hibernateOpenSessionInViewFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- Spring配置文件载入 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!-- 自定义Listener，用于设置ServiceLocator -->
	<listener>
		<listener-class>com.anders.ssh.common.InitSystemListener</listener-class>
	</listener>

	<!-- Spring刷新Introspector防止内存泄露 -->
	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>
	
	<session-config>
		<session-timeout>10</session-timeout>
	</session-config>
 	
 	<welcome-file-list>
  		<welcome-file>index.jsp</welcome-file>
 	</welcome-file-list>
 	
 	<!-- hessian,burlap,http invoker配置的servlet,很不幸，spring mvc也用这个配置 -->
 	<servlet>      
   		<servlet-name>dispatcher</servlet-name>      
   		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>  
	</servlet>   
	<servlet-mapping>    
   		<servlet-name>dispatcher</servlet-name>  
   		<url-pattern>*.mvc</url-pattern>  
	</servlet-mapping>
 
 	<!-- 无用配置，暂时保留 -->
 	<!--
 	<login-config>
  		<auth-method>BASIC</auth-method>
 	</login-config>
 	-->
 	
 	<!--  
 	<servlet>
		<servlet-name>context</servlet-name>
		<servlet-class>org.springframework.web.context.ContextLoaderServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	-->
	
	<!--  
 	<context-param>    
 		<param-name>contextClass</param-name>    
 		<param-value>org.springframework.osgi.web.context.support.OsgiBundleXmlWebApplicationContext</param-value>  
 	</context-param>
 	-->
 	
 	<!--
    <listener>
        <listener-class>org.springframework.security.ui.session.HttpSessionEventPublisher</listener-class>
    </listener>
    -->
    
    <!-- WebService配置信息，对XFire好像不起作用，不过网上有哥们这么用 -->
	<!--  
	<servlet>      
   		<servlet-name>xfire</servlet-name>      
   		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>  
	</servlet>   
	   
	<servlet-mapping>    
   		<servlet-name>xfire</servlet-name>  
   		<url-pattern>/*</url-pattern>  
	</servlet-mapping>
	-->
	
	<!-- Character Encoding filter -->
	<!--  
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	-->
</web-app>