<?xml version="1.0" encoding="GBK"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:security="http://www.springframework.org/schema/security"  
       xmlns:jaxws="http://cxf.apache.org/jaxws"
	   xmlns:jaxrs="http://cxf.apache.org/jaxrs" 
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       	   				   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
           				   http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
           				   http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
           				   http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd
           				   http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
						   http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd">
						   
	<context:annotation-config/>
	
	<context:component-scan base-package="com.anders.ssh.common"/>
	<context:component-scan base-package="com.anders.ssh.dao.hibernate"/>
	<context:component-scan base-package="com.anders.ssh.dao.ibatis"/>
	<context:component-scan base-package="com.anders.ssh.dao.jdbc"/>
	<context:component-scan base-package="com.anders.ssh.dao.mongo"/>
	<context:component-scan base-package="com.anders.ssh.dao.redis"/>
	<context:component-scan base-package="com.anders.ssh.dao.mybatis"/>
	<context:component-scan base-package="com.anders.ssh.service"/>
						   
	<!-- property -->
	<import resource="classpath:config/spring-property.xml"/>
	
	<!-- ibatis -->
	<import resource="classpath:config/spring-ibatis.xml"/>
	
	<!-- mybatis -->
	<import resource="classpath:config/spring-mybatis.xml"/>
	
	<!-- mongodb -->
	<import resource="classpath:config/spring-mongo.xml"/>
	
	<!-- redis -->
	<import resource="classpath:config/spring-redis.xml"/>
	
	<import resource="classpath:config/spring-log.xml"/>
	
	<context:component-scan base-package="com.anders.ssh.others"/>
    
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="configLocation" value="classpath:hibernate.cfg.xml"/>
		<property name="hibernateProperties">
	    	<props>
	    		<prop key="hibernate.dialect">${dev.hibernate.dialect}</prop>
	    		<prop key="hibernate.show_sql">${dev.hibernate.show_sql}</prop>
	    		<prop key="hibernate.format_sql">${dev.hibernate.format_sql}</prop>
	    		<prop key="hibernate.hbm2ddl.auto">${dev.hibernate.hbm2ddl.auto}</prop>
	    		<prop key="hibernate.cache.provider_class">${hibernate.cache.provider_class}</prop>
				<prop key="hibernate.cache.use_query_cache">${hibernate.cache.use_query_cache}</prop>
				<prop key="hibernate.cache.use_second_level_cache">${hibernate.cache.use_second_level_cache}</prop> 
				<prop key="hibernate.cache.use_structured_entries">${hibernate.cache.use_structured_entries}</prop>
				<prop key="hibernate.cache.region_prefix">${hibernate.cache.region_prefix}</prop> 
				<prop key="hibernate.memcached.servers">${memcached.servers}</prop>  
				<prop key="hibernate.generate_statistics">${hibernate.generate_statistics}</prop>
				<!-- 
				<prop key="hibernate.memcached.memcacheClientFactory">${hibernate.memcached.memcacheClientFactory}</prop> 
				-->
	    	</props>
	    </property>
		<property name="mappingResources">
			<list>
				<!--  
		    	<value>com/anders/ssh/bo/xml/Data.hbm.xml</value>
		    	<value>com/anders/ssh/bo/xml/Area.hbm.xml</value>
		    	<value>com/anders/ssh/bo/xml/House.hbm.xml</value>
		    	<value>com/anders/ssh/bo/xml/RentHouse.hbm.xml</value>
		    	<value>com/anders/ssh/bo/xml/SecondHandHouse.hbm.xml</value>
		    	<value>com/anders/ssh/bo/xml/User.hbm.xml</value>
		    	<value>com/anders/ssh/bo/xml/Role.hbm.xml</value>
		    	<value>com/anders/ssh/bo/xml/UserGroup.hbm.xml</value>
		    	<value>com/anders/ssh/bo/xml/Resource.hbm.xml</value>
		    	-->
		    </list>
		</property>
		<!--  
		<property name="annotatedClasses">
			<list>
		    	<value>com.anders.ssh.bo.test.FenBiao</value>
		    </list>
		</property>
		-->
	    <property name="packagesToScan" value="com.anders.ssh.bo"/>
	</bean>
    
    <!-- 这个事务管理器的ID不要改，貌似Spring默认会使用这个ID -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
	  	<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<tx:annotation-driven transaction-manager="transactionManager"/>
	
	<!--  
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${dev.driver}" />
		<property name="url" value="${dev.url}" />
		<property name="username" value="${dev.username}" />
		<property name="password" value="${dev.password}" />
		<property name="maxActive" value="100" />
		<property name="maxWait" value="1000" />
		<property name="poolPreparedStatements" value="true" />
		<property name="defaultAutoCommit" value="true" />
	</bean>
	-->
    
	<bean id="dataSource" class="org.unitils.database.UnitilsDataSourceFactoryBean" />
</beans>