<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           				   http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
           				   http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">
           				   
	<import resource="classpath:config/spring-property.xml"/>
	<import resource="classpath:config/spring-jdbc.xml"/>

	<!-- 启用Spring对@AspectJ的支持，需要aspectjweaver.jar和aspectjrt.jar -->
	<aop:aspectj-autoproxy/>
	
	<!-- xml配置 -->
	<bean id="custService" class="com.anders.ssh.aop.impl.CustServiceImpl"/> 
	<bean id="loggerAspect" class="com.anders.ssh.aop.aspectj.xml.LoggerAspect"/> 
	
	<aop:config>
  		<aop:aspect id="aspect" ref="loggerAspect">
  			<aop:pointcut id="anyMethod" expression="execution(* com.anders.ssh.aop.impl.CustServiceImpl.*(..))"/>
  			<!--  
  			<aop:pointcut id="anyMethod" expression="execution(java.lang.String com.anders.ssh.aop.aspectj.xml.PersonService.*(..))"/>
  			<aop:pointcut id="anyMethod" expression="execution(* com.anders.ssh.aop.aspectj.xml.PersonService.*(java.lang.String, ..))"/>
  			<aop:pointcut id="anyMethod" expression="execution(!void com.anders.ssh.aop.aspectj.xml.PersonService.*(..))"/>
  			-->
  			<aop:before pointcut-ref="anyMethod" method="loggerBefore"/>
  			<aop:after-returning pointcut-ref="anyMethod" method="loggerAfterReturning"/>
  			<aop:after-throwing pointcut-ref="anyMethod" method="loggerThrowing"/>
  			<aop:after pointcut-ref="anyMethod" method="loggerAfter"/>
  			<aop:around pointcut-ref="anyMethod" method="loggerAround"/>
  		</aop:aspect>
	</aop:config>
	
	<!-- 以下用来配置事务 -->
	<!-- 
	如果用xml来配置事务，则可以删除下面的配置：
	<tx:annotation-driven transaction-manager="jdbcTxManager"/>
	 -->
	<aop:config>
  		<aop:pointcut id="txPointcut" expression="execution(* com.anders.ssh.aop.impl.CustServiceImpl.*(..))"/>
  		<aop:advisor pointcut-ref="txPointcut" advice-ref="txAdvice"/>
	</aop:config>
	<tx:advice id="txAdvice" transaction-manager="jdbcTxManager">
		<tx:attributes>
			<tx:method name="get*" read-only="true" propagation="NOT_SUPPORTED"/>
			<tx:method name="*"/>
  		</tx:attributes>
	</tx:advice> 
</beans>
