<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>{$title}</title>
        <link rel="stylesheet" type="text/css" href="css/index.css" />
        <script language="JavaScript" type="text/javascript" src="js/index.js"></script>
    </head>
    <body>
		<div id="head">
			<div id="logo"/>
			<div id="menu">
				<ul id="menu_left">
					<li><a href="#">给未来的我</a></li>
					<li>|</li>
					<li><a href="#">让他（她）知道</a></li>
				</ul>
				<ul id="menu_right">
					<li><a href="#">注册</a></li>
					<li>|</li>
					<li><a href="#">登录</a></li>
				</ul>
			</div>
			<div id="line"/>
		</div>
    </body>
</html>