<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="memcachedClient" class="net.spy.memcached.spring.MemcachedClientFactoryBean">
		<!--  
		<property name="servers" value="192.168.2.101:11211,192.168.2.102:11211,192.168.2.103:11211" />
		-->
		<property name="servers" value="${memcached.servers}" />
		<!-- Convenience method to specify the protocol to use {BINARY | TEXT} (defaults to TEXT) -->
		<property name="protocol" value="BINARY" />
		<!-- Set the default transcoder (defaults to net.spy.memcached.transcoders.SerializingTranscoder) -->
		<property name="transcoder">
			<bean class="net.spy.memcached.transcoders.SerializingTranscoder">
				<property name="compressionThreshold" value="1024" />
			</bean>
		</property>
		<!-- Set the default operation timeout in milliseconds -->
		<property name="opTimeout" value="1000" />
		<property name="timeoutExceptionThreshold" value="1998" />
		<property name="hashAlg" value="KETAMA_HASH" /> 
		<!--  
		<property name="hashAlg">
            <value type="net.spy.memcached.DefaultHashAlgorithm">KETAMA_HASH</value>
		</property>
		-->
		<!-- Set the locator type {ARRAY_MOD | CONSISTENT} (defaults to ARRAY_MOD) -->
		<property name="locatorType" value="CONSISTENT" />
		<!-- Set the failure mode {Cancel | Redistribute | Retry} (defaults to Redistribute) -->
		<property name="failureMode" value="Redistribute" />
		<property name="useNagleAlgorithm" value="false" />
	</bean>
</beans>
