<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="proxy" class="org.springframework.jmx.access.MBeanProxyFactoryBean">
		<property name="connectOnStartup" value="true" />
		<property name="objectName" value="myjmx:type=anders" />
		<property name="proxyInterface">
			<value>com.anders.ssh.jmx.MyManagedInterfaces</value>
		</property>
		<property name="serviceUrl">
			<value>service:jmx:rmi://127.0.0.1/jndi/rmi://127.0.0.1:1099/jmxrmi</value>
		</property>
	</bean>
</beans>
