<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:jaxws="http://cxf.apache.org/jaxws"
	   xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
						   http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
						   http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd">
						
	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-extension-jaxrs-binding.xml" />
	<import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" />
	<!--  
	<import resource="classpath:META-INF/cxf/cxf-extension-http.xml" />
	-->
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />
	
	<!-- web service -->
	<bean id="singerServiceImpl" class="com.anders.ssh.webservice.cxf.ws.SingerServiceImpl"/>

	<!-- jaxws:endpoint和jaxws:server这两种方式都可以 --> 
	<!--   
    <jaxws:endpoint id="wsCxf" implementor="#singerServiceImpl" address="/ws/singer"/>
    <jaxws:endpoint id="wsCxf" implementor="com.anders.ssh.webservice.cxf.ws.SingerServiceImpl" address="/ws/singer" />
    -->
    
    <jaxws:server id="wsCxf" address="/ws/singer">
    	<jaxws:serviceBean>
    		<ref bean="singerServiceImpl"/>
    	</jaxws:serviceBean>
    </jaxws:server>
    
    <!-- restful -->
    <bean id="infoServiceImpl" class="com.anders.ssh.webservice.cxf.rs.InfoServiceImpl"/>
    
    <jaxrs:server id="rsCxf" address="/rs">
    	<jaxrs:serviceBeans>
    		<ref bean="infoServiceImpl"/>
    	</jaxrs:serviceBeans>
    </jaxrs:server>
  
</beans>
